<!-- IF ANNOUNCEMENT_ENABLE -->
	<!-- IF ANNOUNCEMENT_ENABLE_GUESTS and not S_USER_LOGGED_IN and not ANNOUNCEMENT_SHOW_EVERYONE and not ANNOUNCEMENT_SHOW or ANNOUNCEMENT_SHOW-->
	<div id="global-announcement" class="post round-5 bg5 clearfix">
		<div class="inner">
			<h3>
			<!-- IF ANNOUNCEMENT_ENABLE_GUESTS and not S_USER_LOGGED_IN and not ANNOUNCEMENT_SHOW_EVERYONE and not ANNOUNCEMENT_SHOW -->
				<!-- IF ANNOUNCEMENT_TITLE_GUESTS -->{ANNOUNCEMENT_TITLE_GUESTS}<!-- ELSE -->{L_ANNOUNCEMENT_TITLE_GUESTS}<!-- ENDIF -->
			<!-- ELSEIF ANNOUNCEMENT_SHOW-->
				<!-- IF ANNOUNCEMENT_TITLE -->{ANNOUNCEMENT_TITLE}<!-- ELSE -->{L_ANNOUNCEMENT_TITLE}<!-- ENDIF -->
			<!-- ENDIF -->
			</h3>
			<!-- IF ANNOUNCEMENT_ENABLE_GUESTS and not S_USER_LOGGED_IN and not ANNOUNCEMENT_SHOW_EVERYONE and not ANNOUNCEMENT_SHOW-->
			<div class="post-message"><br />{ANNOUNCEMENT_TEXT_GUESTS}<br /><br /></div>
			<!-- ELSE -->
			<div class="post-message"><br />{ANNOUNCEMENT_TEXT}
				<!-- IF S_HASATTACHMENTS -->
					<dl class="attachbox">
						<dt>{L_ATTACHMENTS}</dt>
							<!-- BEGIN announcement_attachments -->
							<dd>{announcement_attachments.DISPLAY_ATTACHMENTS}</dd>
							<!-- END announcement_attachments -->
						</dl>
				<!-- ENDIF -->
				<!-- IF U_ANNOUNCEMENT_GOTOPOST -->
					<br /><br />
					<a href="{U_ANNOUNCEMENT_GOTOPOST}" >{L_ANNOUNCEMENT_GOTOPOST}</a>
				<!-- ENDIF -->
					<br /><br /></div>
			<!-- ENDIF -->
		</div>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

