<!-- @start forumlist_body -->

<a name="start_here"></a>
<!-- INCLUDE announcement_centre.html -->
<!-- @start Content -->
<div id="content" class="grid_24">
	<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
	<div id="information" class="rules">
		<div class="inner"> <strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED} </div>
	</div>
	<!-- ENDIF -->
	
	
	
<script type="text/javascript">
function show_details(id)
{
	if(document.getElementById(id).style.display == 'none')
	{
		//Display
		document.getElementById(id).style.display = 'block';
		//Change link
		document.getElementById('phpbb_'+id).innerHTML = '<a class="expand minus" href="javascript:show_details(\''+id+'\');" title="{L_EXPAND_CAT_HIDE}">-</a>';
		//Delete cookie 
		document.cookie = '{COOKIE_NAME}_'+id+'_aff_stat=1;';
	}
	else
	{
		//Don't display
		document.getElementById(id).style.display = 'none';
		//Change link
		document.getElementById('phpbb_'+id).innerHTML = '<a class="expand plus" href="javascript:show_details(\''+id+'\');" title="{L_EXPAND_CAT_DISPLAY}">+</a>';		
		//Create cookie 
		document.cookie = '{COOKIE_NAME}_'+id+'_aff_stat=0;';
	}
}
</script>

		<!-- BEGIN forumrow -->
		<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
		</ul>
	</div>
</div>
</div>
<!-- ENDIF -->

<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
<!-- @start Forum -->
<div class="forabg clearfix">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt class="grid_13">
						<!-- IF forumrow.S_IS_CAT -->
						<span class="ftab"><em class="no-expand" id="phpbb_cat_{forumrow.FORUM_ID}">{forumrow.DISPLAY_CAT_LINK}</em><b class="ftitle"><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></b></span>
						<!-- ELSE -->
						<span class="ftab"><em class="no-expand" id="phpbb_cat_{forumrow.FORUM_ID}"></em><b class="ftitle">{L_FORUM}</b></span>
						<!-- ENDIF -->
					</dt>
					<dd class="topics grid_2">{L_TOPICS}</dd>
					<dd class="posts grid_2">{L_POSTS}</dd>
					<dd class="lastpost grid_6"><span>{L_LAST_POST}</span></dd>
				</dl>
			</li>
		</ul>
		<div class="wrap round-3">
			<ul id="cat_{forumrow.FORUM_ID}" style="display:{forumrow.DISPLAY_CAT};" class="topiclist forums">
				<!-- ENDIF -->
				<!-- IF not forumrow.S_IS_CAT -->
				<li class="row">
					<dl class="icon">
						<dt class="grid_13" title="{forumrow.FORUM_FOLDER_IMG_ALT}"> 
							<span class="grid_2 alpha fimg {forumrow.FORUM_IMG_STYLE}">&nbsp;</span>
							<span class="grid_11 alpha forum-wrap">
								<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a> <p>{forumrow.FORUM_DESC}</p>
								<!-- IF forumrow.MODERATORS -->
								<dfn><strong class="sublabel">{forumrow.L_MODERATOR_STR}:</strong> <em class="mods grid_9">{forumrow.MODERATORS}</em></dfn>
								<!-- ENDIF -->
								<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
								<dfn><strong class="sublabel">{forumrow.L_SUBFORUM_STR}</strong> <em class="subs grid_9">{forumrow.SUBFORUMS}</em></dfn>
								<!-- ENDIF -->
							</span>
						</dt>
						<!-- IF forumrow.CLICKS -->
						<dd class="redirect grid_10"><span>{L_REDIRECTS}: {forumrow.CLICKS}</span></dd>
						<!-- ELSEIF not forumrow.S_IS_LINK -->
						<dd class="topics grid_2">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
						<dd class="posts grid_2">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
						<dd class="lastpost grid_6"><span>
							<!-- IF forumrow.U_UNAPPROVED_TOPICS -->
							<a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>
							<!-- ENDIF -->
							<!-- IF forumrow.LAST_POST_TIME -->
							<dfn>{L_LAST_POST}</dfn> <a title="{forumrow.LAST_POST_SUBJECT}" href="{forumrow.U_LAST_POST}">Re: {forumrow.LAST_POST_SUBJECT}</a><br />{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
							<!-- IF not S_IS_BOT -->
							<a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a>
							<!-- ENDIF -->
							<br />
							{forumrow.LAST_POST_TIME}
							<!-- ELSE -->
							{L_NO_POSTS}<br />
							&nbsp;
							<!-- ENDIF -->
							</span> </dd>
						<!-- ENDIF -->
					</dl>
				</li>
				<!-- ENDIF -->
				<!-- IF forumrow.S_LAST_ROW -->
			</ul>
		</div>
	</div>
</div>
<!-- @end Forum -->
<!-- ENDIF -->
<!-- BEGINELSE -->
<div class="panel">
	<div class="inner"> <strong>{L_NO_FORUMS}</strong> </div>
</div>

<!-- END forumrow -->
</div>
<!-- @end Content -->
<!-- @end forumlist_body -->