<!-- INCLUDE overall_header.html -->

<!-- INCLUDE forumlist_body.html -->

<!-- @start Info -->
<div id="info" class="grid_24">
	<!-- @start Whos On -->
	<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3>{L_WHO_IS_ONLINE}</h3>
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />
		{RECORD_USERS}<br />
		<br />
		{LOGGED_IN_USER_LIST}
		<!-- IF LEGEND -->
		<br />
		<em>{L_LEGEND}: {LEGEND}</em>
		<!-- ENDIF -->
	</p>
	<!-- ENDIF -->
	<!-- @end Whos On -->
	<!-- @start Stats -->
	<!-- IF NEWEST_USER -->
	<h3 class="stats">{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}</p>
	<!-- ENDIF -->
	<!-- @end Stats -->
</div>
<!-- @end Info -->

<!-- INCLUDE overall_footer.html -->