<!-- INCLUDE ucp_header.html -->

				<h2>{L_TITLE}</h2>

				<div class="panel grid_18 round-5">
					<div class="inner">

						<p>{L_UCP_WELCOME}</p>

						<!-- IF .topicrow -->
						<h3>{L_IMPORTANT_NEWS}</h3>

						<ul class="topiclist cplist">
							<!-- BEGIN topicrow -->
							<li class="row">
								<dl class="icon">
									<dt class="grid_10">
										<span class="fimg {topicrow.TOPIC_IMG_STYLE}"></span>
										<!-- IF topicrow.S_UNREAD_TOPIC -->
										<a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a>
										<!-- ENDIF -->
										<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
										<!-- IF topicrow.SOLVED_TOPIC -->
										&nbsp;&nbsp;<a href="{topicrow.U_SOLVED_TOPIC}" class="topictitle"{topicrow.SOLVED_STYLE}>{topicrow.SOLVED_TOPIC}</a>
										<!-- ENDIF -->
										<br />
										<!-- IF topicrow.PAGINATION -->
										<strong class="pagination"><span>{topicrow.PAGINATION}</span></strong>
										<!-- ENDIF -->
										<!-- IF topicrow.ATTACH_ICON_IMG -->
										{topicrow.ATTACH_ICON_IMG} 
										<!-- ENDIF -->
										{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
									</dt>
									<dd class="lastpost grid_5"><span>{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
										<a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <br />{topicrow.LAST_POST_TIME}</span>
									</dd>
								</dl>
							</li>
							<!-- END topicrow -->
						</ul>
						<!-- ENDIF -->

						<h3>{L_YOUR_DETAILS}</h3>

						<dl class="details">
							<dd><strong>{L_JOINED}:</strong> {JOINED}</dd>
							<dd><strong>{L_VISITED}:</strong> {LAST_VISIT_YOU}</dd>
							<dd><strong>{L_TOTAL_POSTS}:</strong> <!-- IF POSTS_PCT -->{POSTS}<!-- IF S_DISPLAY_SEARCH --> | <a href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a><!-- ENDIF --> | ({POSTS_DAY} / {POSTS_PCT})<!-- ELSE -->{POSTS}<!-- ENDIF -->
							</dd>
							<!-- IF ACTIVE_FORUM -->
							<dd><strong>{L_ACTIVE_IN_FORUM}:</strong> <a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a> | ({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})
							</dd>
							<!-- ENDIF -->
							<!-- IF ACTIVE_TOPIC -->
							<dd><strong>{L_ACTIVE_IN_TOPIC}:</strong> <a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a> | ({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})
							</dd>
							<!-- ENDIF -->
							<!-- IF WARNINGS -->
							<dd><strong>{L_YOUR_WARNINGS}:</strong> <p class="error">{WARNING_IMG} [{WARNINGS}]</p></dd>
							<!-- ENDIF -->
						</dl>

					</div>
				</div>

<!-- INCLUDE ucp_footer.html -->