<!-- INCLUDE overall_header.html -->
<div id="forum-head" class="grid_24 viewforum_body">
	<h2><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>
	<!-- IF FORUM_DESC or MODERATORS -->
	<!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
	<!-- IF FORUM_DESC --><p>{FORUM_DESC}</p><!-- ENDIF -->
	<!-- IF MODERATORS --><p><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->:</strong> {MODERATORS}</p><!-- ENDIF -->
<!-- ENDIF -->
</div>
<!-- IF S_FORUM_RULES -->
	<div id="rules" class="round-5 grid_24">
		<div class="inner">

		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->

		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO or PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
	<div class="topic-actions grid_24 clearfix linklist viewforum" <!-- IF S_HAS_SUBFORUM -->style="margin-top: 2em;"<!-- ENDIF -->>
		<ul class="clearfix float">
	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<li class="buttons grid_13">
				<span class="<!-- IF S_IS_LOCKED -->button_locked<!-- ELSE -->button_newpost<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a>
				</span>
			<!-- IF S_DISPLAY_SEARCHBOX -->
				<div class="search-box">
					<form method="post" id="forum-search" action="{S_SEARCHBOX_ACTION}">
						<fieldset>
							<dl>
								<dd>
								<input class="inputbox search tiny" type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_FORUM}" onclick="if (this.value == '{LA_SEARCH_FORUM}') this.value = '';" onblur="if (this.value == '') this.value = '{LA_SEARCH_FORUM}';" />
								</dd>
								<dd class="submit">
									<input class="button2" type="submit" value="{L_SEARCH}" />
								</dd>
								<dd>
									<input type="hidden" value="{FORUM_ID}" name="fid[]" />
								</dd>
							</dl>
						</fieldset>
					</form>
				</div>
			<!-- ENDIF -->
			</li>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
			<li class="rightside pagination grid_10">
			<!-- IF not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}" accesskey="m">{L_MARK_TOPICS_READ}</a> &bull; <!-- ENDIF --><!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF PAGE_NUMBER -->
				<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
			<!-- ENDIF -->
			</li>
	<!-- ENDIF -->
		</ul>
	</div>
<!-- ENDIF -->

<a name="start_here"></a>
<!-- @start Content -->
<div id="content" class="grid_24">
	<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
	<div id="information" class="rules round-5">
		<div class="inner"> <strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED} </div>
	</div>
	<!-- ENDIF -->
<!-- IF S_NO_READ_ACCESS -->
	<div class="panel grid_24">
	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form action="{S_LOGIN_ACTION}" method="post">
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
	<!-- @start forumlist_body -->
			<!-- BEGIN forumrow -->
				<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>
		</div>
	</div>
</div>
				<!-- ENDIF -->
				<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
				<!-- @start Forum -->
	<div class="forabg clearfix">
		<div class="inner grid_24">
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt class="grid_13">
							<!-- IF forumrow.S_IS_CAT -->
							<span class="ftab"><em class="no-expand" id="phpbb_cat_{forumrow.FORUM_ID}">{forumrow.DISPLAY_CAT_LINK}</em><b class="ftitle"><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></b></span>
							<!-- ELSE -->
							<span class="ftab"><em class="no-expand" id="phpbb_cat_{forumrow.FORUM_ID}"></em><b class="ftitle">{L_FORUM}</b></span>
							<!-- ENDIF -->
						</dt>
						<dd class="topics grid_2">{L_TOPICS}</dd>
						<dd class="posts grid_2">{L_POSTS}</dd>
						<dd class="lastpost grid_6"><span>{L_LAST_POST}</span></dd>
					</dl>
				</li>
			</ul>
			<div class="wrap round-3">
				<ul id="cat_{forumrow.FORUM_ID}" style="display:{forumrow.DISPLAY_CAT};" class="topiclist forums">
					<!-- ENDIF -->
					<!-- IF not forumrow.S_IS_CAT -->
					<li class="row">
						<dl class="icon">
							<dt class="grid_13" title="{forumrow.FORUM_FOLDER_IMG_ALT}"> 
								<span class="grid_2 alpha fimg {forumrow.FORUM_IMG_STYLE}">&nbsp;</span>
								<span class="grid_11 alpha forum-wrap">
									<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a>
									<p>{forumrow.FORUM_DESC}</p>
									<!-- IF forumrow.MODERATORS -->
									<dfn><strong class="sublabel">{forumrow.L_MODERATOR_STR}:</strong> <em class="mods grid_9">{forumrow.MODERATORS}</em><dfn>
									<!-- ENDIF -->
									<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
									<dfn><strong class="sublabel">{forumrow.L_SUBFORUM_STR}</strong> <em class="subs grid_9">{forumrow.SUBFORUMS}</em><dfn>
									<!-- ENDIF -->
								</span>
							</dt>
							<!-- IF forumrow.CLICKS -->
							<dd class="redirect grid_10"><span>{L_REDIRECTS}: {forumrow.CLICKS}</span></dd>
							<!-- ELSEIF not forumrow.S_IS_LINK -->
							<dd class="topics grid_2">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
							<dd class="posts grid_2">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
							<dd class="lastpost grid_6"><span>
								<!-- IF forumrow.U_UNAPPROVED_TOPICS -->
								<a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>
								<!-- ENDIF -->
								<!-- IF forumrow.LAST_POST_TIME -->
								<dfn>{L_LAST_POST}</dfn> <a title="{forumrow.LAST_POST_SUBJECT}" href="{forumrow.U_LAST_POST}">Re: {forumrow.LAST_POST_SUBJECT}</a><br />{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
								<!-- IF not S_IS_BOT -->
								<a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a>
								<!-- ENDIF -->
								<br />
								{forumrow.LAST_POST_TIME}
								<!-- ELSE -->
								{L_NO_POSTS}<br />
								&nbsp;
								<!-- ENDIF -->
								</span> </dd>
							<!-- ENDIF -->
						</dl>
					</li>
					<!-- ENDIF -->
					<!-- IF forumrow.S_LAST_ROW -->
				</ul>
			</div>
		</div>
	</div>
				<!-- @end Forum -->
				<!-- ENDIF -->
				<!-- BEGINELSE -->
				<div class="panel">
					<div class="inner"> <strong>{L_NO_FORUMS}</strong> </div>
				</div>

			<!-- END forumrow -->
	<!-- @end forumlist_body -->
<!-- ENDIF -->

<!-- BEGIN topicrow -->
<!-- @start viewforum_body -->
	<!-- IF not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW -->
			</ul>
		</div>
	</div>
</div>
<!-- ENDIF -->

	<!-- IF topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH -->
	<div class="forumbg<!-- IF topicrow.S_TOPIC_TYPE_SWITCH --> announcement<!-- ENDIF --> clearfix">	
		<div class="inner grid_24">
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt class="grid_13">
								<span class="ftab">
									<em class="no-expand" id="phpbb_cat_{forumrow.FORUM_ID}"></em>
									<b class="ftitle">
										<!-- IF S_DISPLAY_ACTIVE -->{L_ACTIVE_TOPICS}<!-- ELSEIF topicrow.S_TOPIC_TYPE eq 3 -->{L_GLOBAL_ANNOUNCEMENTS}<!-- ELSEIF topicrow.S_TOPIC_TYPE eq 2 -->{L_ANNOUNCEMENTS}<!-- ELSEIF topicrow.S_TOPIC_TYPE eq 1 -->{L_STICKY}<!-- ELSE -->{L_TOPICS}<!-- ENDIF -->
									</b>
								</span>
							</dt>
							<dd class="posts grid_2">{L_REPLIES}</dd>
							<dd class="views grid_2">{L_VIEWS}</dd>
							<dd class="lastpost grid_6"><span>{L_LAST_POST}</span></dd>
						</dl>
					</li>
				</ul>
				<div class="wrap round-3">
					<ul class="topiclist forum-topics">
	<!-- ENDIF -->

						<li class="row<!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
							<dl class="icon" >
								<dt class="grid_13">
									<span class="fimg {topicrow.TOPIC_IMG_STYLE}"></span>
									<!-- IF topicrow.S_UNREAD_TOPIC -->
									<a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a>
									<!-- ENDIF -->
									<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
									<!-- IF topicrow.SOLVED_TOPIC -->
									&nbsp;&nbsp;<a href="{topicrow.U_SOLVED_TOPIC}" class="topictitle"{topicrow.SOLVED_STYLE}>{topicrow.SOLVED_TOPIC}</a>
									<!-- ENDIF -->
									<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
									<a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a> 
									<!-- ENDIF -->
									<!-- IF topicrow.S_TOPIC_REPORTED -->
									<a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>
									<!-- ENDIF -->
									<br />
									<!-- IF topicrow.PAGINATION -->
									<strong class="pagination"><span>{topicrow.PAGINATION}</span></strong>
									<!-- ENDIF -->
									<!-- IF topicrow.ATTACH_ICON_IMG -->
									{topicrow.ATTACH_ICON_IMG} 
									<!-- ENDIF -->
									{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; {topicrow.FIRST_POST_TIME}
								</dt>
								<dd class="posts grid_2">{topicrow.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
								<dd class="views grid_2">{topicrow.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
								<dd class="lastpost grid_6"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{topicrow.LAST_POST_TIME}</span>
								</dd>
							</dl>
						</li>

	<!-- IF topicrow.S_LAST_ROW -->
					</ul>
				</div>
		</div>
	</div>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<!-- IF S_IS_POSTABLE -->
	<div class="panel">
		<div class="inner">
			<strong>{L_NO_TOPICS}</strong>
		</div>
	</div>
	<!-- ENDIF -->
	<!-- @eend viewforum_body -->
<!-- END topicrow -->
</div>
<!-- @end Content -->

<!-- IF S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE -->
<div class="sort grid_24 clearfix">
	<form method="post" action="{S_FORUM_ACTION}">
		<fieldset class="display-options grid_24">
			<dl>
				<dd class="prev grid_4">
					<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">&larr; {L_PREVIOUS}</a><!-- ELSE --> &nbsp; <!-- ENDIF -->
				</dd>
				<dd class="grid_14">
	<!-- IF not S_IS_BOT -->
					<label>{L_DISPLAY_TOPICS}: {S_SELECT_SORT_DAYS}</label>
					<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
					<label>{S_SELECT_SORT_DIR}</label>
				</dd>
				<dd class="go grid_1">
					<input type="submit" name="sort" value="{L_GO}" class="button2" />
				</dd>
				<dd class="next grid_4">
					<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT} &rarr;</a><!-- ELSE --> &nbsp; <!-- ENDIF -->
				</dd>
			</dl>
	<!-- ENDIF -->
		</fieldset>
	</form>
</div>
	<hr />
<!-- ENDIF -->

<!-- IF .topicrow and not S_DISPLAY_ACTIVE -->
	<div class="topic-actions grid_24 clearfix viewforum">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<li class="buttons grid_13">
			<span class="<!-- IF S_IS_LOCKED -->_button_locked<!-- ELSE -->button_newpost<!-- ENDIF -->" title="<!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF -->"><a href="{U_POST_NEW_TOPIC}"><span></span><!-- IF S_IS_LOCKED -->{L_FORUM_LOCKED}<!-- ELSE -->{L_POST_TOPIC}<!-- ENDIF --></a></span>
		</li>
		<!-- ENDIF -->

		<!-- IF PAGINATION or TOTAL_POSTS or TOTAL_TOPICS -->
		<li class="rightside pagination grid_10">
			<!-- IF TOTAL_TOPICS and not S_IS_BOT and U_MARK_TOPICS --><a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a> &bull;  <!-- ENDIF -->
			<!-- IF TOTAL_POSTS and not NEWEST_USER --> {TOTAL_POSTS}<!-- ELSEIF TOTAL_TOPICS and not NEWEST_USER --> {TOTAL_TOPICS}<!-- ENDIF -->
			<!-- IF TOTAL_USERS -->{TOTAL_USERS}<!-- ENDIF -->
			<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			 &bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</li>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<div id="info" class="grid_24">
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3 class="online">{L_WHO_IS_ONLINE}</h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
	<h3 class="stats">{L_FORUM_PERMISSIONS}</h3>
	<p><!-- BEGIN rules -->{rules.RULE}<br /><!-- END rules --></p>

<!-- ENDIF -->
</div>

<!-- INCLUDE overall_footer.html -->