/*------------------------------------*\
    $OBJECT--POST
\*------------------------------------*/
/**
 *  Contains all styles for posts
 */

/**
 *  Post / copy
 */
.post {
    font-weight: normal;
    .line-height(@base-line-height);

    .padding(0, @half-spacing-unit, @double-spacing-unit);

    /**
     * Button Overides
     */
    .btn:extend(.text-bold) { font-weight: 700; }
    .btn:hover {
        background-color: @white;
        color: @black;
    }

    h2 { .margin(@double-spacing-unit, 0, @half-spacing-unit); }

    table > tbody > tr > td { text-align: left; }
}

/**
 *  Alternate styles every other post
 */
.post-even, .post-odd { font-weight: 200; }
.post-odd {
    .post-title,
    p { text-align: right; }
    .btn { float: right; }
    .post-date { 
        text-align: center;

        float: left; 
    }
}

/**
 *  Styles for featured section
 */
 .post-featured {
    .margin-top(@quintuple-spacing-unit);
    img {
        border: 10px solid rgba(0,0,0,.07);
        border-radius: 50%;
        .box-shadow(0px 0px 0px 1px rgba(0,0,0,.1));

        display: block;
        height: 300px;
        margin: -55px auto @base-spacing-unit*1px;
        width: 300px;
    }
}


/**
 *  Style the date of the post
 */
.post-date {
   
   .font-size(21);
   font-weight: 700;
   .line-height(18);

    color: @white;
    .opacity(.5);

    display: inline-block;
    float: right;
   
   .margin(@double-spacing-unit, 0, 0);
}

.post-day {
    .font-size(16);
    .line-height(16);
    letter-spacing: 0;
    text-align: center;

    border: 3px solid rgba(255,255,255,.9);
    border-radius: 50%;
    
    display: block;
    float: left;
    .padding(@quarter-spacing-unit, 0);
    width: 50px; 
}

/**
 *  Style the Title of the post
 */
.post-title { 
    color: @white;

    .margin-top(@quadruple-spacing-unit);

    small { 
        .opacity(.6);
        
        display: block;
    }
}

/**
 *  Style the post list on archives page
 */
.post-list {
    padding: 0;
    margin-left: -1px;
    .margin-bottom(@half-spacing-unit);

    li {
        border-bottom: 1px solid @white-darker;
        
        .padding(@quarter-spacing-unit, 0);

        &:first-child { border-top: 1px solid @white-darker; }
        &:hover { background-color: @white-dark; }
    }

    a { .cf(); }

    .post-title {
        .font-size(24);
        .line-height(30);
        letter-spacing: -2px;

        color: @black;
        
        display: block;
        padding-left: 0;
        margin: 0;

        small {
            .font-size(16);
            .line-height(21);
            letter-spacing: -1px;
            color: @black;

            display: block;
        }
    }

    .post-day {
        .font-size(16);
        font-weight: 700;
        .line-height(16);
        letter-spacing: 0;
        text-align: center;
        vertical-align: middle;

        border: 3px solid @base-link-color;
        border-radius: 50%;
        color: @base-link-color;
    
        display: block;
        float: none;
        margin: auto;
        width: 50px; 
    }

}

/**
 * BG Color Overides
 */
.blue .btn {
    background-color: @white;
    color: @black;
    &:hover {
        background-color: @black;
        color: @white;
    }
}

.white .btn:hover {
    background-color: @black;
    color: @white;
}

.white, .gray {
    .post-day {
        border-color: rgba(0,0,0,.8);
        color: @black;
    }
    .post-year:extend(.text-black) { color: @black; }

    .post-title:extend(.text-black) {
        color: @black;
        small { color: @black; }
    }
}

/**
 * Completely remove from the flow and screen readers.
 */

.draft:extend(.hidden) {}
