/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/**
 * common classes that can be usesed to control the positioning
 * of content.
 */
/**
 * Wrapper class
 * 
 * use on multiwrapps to avoid unwanted scollbars for mobile off canvas
 * menusalso provide more flexability and control for any other hidden 
 * elements.
 */
.outer-wrap,
.inner-wrap {
  position: relative;
  width: 100%;
}
/**
 * Grid Paint class
 * 
 * use on grid unit to color it
 */
.grid-paint {
  /* Decoration */
  background-color: #4a8ec2;
  border-radius: 4px;
  color: #fff;
  /* Layout */
  padding: 12px 6px;
}
@media (min-width: 45em) {
  .grid-paint {
    padding: 12px;
  }
}
