/*------------------------------------*\
    $ATOM-INLLINE-FORMS
\*------------------------------------*/
/**
 * Form Inline Class
 *
 * Make forms appear inline(-block) by adding the `.form-inline` class. Inline
 * forms begin stacked on extra small (mobile) devices and then go inline when
 * viewports reach <768px.
 *
 * Requires wrapping inputs and labels with `.form-group` for proper display of
 * default HTML form controls.
 */
.form-group {
  margin-bottom: 12px;
}
@media (min-width: 45em) {
  .form-inline fieldset {
    padding-left: 12px;
    padding-right: 12px;
  }
  .form-inline .form-group {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
  }
  .form-inline .form-group:first-child {
    margin-left: 0;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin: 0px 3px;
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
    top: 0;
  }
}
