/*------------------------------------*\
    $ATOM-LISTS
\*------------------------------------*/
/**
 * Horizontal Definition Lists
 */
.dl-horizontal dt {
  text-align: right;
  float: left;
  margin-top: 0;
  width: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}
.dl-horizontal dd {
  text-align: left;
  display: block;
  margin-left: 156px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after {
  clear: both;
}
.dl-horizontal:before,
.dl-horizontal:after {
  content: " ";
  display: table;
}
.dl-horizontal:after {
  clear: both;
}
/**
 * List Type Classes
 */
.list-unstyled,
.list-unstyled ul,
.list-unstyled ol {
  list-style: none;
}
.list-inline {
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 45em) {
  .list-inline {
    /**
         * Inline Description Lists
         * Defaults to being stacked without any of the below styles applied,
         * until the grid breakpoint is reached (default of ~768px).
         */
  }
  .list-inline > dt {
    display: inline-block;
    float: left;
    margin: 0px 12px;
    width: auto;
  }
  .list-inline > dd {
    display: inline-block;
    float: left;
    margin: -1px 12px 0px 0px;
  }
  .list-inline > dd:before,
  .list-inline > dd:after {
    content: " ";
    display: table;
  }
  .list-inline > dd:after {
    clear: both;
  }
}
