/*------------------------------------*\
    $COMPONENT-CONTENT
\*------------------------------------*/
/**
 * Conctent class
 *
 * main content of site container element
 */
.content {
  background: #ffffff;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
