/*------------------------------------*\
    $COMPONENT-INFO
\*------------------------------------*/
/**
 * Info Class
 *
 * Primary class for info section, used mostly for spacing
 */
.info {
  padding-top: 48px;
  padding-bottom: 24px;
}
/**
 * Info Stats
 *
 * style how the info stats look
 */
.info-stats {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 244px;
}
@media (min-width: 45em) {
  .info-stats {
    width: 627px;
  }
}
@media (min-width: 61.25em) {
  .info-stats {
    width: 751px;
  }
}
.info-stats > dd {
  text-align: center;
}
@media (min-width: 45em) {
  .info-stats > dd {
    text-align: left;
  }
}
@media (min-width: 45em) and (max-width: 61.25em) {
  .info-stats > dd {
    margin-left: 6px;
  }
}
.info-stats > dt {
  color: #808080;
}
.info-stats > dd,
.info-stats > dt {
  margin-bottom: 6px;
}
@media (min-width: 45em) and (max-width: 61.25em) {
  .info-stats > dd,
  .info-stats > dt {
    font-size: 12px;
    font-size: 0.75em;
  }
}
@media (min-width: 45em) {
  .info-stats > dd,
  .info-stats > dt {
    margin-bottom: 0px;
  }
}
