/*------------------------------------*\
    $COMPONENT-NAVBAR
\*------------------------------------*/
/**
 * Navbar class
 *
 * main navbar class to set some general styles
 */
.navbar {
  background-color: #f4726d;
  color: #f4726d;
}
.navbar a {
  color: #f79592;
}
.navbar a:hover {
  color: #ffffff;
}
.navbar .navbar-nav-item {
  padding: 0;
}
@media only screen and (max-width: 30em) {
  .navbar .grid {
    padding: 0px;
  }
}
/**
 * Navbar Brand
 *
 * style the site logo
 */
.navbar-brand .brand-logo {
  width: 120px;
  margin-bottom: -10px;
  padding-top: 6px;
}
/**
 * Navbar Nav Item
 *
 * This is one link item of the sub nav
 */
.navbar-nav-item {
  position: relative;
}
.navbar-nav-item > a {
  font-size: 16px;
  font-size: 1em;
  display: block;
  padding: 12px 18px;
}
.navbar-nav-item > a > .icon,
.navbar-nav-item > a > .octicons {
  font-size: 24px;
  font-size: 1.5em;
}
.navbar-nav-item > a .badge {
  left: 29px;
}
.navbar-nav-item:before,
.navbar-nav-item:after {
  content: " ";
  display: table;
}
.navbar-nav-item:after {
  clear: both;
}
/**
 * Navbar User
 *
 * the user link
 */
/**
 * Navbar Avatar
 *
 * the avatar
 */
.navbar-avatar {
  margin: -10px 10px 0px 0px;
}
/**
 * Navbar Nav search
 *
 * This is one link item of the sub nav
 */
.navbar-nav-search {
  display: inline-block;
  float: left;
  padding-top: 8px;
  width: 300px;
}
@media only screen and (min-width: 45em) {
  .navbar-nav-search {
    width: 130px;
  }
}
@media only screen and (min-width: 61.25em) {
  .navbar-nav-search {
    width: 250px;
  }
}
.navbar-nav-search > .search {
  border-color: #f4726d;
  color: #f4726d;
}
.navbar-nav-search > .search:-moz-placeholder {
  color: #f4726d;
}
.navbar-nav-search > .search::-moz-placeholder {
  color: #f4726d;
}
.navbar-nav-search > .search:-ms-input-placeholder {
  color: #f4726d;
}
.navbar-nav-search > .search::-webkit-input-placeholder {
  color: #f4726d;
}
.navbar-nav-search > .search:focus {
  border-color: #f79592;
  color: #f79592;
}
.navbar-nav-search > .search:focus:-moz-placeholder {
  color: #f79592;
}
.navbar-nav-search > .search:focus::-moz-placeholder {
  color: #f79592;
}
.navbar-nav-search > .search:focus:-ms-input-placeholder {
  color: #f79592;
}
.navbar-nav-search > .search:focus::-webkit-input-placeholder {
  color: #f79592;
}
/**
 * Navbar Nav Sub Arrow
 *
 * the arrow for the dropdown menu
 */
.navbar-nav-sub-arrow {
  font-size: 24px;
  font-size: 1.5em;
  float: left;
  position: absolute;
  z-index: 1020;
  color: #f79592;
  margin: -18px 0px 0px;
}
@media only screen and (min-width: 61.25em) {
  .navbar-nav-sub-arrow {
    margin: -20px 0px 0px;
  }
}
.dropdown {
  position: relative;
}
/**
 * Navbar Nav Sub
 *
 * standard sub mebu styles
 */
.dropdown-menu {
  font-size: 16px;
  font-size: 1em;
  background-color: transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  list-style: none;
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1020;
  margin: 8px 0px 0px;
}
.dropdown-menu.is-active-nav {
  display: block;
}
.dropdown-menu > li > a {
  background-color: #f79592;
  color: #ffffff;
  display: block;
  clear: both;
  padding: 6px 15px;
  white-space: nowrap;
}
.dropdown-menu > li > a .icon,
.dropdown-menu > li > a .octicons {
  padding-right: 6px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #f4726d;
}
.dropdown-menu > li > a:hover .navbar-nav-sub-arrow,
.dropdown-menu > li > a:focus .navbar-nav-sub-arrow {
  color: #f4726d;
}
.dropdown-menu > li:first-of-type > a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.dropdown-menu > li:last-of-type > a {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-menu .navbar-nav-sub-header {
  background-color: #f4726d;
  color: #ffffff;
  display: block;
  padding: 6px 15px;
  white-space: nowrap;
}
.dropdown-menu .navbar-nav-sub-header:first-of-type {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.dropdown-menu .navbar-nav-sub-header .navbar-nav-sub-arrow {
  color: #f4726d;
}
.dropdown-menu.actions-sub {
  margin-left: -137px;
}
.dropdown-menu.actions-sub > li > a {
  background-color: #ffffff;
  color: #b3b3b3;
}
.dropdown-menu.actions-sub > li > a:hover {
  background-color: #ffffff;
  color: #f4726d;
}
.dropdown-menu.actions-sub > li .navbar-nav-sub-arrow {
  margin-left: -18px;
}
@media only screen and (min-width: 61.25em) {
  .dropdown-menu.actions-sub > li .navbar-nav-sub-arrow {
    right: 0;
    margin-right: 10px;
  }
}
.dropdown-backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1015;
}
