/*------------------------------------*\
    $COMPONENT-SIDENAV
\*------------------------------------*/
/**
 * Sidenav
 *
 * This is main class for establishing the sidenav section.
 */
.sidenav {
  background-color: #f4726d;
  display: inline-block;
  height: 100%;
  left: -260px;
  margin: 0;
  position: absolute;
  width: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/**
 * Sidenav Menu
 *
 * This class sets the styles for the menu items.
 */
.sidenav-menu {
  padding: 48px 0px;
  margin: 0;
}
.sidenav-menu > li {
  display: block;
  margin: 18px 0px 0px;
  position: relative;
}
.sidenav-menu > li > a {
  outline: 0;
  color: #f79592;
  display: block;
  padding: 0px 0px 12px;
  margin: 0px 15px;
}
.sidenav-menu > li > a:hover {
  color: #ffffff;
}
.sidenav-menu > li span {
  display: inline-block;
  margin-left: 12px;
  position: relative;
}
.sidenav-menu > li .icon,
.sidenav-menu > li .octicons {
  font-size: 24px;
  font-size: 1.5em;
}
.sidenav-menu > li .sidenav-menu-sub .icon,
.sidenav-menu > li .sidenav-menu-sub .octicons,
.sidenav-menu > li .sidenav-menu-sub .forum-icon {
  font-size: 16px;
  font-size: 1em;
  text-decoration: none;
}
.sidenav-menu > li .icon.icon-chevron-down {
  font-size: 12px;
  font-size: 0.75em;
  top: -4px;
}
.sidenav-menu > li .badge {
  top: -3px;
}
.sidenav-menu > li.is-active-sidenav-dropdown > a {
  color: #ffffff;
}
/**
 * Sidenav Seach
 *
 * This is where we set the styles related tot he seach feild
 */
.sidenav-search .form {
  margin-left: 15px;
  margin-right: 15px;
}
.sidenav-search .search {
  border-color: #f4726d;
  color: #f4726d;
}
.sidenav-search .search:-moz-placeholder {
  color: #f4726d;
}
.sidenav-search .search::-moz-placeholder {
  color: #f4726d;
}
.sidenav-search .search:-ms-input-placeholder {
  color: #f4726d;
}
.sidenav-search .search::-webkit-input-placeholder {
  color: #f4726d;
}
.sidenav-search .search:focus {
  border-color: #f79592;
  color: #f79592;
}
.sidenav-search .search:focus:-moz-placeholder {
  color: #f79592;
}
.sidenav-search .search:focus::-moz-placeholder {
  color: #f79592;
}
.sidenav-search .search:focus:-ms-input-placeholder {
  color: #f79592;
}
.sidenav-search .search:focus::-webkit-input-placeholder {
  color: #f79592;
}
/**
 * Sidenav menu sub
 *
 * Here we establish the look of the submenu items.
 */
.sidenav-menu-sub {
  display: none;
  padding: 0px 0px 12px;
  margin: 0px 15px;
}
.sidenav-menu-sub .is-active-sidenav-dropdown {
  display: block;
}
.sidenav-menu-sub a {
  font-weight: normal;
  font-size: 12px;
  font-size: 0.75em;
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin-bottom: 6px;
}
.sidenav-menu-sub a:hover span {
  text-decoration: underline;
}
.sidenav-menu-sub a .is-active-sidenav {
  font-weight: bold;
}
/**
 * Inner Wrap
 *
 * We need to do a little magic to one of our atoms
 * inorder for the menu effect to work.
 */
@media only screen and (max-width: 45em) {
  .inner-wrap {
    margin: 0;
    position: absolute;
    height: 100%;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
}
/**
 * Sidenav Active State Class
 *
 * Here we set the changes that need to occur to the
 * various wrapping classes to display the sidenav.
 */
body.is-active-sidenav {
  overflow-x: hidden;
}
body.is-active-sidenav .sidenav {
  left: 0;
  position: absolute;
  width: 260px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
body.is-active-sidenav .inner-wrap {
  margin-left: 260px;
  margin-bottom: -4px;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
