/*------------------------------------*\
    $CORE--CODE
\*------------------------------------*/

/**
 * Detailing code elements
 */

/**
 * Inline Code
 */
code {
    background-color: @code-bg;
    border-radius: unit(@code-border-radius, px);
    color: @code-color;
}

/**
 * Code Blocks
 */
pre {
    background-color: @pre-bg;
    border: unit(@pre-border-size, px) solid @pre-border-color;
    border-radius: unit(@pre-border-radius, px);
    color: @pre-color;
}

/**
 * Prettify
 */
pre.prettyprint, code.prettyprint {
    //.line-height(@base-line-height);

    background-color: @pre-prettyprint-bg;
    border-radius: unit(@pre-prettyprint-border-radius, px);
    border: unit(@pre-prettyprint-border-size, px) solid @pre-prettyprint-border-color;
    .box-shadow(0 1px 2px rgba(0,0,0,.1));
    color: @pre-prettyprint-color;

    display: block;
    .padding(@half-spacing-unit);
    .margin-left(@base-spacing-unit);
}

.pln { color: @white; }
@media screen {
    .str { color: @red; }  /* string content */
    .kwd { color: @blue-dark;}  /* a keyword */
    .com { color: @gray-light; }  /* a comment */
    .typ { color: @white; }  /* a type name */
    .lit { color: @red; }  /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun { color: @blue; }
    .opn { color: @white; }
    .clo { color: @white; }
    .tag { color: @blue-dark; }  /* a markup tag name */
    .atn { color: @blue; }  /* a markup attribute name */
    .atv { color: @red; }  /* a markup attribute value */
    .dec, .var { color: @blue-dark; }  /* a declaration; a variable name */
    .fun { color: @red; }  /* a function name */
}