/*------------------------------------*\
    $BASE--CODE
\*------------------------------------*/
/**
 * Simple Defaults
 */
code,
kdb,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
/**
 * Inline Code
 */
code {
  font-size: 75%;
  white-space: nowrap;
  padding: 3px 6px;
}
/**
 * Code Blocks
 */
pre {
  font-size: 11px;
  font-size: 0.6875em;
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  margin: 0;
  margin: 0px 0px 10px;
  padding: 4.66666667px;
}
pre code {
  font-size: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
  color: inherit;
  padding: 0;
}
