/*------------------------------------*\
    $BASE--FORMS
\*------------------------------------*/
/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}
/**
 * Set Fieldset border and paddings 
 */
fieldset {
  padding: 24px;
}
legend {
  font-size: 21px;
  font-size: 1.3125em;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #b3b3b3;
  display: block;
  padding: 0;
  margin-bottom: 24px;
  width: 100%;
}
label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
/**
 *  Override content-box in Normalize (* isn't specific enough)
 */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 *  Set the height of select and file controls to match text inputs
 */
input[type="file"] {
  display: block;
}
/**
 *  Make multiple select elements height not fixed
 */
select[multiple],
select[size] {
  height: auto;
}
/**
 *  Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
 */
select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
/**
 *  Focus for select, file, radio, and checkbox
 */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/**
 *  Fix for Chrome number input
 *  Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
 *  See https://github.com/twbs/bootstrap/issues/8350 for more.
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
/**
 *  Adjust output element
 */
output {
  font-size: 16px;
  font-size: 1em;
  vertical-align: middle;
  color: #b3b3b3;
  display: block;
  padding-top: 7px;
}
/**
 *  Placeholder text gets special styles because when browsers invalidate entire lines it doesn't understand a selector
 */
select,
textarea,
input {
  font-size: 16px;
  font-size: 1em;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  height: 32px;
  padding: 12px 18px;
  width: 100%;
  /**
     *  Disabled and read-only inputs
     *  Note: HTML5 says that controls under a fieldset > legend:first-child won't
     *  be disabled if the fieldset is disabled. Due to implementation difficulty,
     *  we don't honor that edge case; we style them as disabled anyway.   
     */
}
select[disabled],
textarea[disabled],
input[disabled],
select[readonly],
textarea[readonly],
input[readonly],
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] input {
  cursor: not-allowed;
  background-color: #b3b3b3;
}
.form-group.focus select,
.form-group.focus textarea,
.form-group.focus input,
select:focus,
textarea:focus,
input:focus {
  border-color: #f4726d;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group.focus select:-moz-placeholder,
.form-group.focus textarea:-moz-placeholder,
.form-group.focus input:-moz-placeholder,
select:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  color: #f4726d;
}
.form-group.focus select::-moz-placeholder,
.form-group.focus textarea::-moz-placeholder,
.form-group.focus input::-moz-placeholder,
select:focus::-moz-placeholder,
textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  color: #f4726d;
}
.form-group.focus select:-ms-input-placeholder,
.form-group.focus textarea:-ms-input-placeholder,
.form-group.focus input:-ms-input-placeholder,
select:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  color: #f4726d;
}
.form-group.focus select::-webkit-input-placeholder,
.form-group.focus textarea::-webkit-input-placeholder,
.form-group.focus input::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: #f4726d;
}
select:-moz-placeholder,
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #e6e6e6;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #e6e6e6;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #e6e6e6;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #e6e6e6;
}
textarea select,
textarea textarea,
textarea input {
  height: auto;
}
input[type="file"] {
  height: 39px;
  padding: 6px 18px;
}
/**
 *  Override content-box in Normalize (* isn't specific enough)
 */
input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  position: relative;
  top: -3px;
}
label input[type="radio"],
label input[type="checkbox"] {
  top: -5px;
}
input[type="radio"],
input[type="checkbox"] {
  border: none;
  border-radius: 0;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}
