/*------------------------------------*\
    $CORE--FORMS
\*------------------------------------*/
label {
  color: #333333;
}
.form-control,
input[type="file"].form-control {
  color: #b3b3b3;
  background-color: #ffffff;
  border: 2px solid #b3b3b3;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-appearance: none;
  padding: 12px 18px;
  height: 42px;
}
.form-control[disabled],
input[type="file"].form-control[disabled],
.form-control[readonly],
input[type="file"].form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] input[type="file"].form-control {
  background-color: #b3b3b3;
  border-color: #e0e0e0;
  color: #e0e0e0;
  cursor: default;
}
.form-control:-moz-placeholder,
input[type="file"].form-control:-moz-placeholder {
  color: #b3b3b3;
}
.form-control::-moz-placeholder,
input[type="file"].form-control::-moz-placeholder {
  color: #b3b3b3;
}
.form-control:-ms-input-placeholder,
input[type="file"].form-control:-ms-input-placeholder {
  color: #b3b3b3;
}
.form-control::-webkit-input-placeholder,
input[type="file"].form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}
.form-group.focus .form-control,
.form-group.focus input[type="file"].form-control,
.form-control:focus,
input[type="file"].form-control:focus {
  border-color: #f79592;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group.focus .form-control:-moz-placeholder,
.form-group.focus input[type="file"].form-control:-moz-placeholder,
.form-control:focus:-moz-placeholder,
input[type="file"].form-control:focus:-moz-placeholder {
  color: #f79592;
}
.form-group.focus .form-control::-moz-placeholder,
.form-group.focus input[type="file"].form-control::-moz-placeholder,
.form-control:focus::-moz-placeholder,
input[type="file"].form-control:focus::-moz-placeholder {
  color: #f79592;
}
.form-group.focus .form-control:-ms-input-placeholder,
.form-group.focus input[type="file"].form-control:-ms-input-placeholder,
.form-control:focus:-ms-input-placeholder,
input[type="file"].form-control:focus:-ms-input-placeholder {
  color: #f79592;
}
.form-group.focus .form-control::-webkit-input-placeholder,
.form-group.focus input[type="file"].form-control::-webkit-input-placeholder,
.form-control:focus::-webkit-input-placeholder,
input[type="file"].form-control:focus::-webkit-input-placeholder {
  color: #f79592;
}
textarea.form-control {
  height: auto;
}
input[type="file"].form-control {
  padding-top: 9px;
}
/**
 *  Checkboxes and radios
 *
 *  Indent the labels to position radios/checkboxes as hanging controls.
 */
.radio,
.checkbox {
  vertical-align: middle;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.radio label,
.checkbox label {
  font-weight: normal;
  cursor: pointer;
  display: inline;
  margin-bottom: 0;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
/**
 *  Radios and checkboxes on same line
 */
.radio-inline,
.checkbox-inline {
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
/**
 *  Apply same disabled cursor tweak as for inputs
 *  Note: Neither radios nor checkboxes can be readonly.
 */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
