/*------------------------------------*\
    $CORE--TYPE
\*------------------------------------*/
/**
 * Detailing type elements
 */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
/**
 * Strong default styling
 */
strong {
  color: #333333;
}
/**
 * Better looking blockquotes
 */
blockquote {
  border-left: 3px solid #f2f2f2;
  padding: 0px 0px 0px 16px;
  margin: 0px 0px 20px;
}
blockquote p {
  font-size: 16px;
  font-size: 1em;
  font-weight: normal;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  font-size: 16px;
  font-size: 1em;
  font-style: italic;
  color: #e6e6e6;
  display: block;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  border-left: 0;
  border-right: 3px solid #f2f2f2;
  padding-right: 16px;
  padding-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
