

/* @group align */

.top											{ height: 20px; width: 20px; }
a#logo											{ height: 91px; width: 309px; }
div#footer										{ height: 100%; }
div#nav div#searchbox input[type=text],
div#nav div#searchbox input[type=password],
div#nav div#searchbox input.text,
div#nav div#searchbox input.title,
div#nav textarea,
div#nav div#searchbox select					{ width: 300px; }
div#nav dl.checks dt,
div#nav dl.checks dd							{ float: none; }
div#nav input[type=text],
div#nav input[type=password],
div#nav input.text,
div#nav input.title,
div#nav textarea,
div#nav select									{ width: 130px; }
dl.icon dt span.fimg							{ float: left; height: 29px; width: 29px; }
li.buttons span a								{ height: 27px; }
li.header dt em.no-expand a.expand				{ height: 14px; width: 14px; }
strong.pagination span a,
strong.pagination span strong,
li.pagination span a,
li.pagination span strong,
div#nav,
dl.boxes dd,
div.forabg dl dt,
div.forabg dl dd,
div.foraumg dl dt,
div.forumbg dl dd,
dl strong.sublabel,
li.row em.subs,
div#rules,
li.buttons span,
li.buttons div,
div#nav fieldset,
li.header dt span em.no-expand,
li.header dt span,
li.header dt span b.ftitle						{ float: left; }
strong.pagination span,
li.pagination span,
#quick-mod,
.top											{ float: right; }
ul.profile-icons li a,
ul.post-icons li a								{ height: 20px; }

/* @end */