

/* @group colours */

.bg1 .postprofile								{ border-left: 1px solid #dbdde1; }
.bg2 .postprofile								{ border-left: 1px solid #bcc4d0; }
.post .bg1										{ background-color: #ecedf2; }
.post .bg2										{ background-color: #cfd8e4; }
.postprofile strong								{ color: #346AB4; }
.top											{ background: url(images/icon_top.png) no-repeat; color: #4a4a4b; }
a#logo											{ background: url("images/logo.jpg") no-repeat; }
a,pagination span a:hover,
a strong										{ color: #4690f4; }
a.minus											{ background: url("images/minus.jpg") no-repeat; }
a.plus											{ background: url("images/plus.jpg") no-repeat; }
body											{ background: #2e2f31 url("images/head-bg.jpg") repeat-x 0 top; color: #b8cce8; }
div#footer										{ background: #252627 url("images/foot-bg.jpg") repeat-x center top; }
div#info h3,
li.header dt span b.ftitle,
strong.pagination span a,
strong.pagination span strong					{ color: #4a4a4b; }
div#nav											{ background: #b8babd url("images/nav-bg.jpg") repeat-x left top; color: #000; }
div#nav div#searchbox input[type=text],
div#nav div#searchbox input[type=password],
div#nav div#searchbox input.text,
div#nav div#searchbox input.title,
div#nav textarea,
div#nav div#searchbox select,
div#nav input[type=text],
div#nav input[type=password],
div#nav input.text,
div#nav input.title,
div#nav textarea,
div#nav select									{ border-color: #252627; }
div#rules,div#quick-reply						{ background: #4a4a4b; }
div.copyright									{ color: #555; }
div.copyright span,
li.icon-home strong								{ color: #b8cce8; }
div.inner div.wrap								{ background: #b7babc url("images/forum-bg.jpg") repeat-x; }
div.topic-actions li.buttons span a				{ background-image: url(../imageset/buttons.png); }
dl strong										{ color: #9ea8b3; }
dl.icon dt span									{ background: url("../imageset/forum-icons.png"); }
dl.icon dt strong.pagination span				{ background: url(images/icon_pages.gif) no-repeat 0 20%; }
hr												{ border-color: #4a4a4b; }
li.header dt span								{ background: url("images/tab-left.jpg") no-repeat; }
li.header dt span b.ftitle						{ background: url("images/tab-right.jpg") no-repeat right top; }
li.icon-home span.bookmark						{ background: url("images/icon_bookmark.gif") no-repeat left top; }
li.icon-home span.bump							{ background: url(images/icon_bump.gif) no-repeat left top; }
li.icon-home span.home							{ background: url("images/icon_home.gif") no-repeat left top; }
li.icon-home span.subscribe						{ background: url("images/icon_subscribe.gif") no-repeat left top; }
li.icon-home span.unsubscribe					{ background: url("images/icon_unsubscribe.gif") no-repeat left top; }
li.pagination span a							{ background-color: #4690f4; color: #fff; }
li.pagination span a,
li.pagination span a:hover,
li.pagination span strong						{ border: none; color: #fff; }
li.pagination span a:hover,
li.pagination span strong						{ background-color: #4a4a4b; border: none; color: #fff; }
li.row											{ border-bottom: 1px solid #acb3bc; border-top: 1px solid #f5f6fc; }
li.row dd										{ border-left: 1px solid #e0e0e0; }
li.row em.subs a.read							{ background: url(../imageset/subforum_read.gif) no-repeat 0 center; }
li.row em.subs a.unread							{ background: url("../imageset/subforum_unread.gif") no-repeat 0 center; }
li.row,
.postprofile,
.post-message,strong							{ color: #000; }
li.row:hover									{ background: #cfd8e4; }
li.row:hover dd									{ border-left-color: #999; }
strong.pagination span a						{ background-color: #dae3f1; border: 1px solid #acb3bc; }
strong.pagination span a:hover					{ background-color: #e5f0ff; border: 1px solid #757b82; }
ul.forums,
ul.forum-topics									{ background: #ecedf2; border: 1px solid #6e7071; }
ul.post-icons li a								{ background-image: url(../imageset/icons.png); }
ul.profile-icons li a							{ background-image: url(../imageset/profile-icons.png); }

/* @end */