

/* @group other */

dl.icon dt span.announce_read,
dl.icon dt span.global_read						{ background-position: 377px 0; }
dl.icon dt span.announce_read_locked,
dl.icon dt span.global_read_locked				{ background-position: 319px 0; }
dl.icon dt span.announce_read_locked_mine,
dl.icon dt span.global_read_locked_mine			{ background-position: 290px 0; }
dl.icon dt span.announce_read_mine,
dl.icon dt span.global_read_mine				{ background-position: 348px 0; }
dl.icon dt span.announce_unread,
dl.icon dt span.global_unread					{ background-position: 377px 29px; }
dl.icon dt span.announce_unread_locked,
dl.icon dt span.global_unread_locked			{ background-position: 319px 29px; }
dl.icon dt span.announce_unread_locked_mine,
dl.icon dt span.global_unread_locked_mine		{ background-position: 290px 29px; }
dl.icon dt span.announce_unread_mine,
dl.icon dt span.global_unread_mine				{ background-position: 348px 29px; }
dl.icon dt span.forum_link						{ background-position: 29px 0; }
dl.icon dt span.forum_read,
dl.icon dt span.topic_read						{ background-position: 203px 0; }
dl.icon dt span.forum_read_locked				{ background-position: 261px 0; }
dl.icon dt span.forum_read_subforum				{ background-position: 232px 0; }
dl.icon dt span.forum_unread,
dl.icon dt span.topic_unread					{ background-position: 203px 29px; }
dl.icon dt span.forum_unread_locked				{ background-position: 261px 29px; }
dl.icon dt span.forum_unread_subforum			{ background-position: 232px 29px; }
dl.icon dt span.sticky_read						{ background-position: 493px 0; }
dl.icon dt span.sticky_read_locked				{ background-position: 435px 0; }
dl.icon dt span.sticky_read_locked_mine			{ background-position: 406px 0; }
dl.icon dt span.sticky_read_mine				{ background-position: 463px 0; }
dl.icon dt span.sticky_unread					{ background-position: 493px 29px; }
dl.icon dt span.sticky_unread_locked			{ background-position: 435px 29px; }
dl.icon dt span.sticky_unread_locked_mine		{ background-position: 406px 29px; }
dl.icon dt span.sticky_unread_mine				{ background-position: 464px 29px; }
dl.icon dt span.topic_moved						{ background-position: 29px 29px; }
dl.icon dt span.topic_read_hot					{ background-position: 87px 0; }
dl.icon dt span.topic_read_hot_mine				{ background-position: 58px 0; }
dl.icon dt span.topic_read_locked				{ background-position: 145px 0; }
dl.icon dt span.topic_read_locked_mine			{ background-position: 116px 0; }
dl.icon dt span.topic_read_mine					{ background-position: 174px 0; }
dl.icon dt span.topic_unread_hot				{ background-position: 87px 29px; }
dl.icon dt span.topic_unread_hot_mine			{ background-position: 58px 29px; }
dl.icon dt span.topic_unread_locked				{ background-position: 145px 29px; }
dl.icon dt span.topic_unread_locked_mine		{ background-position: 116px 29px; }
dl.icon dt span.topic_unread_mine				{ background-position: 174px 29px; }
li.buttons span.button_forward a				{ background-position: left top; width: 97px; }
li.buttons span.button_forward a:hover			{ background-position: left bottom; width: 97px; }
li.buttons span.button_locked a					{ background-position: right top; width: 84px; }
li.buttons span.button_locked a:hover			{ background-position: right bottom; width: 84px; }
li.buttons span.button_newpost a				{ background-position: -98px top; width: 100px; }
li.buttons span.button_newpost a:hover			{ background-position: -98px bottom; width: 100px; }
li.buttons span.button_pm a						{ background-position: -305px top; width: 81px; }
li.buttons span.button_pm a:hover				{ background-position: -305px bottom; width: 81px; }
li.buttons span.button_postreply a				{ background-position: -387px top; width: 106px; }
li.buttons span.button_postreply a:hover		{ background-position: -387px bottom; width: 106px; }
li.buttons span.button_sendreply a				{ background-position: -197px top; width: 108px; }
li.buttons span.button_sendreply a:hover		{ background-position: -197px bottom; width: 108px; }
li.header dt span								{ overflow: hidden; }
li.row											{ cursor: pointer; }
strong.pagination span,
strong.pagination span a,
li.pagination span a,
li.pagination span strong,
a#logo,dd.lastpost span,
dl.icon dt span.fimg,
li.row dt a.forumtitle,
li.row dt a.topicstitle,
ul.forums,ul.forum-topics,
dl strong.sublabel,
li.row em.subs,
li.buttons span a,
li.header dt span em.no-expand a.expand,
li.header dt span em.no-expand,
li.header dt span b.ftitle,
ul.profile-icons li a,
ul.post-icons li a,
.top											{ display: block; }
ul li.row										{ clear: both; display: block; }
ul.post-icons li.delete-icon a					{ background-position: -19px 0; width: 20px; }
ul.post-icons li.delete-icon a:hover			{ background-position: -19px 20px; width: 20px; }
ul.post-icons li.edit-icon a					{ background-position: 0 0; width: 19px; }
ul.post-icons li.edit-icon a:hover				{ background-position: 0 20px; width: 19px; }
ul.post-icons li.info-icon a					{ background-position: -80px 0; width: 20px; }
ul.post-icons li.info-icon a:hover				{ background-position: -80px 20px; width: 20px; }
ul.post-icons li.quote-icon a					{ background-position: -100px 0; width: 19px; }
ul.post-icons li.quote-icon a:hover				{ background-position: -100px 20px; width: 19px; }
ul.post-icons li.report-icon a					{ background-position: -39px 0; width: 19px; }
ul.post-icons li.report-icon a:hover			{ background-position: -39px 20px; width: 19px; }
ul.post-icons li.solve-icon a,
ul.post-icons li.unsolve-icon a:hover			{ background-position: -118px 0; width: 20px; }
ul.post-icons li.unsolve-icon a,
ul.post-icons li.solve-icon a:hover				{ background-position: -118px 20px; width: 20px; }
ul.post-icons li.warn-icon a					{ background-position: -58px 0; width: 22px; }
ul.post-icons li.warn-icon a:hover				{ background-position: -58px 20px; width: 22px; }
ul.profile-icons li.aim-icon a					{ background-position: -129px 0; width: 16px; }
ul.profile-icons li.aim-icon a:hover			{ background-position: -129px 20px; }
ul.profile-icons li.email-icon a				{ background-position: -23px 0; width: 23px; }
ul.profile-icons li.email-icon a:hover			{ background-position: -23px 20px; }
ul.profile-icons li.icq-icon a					{ background-position: -86px 0; width: 20px; }
ul.profile-icons li.icq-icon a:hover			{ background-position: -86px 20px; }
ul.profile-icons li.jabber-icon a				{ background-position: -145px 0; width: 14px; }
ul.profile-icons li.jabber-icon a:hover			{ background-position: -145px 20px; }
ul.profile-icons li.msnm-icon a					{ background-position: -65px 0; width: 21px; }
ul.profile-icons li.msnm-icon a:hover			{ background-position: -65px 20px; }
ul.profile-icons li.pm-icon a					{ background-position: 0 0; width: 23px; }
ul.profile-icons li.pm-icon a:hover				{ background-position: 0 20px; }
ul.profile-icons li.web-icon a					{ background-position: -46px 0; width: 19px; }
ul.profile-icons li.web-icon a:hover			{ background-position: -46px 20px; }
ul.profile-icons li.yahoo-icon a				{ background-position: -106px 0; width: 23px; }
ul.profile-icons li.yahoo-icon a:hover			{ background-position: -106px 20px; }
ul.topiclist dfn,
.pagination span.page-sep						{ display: none; }
ul.topiclist dl									{ height: 1%; overflow: hidden; }

/* @end */