/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		test
	Based on style:	proSilver (this is the default phpBB 3 style)
	Original author:	midaym ( http://www.midaym.com/ )
	Modified by:
	Version: 1.0.0		
	
	Copyright 2010 midaym,3dstudio ( http://www.3dstudio.com/ )
    --------------------------------------------------------------
*/

/* @group global reset */

/* Styles used to gloabaly reset margins, paddings, borders etc. based on a combination of Yahoo and Blueprint css resets*/

@import url("960/reset.css");

/* @end */

/* Commonly used and default styles such as clears and typography */

/* @group utility */

/* basic layout utility */

@import url("960/960_24_col.css");

/* setup some descent defaults */

@import url("960/type.css");

@import url("960/forms.css");

/*my utility classes to perform most simple operations*/

@import url("960/utility.css");

/* @end */

/* Site Structure Defaults*/

/* @group =base */

	/* Global styles - containes styles for common tags */
	/* @group -globals */

	body {
		background: #252627;
		color: #b8cce8;
		font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
		letter-spacing: .05em;
		line-height: 16px;
	}

	a { 
		color: #4690f4; 
		font-weight: 900; 
	}
	
	a strong { color: #b8cce8; }
	
	a:hover { 
		color: #fff; 
		text-decoration: none; 
	}
	
	a:active, a:visited, a:link {
		text-decoration: none; 
	}

	p {
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

	strong {
		color: #fff;
		font-weight: 900;
	}
	
	h2 { 
		color: #ececec;
		text-transform: capitalize; 
	}

	fieldset dd { margin-left: 1em; }
	
	fieldset dt,
	fieldset dd { float: left; }
	
	dl strong { color: #9ea8b3; }

	hr {
		border-color: #4a4a4b;
		margin-left: 10px;
	}
	
	input[type="checkbox"],
	input[type="radio"],
	input.checkbox,
	input.radio { 
		top: 0; 
	}

	/*  Fix up IE6 PNG Support */
	img { behavior: url(./scripts/iepngfix.htc); }

	/* @end -globals*/



	/* Header styles - containes styles that make up the header of the page */
	/* @group =header */
	
	div#header { margin-bottom: 20px; }
	
	a#logo {
		background: url("images/logo.jpg") no-repeat;
		display: block;
		height: 91px;
		width: 309px;
		text-indent: -9999px;
	}

		/* Navagation styles - contains the styles that make up the primary navigation: useually contained within the header */
		/* @group -navagation */
		
		div#nav {
			background: #b8babd url("images/nav-bg.jpg") repeat-x left top;
			color: #000;
			float: left;
			padding: 0;
			position: relative;
			z-index: 99;
			left: 52px; 
			margin:30px 0 0 -58px; 
		}
		
		div#nav a,
		div#nav a strong { color: #4a4a4b; font-size: 12px; }
		
		div#nav a:hover,
		div#nav a:hover strong { color: #4690f4; }
		
		div#nav a strong { color: #4a4a4b; }
		
		a.username-coloured { font-weight: 700; }
		
		a.username-coloured:hover { text-decoration: underline; }
		
		div#nav #searchbox fieldset { margin: 0 0 0 60px; padding-bottom:20px; }

		div#nav div#searchbox input[type=text],
		div#nav div#searchbox input[type=password],
		div#nav div#searchbox input.text,
		div#nav div#searchbox input.title,
		div#nav div#searchbox select {
			border-color: #252627;
			margin: 0;
			width: 200px;
		}

		div#nav dl.checks { margin: 0 136px; }
		
		div#nav dl.checks dd { float: none; }

		div#nav dl.checks dt {
			float: none;
			margin-left: 36px;
		}

		div#nav fieldset {
			float: left;
			margin: 16px 0 20px 35px;
		}

		div#nav fieldset dl { margin: 0 0 5px; }
		
		div#nav label { font-size: 11px; }

		div#nav li {
			font-size: 12px;
			font-weight: 700;
			padding: 0 11px;
		}

		div#nav textarea,div#nav input[type=text],
		div#nav input[type=password],
		div#nav input.text,
		div#nav input.title,
		div#nav select {
			border-color: #252627;
			margin: 0;
			width: 130px;
		}

		div#nav ul {
			margin: 0 0 0 2px;
			padding: 11px 8px;
			text-align: center;
		}
		
		ul.linklist {
			margin-bottom: 10px;
			margin-top: 10px;
		}
		
		ul.linklist a.icon-home { font-weight: 700; }
		
		li.icon-home span {
			margin-left: 10px;
			padding-left: 20px;
		}

		li.icon-home strong { color: #b8cce8; }
		
		li.rightside {
			padding-left: 15px;
			text-align: right;
		}
		
div#loginbox fieldset { 
	margin-left: 25px;
}

div#loginbox label { 
	display: block;
}
		
		/* @end -navigation */
		
	
	/* @end =header */
	
	/* Main Content Styles - contains the styles that are used across multiple pages content sections */
	/* @group -main content */
	
	.main-wrap { background: #2e2f31 url("images/head-bg.jpg") repeat-x 0 top; }
	.bg1 { background-color: #ecedf2; color: #000; }
	.bg2 { background-color: #cfd8e4; color: #000; }
	.bg3 { background: url("images/panel-bg.jpg") repeat-x scroll left top #B7BABC; color: #000; }
	.bg5 { background-color: #4a4a4b; color: ##B8CCE8; }
	.bg-white { background-color: #ffffff; color: #000; }
	.bg4 { background-color: #f9f9f9; color: #000; }
	
	.bg1 strong { color: #000; }
	
	div.viewforum { margin-left: 15px; }
	
	div.inner div.wrap {
		-khtml-border-top-left-radius: 0;
		-moz-border-radius-topleft: 0;
		-webkit-border-top-left-radius: 0;
		border-top-left-radius: 0;
		background: #bec1c3 url("images/forum-bg.jpg") repeat-x;
		padding: 4px;
	}
	
	div.inner div.wrap2 {
		background: #bec1c3 url("images/forum-bg.jpg") repeat-x;
		padding: 4px;
	}
	
	.sort { 
		margin-bottom: 6px;
		text-align: center;
	}
	
	.sort .go { margin-top: -4px; }
	
	fieldset.jumpbox input.button2,
	fieldset.quickmod input.button2 { 
		display: block;
		float: right;
		margin: 0 0 0 10px;
	}
	
	.sort .prev { text-align: left; }
	
	.sort .next { text-align: right; }
	
	ul#jump-box { margin-left: 15px; margin-top: 20px; position: relative; }
	
	div#info { margin: 20px; }
	
	div#info a:hover { text-decoration: underline; }

	div#info h3 {
		color: #4a4a4b;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	div#info h3.stats { margin-top: 20px; }

	div#info h3 a {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	#loginbox { display: none; }
	
	/* @end -main content */

	/* Footer styles - contains all the styles for the footer */
	/* @group =footer */
		
		div#footer {
			background: #252627 url("images/foot-bg.jpg") repeat-x center top;
			height: 100%;
		}

		div#footer div.container_24 { padding-top: 15px; }
		
		div.navbar { padding: 11px 4px; }
		
		div.navbar .rightside { 
			float: right;
			padding-left: 38px;
		}
		
		li.icon-home span.bookmark { background: url("images/icon_bookmark.gif") no-repeat left top; }
		
		li.icon-home span.bump { background: url(images/icon_bump.gif) no-repeat left top; }

		li.icon-home span.home {
			background: url("images/icon_home.gif") no-repeat left top;
			margin: 0;
		}

		li.icon-home span.subscribe { background: url("images/icon_subscribe.gif") no-repeat left top; }
		
		li.icon-home span.unsubscribe { background: url("images/icon_unsubscribe.gif") no-repeat left top; }
		
		/* Copyright styles - contains style for the copyright message of the site */
		/* @group -copyright */
			
		div.copyright {
			color: #555;
			margin: 25px 0 30px;
			padding: 5px 5px 0;
			text-align: center;
		}
		
		div.copyright span { color: #b8cce8; }
			
		/* @end -copyright */

	/* @end =footer */

/* @end =base */

/* Page Specific Styles - contains styles for specific sections or pages */
/* @group =pages */

	/* Forumlist Styles - contains styles responsible for the look and feel of the forum and topic lists */
	/* @group =forumlist_body */

	div.forabg dl,
	div.forabg ul { margin: 0; }
	
	div.forabg dl dt,
	div.forabg dl dd { float: left;  }
	
	div.forabg { padding: 12px 0; }
	
	div.forabg a:hover { color: #4a4a4b; }
	
	ul.topiclist dl {
		height: 1%;
		overflow: hidden;
	}
	
	ul.topiclist dd {
		padding-left: 5px;
		padding-right: 5px;
	}

	ul.topiclist dd.topics,
	ul.topiclist dd.posts,
	ul.topiclist dd.views { text-align: center; }

	ul.topiclist dd dfn { display: none; }
	
	li.header dt { padding-right: 10px; }
	
	li.header dt span {
		-khtml-border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
		background: url("images/tab-left.jpg") no-repeat;
		float: left;
		margin: 0 0 -7px -6px;
		overflow: hidden;
	}
	
	li.header dt span em.no-expand a.expand { text-indent: -9999px; }

	li.header dt span em.no-expand a.expand {
		height: 14px;
		width: 14px;
	}

	li.header dt span em.no-expand a.expand {
		display: block;
		margin: 0 7px;
	}
	
	li.header dt span em.no-expand {
		display: block;
		float: left;
		margin: 10px 7px;
	}
	
	a.minus { background: url("images/minus.jpg") no-repeat; }

	a.plus { background: url("images/plus.jpg") no-repeat; }

	li.header dt span b.ftitle {
		background: url("images/tab-right.jpg") no-repeat right top;
		color: #4a4a4b;
		display: block;
		float: left;
		font-size: 12px;
		font-weight: 700;
		padding: 10px 26px 10px 0;
		text-transform: uppercase;
	}
	
	li.header dd {
		border-left-width: 0;
		font-size: 12px;
		font-weight: 700;
		margin: 9px 0 0;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.1em; 
		padding: 0 0 0 13px; 
}
	

	li.header dd.views,
	li.header dd.topics { padding-left: 8px; }
	li.header dd.lastpost { text-align: left; }

	dd.posts,
	dd.topics,
	dd.views { line-height: 2em; }

	dd.lastpost span { display: block; }
	
	ul.forums {
		background: #ecedf2;
		border: 1px solid #6e7071;
		display: block;
	}
	
	li.row {
		border-bottom: 1px solid #acb3bc;
		border-top: 1px solid #f5f6fc;
		clear: both;
		color: #000;
		cursor: pointer;
		display: block;
		line-height: 1.1em;
	}
	
	li.row:hover { background: #cfd8e4; }
	
	li.row dl strong.sublabel {
		display: block;
		float: left;
	}
	
	li.row dt { font-weight: 400; }
	
	li.row dt a { margin-bottom: 4px; }
	
	li.row p {
		margin: 2px 0;
		padding: 0;
	}

	li.row dd {
		border-left: 1px solid #e0e0e0;
		margin: 0;
		padding-top: 8px;
	}

	li.row:hover dd { border-left-color: #999; }

	li.row dt a.forumtitle{ display: block; }
	
	li.row dt p,
	li.row dt dfn  { margin-bottom: 4px; }

	li.row dt a.subforum {
		font-size: 12px;
		font-weight: 400;
	}
	
	li.row em.subs,
	li.row em.mods {
		display: block;
		float: left;
		margin-right: 0;
		margin-left: 4px;
	}
	
	li.row em.mods a:hover { text-decoration: underline; }

	li.row em.subs a.read {
		background: url(../imageset/subforum_read.gif) no-repeat 0 center;
		padding-left: 15px;
	}

	li.row em.subs a.unread {
		background: url("../imageset/subforum_unread.gif") no-repeat 0 center;
		padding-left: 15px;
	}
	
	li.row dt { padding: 4px 10px 4px 0; }

		/* Forum & Topic Sprite - contains styles responsible for the forum and topic images using css sprites */
		/* @group -forum & topic sprite */
		li.row span.fimg {
			display: block;
			float: left;
			height: 29px;
			width: 29px;
			background: url("../imageset/forum-icons.png");
			margin: 10px;
			overflow: hidden;
		}

		li.row span.announce_read,
		li.row span.global_read { background-position: 377px 0; }
		li.row span.announce_read_locked,
		li.row span.global_read_locked { background-position: 319px 0; }
		li.row span.announce_read_locked_mine,
		li.row span.global_read_locked_mine { background-position: 290px 0; }
		li.row span.announce_read_mine,
		li.row span.global_read_mine { background-position: 348px 0; }
		li.row span.announce_unread,
		li.row span.global_unread { background-position: 377px 29px; }
		li.row span.announce_unread_locked,
		li.row span.global_unread_locked { background-position: 319px 29px; }
		li.row span.announce_unread_locked_mine,
		li.row span.global_unread_locked_mine { background-position: 290px 29px; }
		li.row span.announce_unread_mine,
		li.row span.global_unread_mine { background-position: 348px 29px; }
		li.row span.forum_link { background-position: 29px 0; }
		li.row span.forum_read,
		li.row span.topic_read { background-position: 203px 0; }
		li.row span.forum_read_locked { background-position: 261px 0; }
		li.row span.forum_read_subforum { background-position: 232px 0; }
		li.row span.forum_unread,
		li.row span.topic_unread { background-position: 203px 29px; }
		li.row span.forum_unread_locked { background-position: 261px 29px; }
		li.row span.forum_unread_subforum { background-position: 232px 29px; }
		li.row span.sticky_read { background-position: 493px 0; }
		li.row span.sticky_read_locked { background-position: 435px 0; }
		li.row span.sticky_read_locked_mine { background-position: 406px 0; }
		li.row span.sticky_read_mine { background-position: 464px 0; }
		li.row span.sticky_unread { background-position: 493px 29px; }
		li.row span.sticky_unread_locked { background-position: 435px 29px; }
		li.row span.sticky_unread_locked_mine { background-position: 406px 29px; }
		li.row span.sticky_unread_mine { background-position: 464px 29px; }
		li.row span.topic_moved { background-position: 29px 29px; }
		li.row span.topic_read_hot { background-position: 87px 0; }
		li.row span.topic_read_hot_mine { background-position: 58px 0; }
		li.row span.topic_read_locked { background-position: 145px 0; }
		li.row span.topic_read_locked_mine { background-position: 116px 0; }
		li.row span.topic_read_mine { background-position: 174px 0; }
		li.row span.topic_unread_hot { background-position: 87px 29px; }
		li.row span.topic_unread_hot_mine { background-position: 58px 29px; }
		li.row span.topic_unread_locked { background-position: 145px 29px; }
		li.row span.topic_unread_locked_mine { background-position: 116px 29px; }
		li.row span.topic_unread_mine { background-position: 174px 29px; }	
		/* @end -forum & topic sprite */
	
	/* @end =forumlist_body */

	/* Viewforum Styles - contains styles responsible for the look and feel of the viewforum page */
	/* @group =viewforum_body */
	
	div#forum-head { margin-top: 20px; }
	
	div#forum-head p {
		text-transform: uppercase;
		margin-top: -12px; margin-bottom: 20px;
	}
	
	div#rules, div#global-announcement, #advanced_search .panel {
		float: left;
		margin: 20px 0 30px;
		padding: 10px;
	}
	
	div#rules strong, div#global-announcement h3 { 
		text-transform: uppercase;
		font-weight: 900;
	}
	
	div.topic-actions { margin-bottom: 10px; }
	
	div.topic-actions div.search-box dl { margin: 0; }
	
	li.buttons { padding: 5px 0; }
	
	li.buttons span,
	li.buttons div { float: left; }

		/* Topic Button Sprite - contains styles responsible for the buttons on the forum using css sprites */
		/* @group -topic button sprite */

		li.buttons span a {
			background-image: url(../imageset/buttons.png);
			display: block;
			height: 27px;
			text-indent: -9999px;
		}

		li.buttons span.button_forward a {
			background-position: left top;
			width: 97px;
		}

		li.buttons span.button_forward a:hover {
			background-position: left bottom;
			width: 97px;
		}

		li.buttons span.button_locked a {
			background-position: right top;
			width: 84px;
		}

		li.buttons span.button_locked a:hover {
			background-position: right bottom;
			width: 84px;
		}

		li.buttons span.button_newpost a {
			background-position: -98px top;
			width: 100px;
		}

		li.buttons span.button_newpost a:hover {
			background-position: -98px bottom;
			width: 100px;
		}

		li.buttons span.button_pm a {
			background-position: -305px top;
			width: 81px;
		}

		li.buttons span.button_pm a:hover {
			background-position: -305px bottom;
			width: 81px;
		}

		li.buttons span.button_postreply a {
			background-position: -387px top;
			width: 106px;
		}

		li.buttons span.button_postreply a:hover {
			background-position: -387px bottom;
			width: 106px;
		}

		li.buttons span.button_sendreply a {
			background-position: -197px top;
			width: 108px;
		}

		li.buttons span.button_sendreply a:hover {
			background-position: -197px bottom;
			width: 108px;
		}

		/* @end -topic button sprite */
		
	li.buttons div.search-box {
		margin-left: 30px;
		margin-top: 0;
	}
	
	li.buttons div.search-box dd.submit { margin-top: -5px; }
	
	li.pagination { padding-top: 5px; }

	li.pagination span {
		float: right;
		margin-left: 5px;
		margin-top: -5px;
	}

	li.pagination span a {
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background-color: #4690f4;
		color: #fff;
		display: block;
		float: left;
		font-size: 12px;
		font-weight: 900;
		margin: 0 3px;
		padding: 5px 8px;
	}

	li.pagination span strong {
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background-color: #4a4a4b;
		color: #fff;
		display: block;
		float: left;
		font-size: 12px;
		font-weight: 900;
		margin: 0 3px;
		padding: 5px 8px;
	}
	
	a.left-box,
	a.right-box { 
		background-color: #4690f4;
		color: #fff;
		display: block;
		font-size: 12px;
		font-weight: 900;
		padding: 6px 8px;
		-khtml-border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	
	a.left-box { 
		margin-left: 5px; 
	}
	
	li.pagination span a:hover,
	a.left-box:hover,
	a.right-box:hover {
		background-color: #4a4a4b;
		text-decoration: none;
	}

	div.forumbg { padding: 12px 0; }
	
	div.forumbg a:hover { color: #4a4a4b; }

	div.forumbg dl,
	div.forumbg ul { margin: 0; }

	div.forumbg dl dt,
	div.forumbg dl dd { float: left; }
	
	ul.forum-topics {
		background: #ecedf2;
		border: 1px solid #6e7071;
		display: block;
		margin: 0;
	}

	li.row dt a.topicstitle {
		display: block;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 4px;
	}
	
	li.row .pagination span {
		background: url(images/icon_pages.gif) no-repeat 0 20%;
		float: right;
		margin: 0;
		padding-left: 15px;
	}

	li.row .pagination span a {
		background-color: #4690f4;
		color: #fff;
		display: block;
		float: left;
		font-size: 9px;
		font-weight: 900;
		margin: 0 2px;
		padding: 1px 3px;
		text-decoration: none;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}

	li.row .pagination span a:hover {
		background-color: #4a4a4b;
		text-decoration: none;
	}
	
	.pagination span.page-sep { 
		display: none;
		padding: 0;
	 }
	
	/* @end =viewforum_body */
	
	/* Viewtopic Styles - contains styles responsible for the look and feel of the forum Topics page */
	/* @group =viewtopic_body */
	
		/* Poll Style - contains styles responsible for the look and feel of the polls on the topics page */
		/* @group -poll */
		
		div#poll .inner {
			padding: 20px;
			margin-left: 10px;
		}
		
		.poll-content { position: relative; }

		dl.polls {
			height: 1%;
			overflow: hidden;
		}
		
		div#poll fieldset { background: #4a4a4b; }
		
		fieldset.polls {
			width: 95%;
			text-align: center;
			margin: 0 auto;
			padding: 20px;
		}
		
		fieldset.vote {
			width: 50%;
			text-align: center;
			margin: 0 auto;
			padding: 20px;
		}
		
		fieldset.polls dl {
			color: #000;
			padding: 5px 0 0;
			margin: 5px 0;
			clear: both;
		}
		
		fieldset.polls dl.voted {
			color: #000;
			font-weight: 700;
		}
		
		fieldset.polls dl.vote dd { color: #000; }
		
		fieldset.polls dt {
			border-right: none;
			color: #fff;
			display: block;
			float: left;
			margin: 0;
			padding: 2px 2px 3px 5px;
			text-align: left;
			width: 50%;
			background-color: #bcc4d0;
		}
		
		fieldset.polls dd {
			border-left: none;
			float: left;
			margin: 0;
			padding: 2px;
			width: 10%;
			background-color: #bcc4d0;
			color: #bcc4d0;
		}
		
		fieldset.vote dt { width: 88%; }
		
		fieldset.polls .vote dt { padding-bottom: 2px; }
		
		fieldset.polls dd input { margin: 2px 0; }
		
		fieldset.polls dd div {
			color: #FFF;
			font-weight: 700;
			min-width: 2%;
			overflow: visible;
			padding: 0 2px;
			text-align: right;
		}
		
		fieldset.polls dl.resultbar,
		fieldset.polls dl.resultbar dt { background: none; }
		
		fieldset.polls dl.resultbar dt {
			margin: 0;
			padding: 0;
			height: 1px;
		}
		
		fieldset.polls dl.resultbar dd {
			width: 100%;
			text-align: center;
			background: none;
		}
		
		fieldset.polls dd.results div {
			margin-left: -6px;
			padding-right: 4px;
		}
		
		.pollbar1 { background-color: #AA2346; }
		.pollbar2 { background-color: #BE1E4A; }
		.pollbar3 { background-color: #D11A4E; }
		.pollbar4 { background-color: #E41653; }
		.pollbar5 { background-color: #F81157; }
		
		fieldset.polls dd.results { width: 38%; }
		
		.panel h2 {
			color: #bcc4d0;
			margin-bottom: 10px;
			margin-top: 10px;
			text-transform: uppercase;
		}
		
		.panel h2.vote { color: #4a4a4b; }
		
		/* @end -poll */
		
	.post .inner { padding: 20px; }
	
	.post-message a:hover { color: #4a4a4b; }
	
	.post-message li ul, .post-message li ol { margin:0 1.5em; display: block; clear: both;  }
	.post-message ul, .post-message ol { margin: 0 1.5em 1.5em 1.5em; display: block; clear: both; }
	.post-message ul, .post-message ol { 
		list-style-type: disc; 
	}
	
	.post-message li { list-style-type: inherit; }
	
	.post-head { margin-bottom: 20px; }
	
	.post-message h3 {  margin: 0; }
	
	h3.first a span { font-size: 14px; }
		
		/* Codebox Style - contains styles responsible for the look and feel of the codebox in posts */
		/* @group -codebox */
		
		dl.codebox {
			background-color: #FFF;
			border: 1px solid #d8d8d8;
			border-color: #C9D2D8;
			font-size: 1em;
			padding: 3px;
			display: block;
			clear: both;
		}
		
		dl.codebox dt {
			border-bottom: 1px solid #CCC;
			border-bottom-color: #CCC;
			display: block;
			font-size: 0.8em;
			font-weight: 700;
			margin-bottom: 3px;
			text-transform: uppercase;
		}
		
		dl.codebox code {
			color: #2E8B57;
			display: block;
			height: auto;
			margin: 2px 0;
			max-height: 200px;
			overflow: auto;
			padding-top: 5px;
			white-space: normal;
		}
		
		/* @end -codebox */

		/* Quote Style - contains styles responsible for the look and feel of quotes in posts */
		/* @group -quote */
		
		blockquote {
			background: #ebebeb none 6px 8px no-repeat;
			background-color: #EBEADD;
			background-image: url("images/quote.gif");
			border: 1px solid #dbdbdb;
			border-color: #DBDBCE;
			font-size: 0.95em;
			margin: 0.5em 1px 0 25px;
			overflow: hidden;
			padding: 5px;
			display: block;
			clear: both;
		}
		
		blockquote blockquote {
			background-color: #EFEED9;
			font-size: 1em;
			margin: 0.5em 1px 0 15px;
		}
		
		blockquote blockquote blockquote { background-color: #EBEADD; }
		
		blockquote cite {
			display: block;
			font-size: 0.9em;
			font-style: normal;
			font-weight: 700;
			margin-left: 20px;
		}
		
		blockquote.uncited { padding-top: 25px; }
		
		blockquote dl.codebox { margin-left: 0; }
		
		/* @end -quote */

		/* Edit Notice Style - contains styles responsible for the look and feel of the topic edited notice box on posts */
		/* @group -edit-notice */
		
		.edit-notice {
			color: #000;
			clear: left;
			margin-top: 20px;
			padding-top: 3px;
			width: auto; 
			margin-bottom: -20px; 
		}
		
		.edit-notice strong { color: #346AB4; }
		
		.bg1 .edit-notice { border-top: 1px dashed #dbdde1; }
		
		.bg2 .edit-notice { border-top: 1px dashed #bcc4d0; }
		
		#cp-main .signature { border-top: 1px solid #ebebeb;}
		
		#cp-main .postprofile { border-left: 1px solid #ebebeb; }
		
		/* @end -edit-notice */
		
		/* Signature Style - contains styles responsible for the look and feel of the signature area of the post */
		/* @group -signature */
		
		.signature {
			color: #000;
			clear: left;
			margin-top: 25px;
			overflow: hidden;
			padding-top: 3px;
			width: 100%;
		}
		
		.bg1 .signature { border-top: 1px solid #dbdde1; }
		
		.bg2 .signature { border-top: 1px solid #bcc4d0; }
		
		/* @end -signature*/

	.bg1 .postprofile {border-left: 1px solid #dbdde1;}

	.bg2 .postprofile {border-left: 1px solid #bcc4d0;}

	.postprofile {
		color: #000;
		font-size: 11px;
		margin: 0 0 10px 29px;
		padding: 10px 0 10px 10px;
	}

	.postprofile a {font-size: 12px;}

	.postprofile strong {
		color: #346AB4;
		font-size: 12px;
	}
	
	.postprofile dd {  margin: 0; }

	.top {
		background: url(images/icon_top.png) no-repeat;
		clear: both;
		color: #4a4a4b;
		display: block;
		float: right;
		height: 20px;
		padding-left: 22px;
		padding-top: 2px;
		width: 20px;
	}

	dl.boxes dd { float: left; }
		
		/* Post Icon Sprite - contains styles responsible for the look and feel of the post icons using css sprites */
		/* @group -post-icon sprite */
		
		ul.post-icons { clear: none; margin: 0; }
		ul.post-icons li { margin: 0 4px; }
		
		ul.post-icons li a { height: 20px; }
		ul.post-icons li.edit-icon { padding-left: 35px; }
		
		ul.post-icons li a {
			background-image: url(../imageset/icons.png);
			display: block;
			text-indent: -9999px;
		}
		
		ul.post-icons li.edit-icon a:hover { background-position: 0 20px; }
		ul.post-icons li.edit-icon a {
			background-position: 0 0;
			width: 19px;
		}
		
		ul.post-icons li.delete-icon a:hover { background-position: -19px 20px; }
		ul.post-icons li.delete-icon a {
			background-position: -19px 0;
			width: 20px;
		}
		
		ul.post-icons li.quote-icon a:hover { background-position: -100px 20px; }
		ul.post-icons li.quote-icon a {
			background-position: -100px 0;
			width: 19px;
		}
		
		ul.post-icons li.report-icon a:hover { background-position: -39px 20px; }
		ul.post-icons li.report-icon a {
			background-position: -39px 0;
			width: 19px;
		}
		
		ul.post-icons li.warn-icon a:hover { background-position: -58px 20px; }
		ul.post-icons li.warn-icon a {
			background-position: -58px 0;
			width: 22px;
		}
		
		ul.post-icons li.info-icon a:hover { background-position: -80px 20px; }
		ul.post-icons li.info-icon a {
			background-position: -80px 0;
			width: 20px;
		}
		
		ul.post-icons li.unsolve-icon a:hover,
		ul.post-icons li.solve-icon a {
			background-position: -118px 0;
			width: 20px;
		}
		
		ul.post-icons li.solve-icon a:hover,
		ul.post-icons li.unsolve-icon a { 
			background-position: -118px 20px;
			width: 20px;
		}
		
		/* @end -post-icon sprite */
		
		/* Profile Icon Sprite - contains styles responsible for the look and feel of the profile icons using css sprites */
		/* @group -profile-icon sprite */
		
		ul.profile-icons { margin-top: 20px; }
		
		ul.profile-icons li a {
			background-image: url(../imageset/profile-icons.png);
			display: block;
			text-indent: -9999px;
		}
		
		ul.profile-icons li a { height: 20px; }
		ul.profile-icons li { margin: 0 4px; }
		ul.profile-icons li.pm-icon a:hover { background-position: 0 20px; }
		ul.profile-icons li.pm-icon a {
			background-position: 0 0;
			width: 23px;
		}
		
		ul.profile-icons li.email-icon a:hover { background-position: -23px 20px; }
		ul.profile-icons li.email-icon a {
			background-position: -23px 0;
			width: 23px;
		}
		
		ul.profile-icons li.web-icon a:hover { background-position: -46px 20px; }
		ul.profile-icons li.web-icon a { 
			background-position: -46px 0; 
			width: 19px; 
		}
		
		ul.profile-icons li.msnm-icon a:hover { background-position: -65px 20px; }
		ul.profile-icons li.msnm-icon a {
			background-position: -65px 0;
			width: 21px;
		}
		
		ul.profile-icons li.icq-icon a:hover { background-position: -86px 20px; }
		ul.profile-icons li.icq-icon a {
			background-position: -86px 0;
			width: 20px;
		}
		
		ul.profile-icons li.yahoo-icon a:hover { background-position: -106px 20px; }
		ul.profile-icons li.yahoo-icon a {
			background-position: -106px 0;
			width: 23px;
		}
		
		ul.profile-icons li.aim-icon a:hover { background-position: -129px 20px; }
		ul.profile-icons li.aim-icon a {
			background-position: -129px 0;
			width: 16px;
		}
		
		ul.profile-icons li.jabber-icon a:hover { background-position: -145px 20px; }
		ul.profile-icons li.jabber-icon a {
			background-position: -145px 0;
			width: 14px;
		}
		
		/* @end */

	#quick-reply {
		background: #4a4a4b;
		margin: 10px 0;
		padding: 10px;
		text-align: center;
	}
	
	fieldset.submit-buttons { 
		clear: both;
		margin-bottom: 14px;
	}
	
	fieldset.submit-buttons a { 
		background: none;
		margin: 10px 10px 20px 10px;
		display: block;
		top: 10px;
	}
	
	#quick-reply .button2 { 
		margin-top: 10px;
		margin-bottom: -5px;
	}
	
	div.editor-content h2 { 
		margin-bottom: 20px; 
		text-align: left; 
		color: #000; 
	}
	
	div.editor-content input { margin-top: -5px; }
	
	div#message-box { margin-top: 23px; }
	
	
	#quick-mod {
		float: right;
		margin-right: 15px;
		margin-top: 10px;
	}
	
	/* @end */
	
	/* @group -posting */
	
	form#postform { margin-right: -10px; }
	
	div.unglobalise { color: #000; margin-bottom: 20px; }
	
	div.unglobalise h3 { 
		color: #346AB4;
    	font-weight:900;
    	text-transform: uppercase; font-variant:normal; }
	
	div#postingbox { margin-bottom: 20px; }
	
	div#postingbox input[type=text] { 
		border: 1px solid #a6adb6;
		background-color: #fff;
	}
	
	div#postingbox .inner { 
		padding: 20px;
		color: #000; 
	}
	
	div#postingbox .inner h3{ 
		color: #346AB4;
		text-transform: uppercase;
		font-weight: 900;
	}

	div#postingbox .inner strong{ 
		color: #346AB4;
		font-weight: 900;
	}

	div#postingbox fieldset dl { 
		clear: both;
		margin-top: 4px; 
		margin-bottom: 4px; 
		display: block;
		height: 30px;
	}

	div#postingbox fieldset cite { 
		display: block;
		margin-left: 100px;
		margin-top: -18px;
		font: 11px Helvetica;
	}

	div#message-box textarea { width: 99%; }
	
	div#smiley-box strong a { display: none; }
	
	.submit-buttons { text-align: center; }
	
	h3#review { 
		color: #b8cce8;
		text-transform: uppercase; 
		margin: 10px 0 5px 0;
	}
	
	h3#review a { font-size: 12px; }
	
	div#topicreview .post { color: #000; margin: 5px 0; }
	
	div#topicreview .post .inner { padding-bottom: 10px; }
	
	div#topicreview a:hover { color: #4a4a4b; }
	
	div#topicreview .post-head h3 { margin: 0; }
	
	div.right-box { float: right; }
	
	div#topicreview .post div.right-box ul { margin-left: 5px; }

	div#topicreview p a.top2 {
		background: url(images/icon_top.png) no-repeat;
		clear: both;
		display: block;
		float: left;
		height: 20px;
		padding-left: 22px;
		padding-top: 2px;
		width: 20px;
	}
	
	div#topicreview p a.top2:hover { color: #4a4a4b; }

	div#smiley-box div.smiles { 
		width: 495px;
		height: 20px;
		overflow: hidden; 
	}
	
	div.options-panel .inner,
	div.attach-panel .inner,
	div.poll-panel .inner { padding:20px; }
	
	div#postingbox fieldset dl.stick-topic { margin-bottom: 20px; }
	dl.stick-topic dt { margin-top: 5px; }
	
	div.options-panel dt,
	div.attach-panel dt,
	div.poll-panel dt { width: 17em; }
	div.options-panel dd cite { font-size: 11px; width: 53em; display: inline-table; }
	
	.inputbox { background-color: #FFFFFF; border-color: #B4BAC0; color: #333333; border: 1px solid #C0C0C0; cursor: text; padding: 2px; }
	.autowidth { width: auto; }
	textarea.inputbox { width: 85%; }
	div.attach-panel dd textarea { height: auto; }
	div.attach-panel fieldset,
	div.poll-panel fieldset { margin-top: 20px; }
	div.poll-panel span { font-weight: normal; }
	div.poll-panel strong { color: #346AB4; }
	
	/* @end -posting */
	
	/* @group -login */
	
	form#login { 
		margin-top: -15px;
		margin-bottom: 40px;
	}
	
	form#login .panel { margin: 10px 0; }
	
	form#login .panel h2 { 
		text-transform: capitalize;
		color: #4a4a4b; 
		margin-bottom: 40px; 
	}
	
	form#login .panel h3 { 
		text-transform: uppercase;
		color: #4a4a4b;
		margin: 0 0 -10px;
		display: block;
		font-size: 1.2em;
	}
	
	form#login .panel dl { clear: both; }
	
	form#login .panel dd { float: none; }
	
	form#login .panel dt { width: 70px; }
	
	form#login .panel p { margin: 20px 0; }
	
	form#login .panel dl.options { margin: 0 0 10px 81px; }
	
	form#login .panel dl.field dd { 
		float: left;
		margin-top: -3px;
	}
	
	form#login .panel dl.field { float: left; }
	
	form#login .panel dl.options ul { margin-left: 22px; }
	
	input[type=text],
	input[type=password] { 
		position: relative;
		background-color: #8a8a8a;
		margin: 0 0 0 15px;
		border-color: #e9e9e9;
		color: #4a4a4b;
		padding: 5px;
		font-weight: 700;
	}
	
	input[type=text]:focus,
	input[type=password]:focus { border-color: #4690f4; }
	
	input[type=submit] {
		margin: 10px 0 0 27px; 
		background: url(images/nav-bg.jpg) repeat-x;
		border-color: #e9e9e9;
	}
	
	.button1,
	input.button2 { 
		margin: 0;
		padding: 0;
		border: none;
		color: #4690f4;
		cursor: pointer;
	}
	
	.button1[value],
	input.button2[value] { color:#4a4a4b; }
	
	.button2 a,
	.button1,
	input.button2
	{
		position: relative;
		top: 10px;
		background: url("images/nav-bg.jpg") repeat-x;
		font-size: 12px;
		font-weight: 900;
		padding: 6px;
		border: 1px solid rgba(0, 0, 0, .2);
		text-transform: uppercase;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color:#4a4a4b;
	}
	
	.button2 a:hover,
	.button1[value]:hover,
	input.button2[value]:hover
	{
		color: #4690f4;
		text-decoration:none;
	}
	
		input.button2 { 
		margin-top: 3px;
		overflow: hidden;
		top: 0;
	}
	
	.post-content ul li { 
		list-style-type: disc;
	}
	
	/* @end */
	
	/* @group -register */

	div.reg-content h2 { 
		color: #4a4a4b;
		text-transform: capitalize; 
	}

	/* @end */
	
	/* @group -message */

	div#message { 
		margin-bottom: 30px; 
		text-transform: capitalize; 
		color: #4a4a4b;
	}
	
	div#message h2 { color: #4a4a4b; }
	div#message p { color: #b8cce8; }

	/* @end */
	
	
	/* @group -memberlist */

	#memberlist span.rank-img { 
		float: right; 
	}

	#memberlist td { 
		color: #536482;
	}

	#memberlist td.posts { 
		text-align: center; 
		vertical-align: middle; 
	}

	#memberlist { 
		margin-bottom: 0;
		background: #ecedf2;
		border: 1px solid #6e7071;
	}

	table.table1 tbody tr {
		border: 1px solid #BFC1CF;
	}

	table.table1 tbody td {
		border-top-color: #FAFAFA;
	}

	table.table1 tbody th {
		border-bottom-color: #000000;
	}

	table.table1 tbody tr {
		border: 1px solid #cfcfcf;
	}

	table.table1 thead th {
		font-weight: normal;
		text-transform: uppercase;
	}

	table.table1 td {
		color: #6a6a6a;
	}

	table.table1 tbody td {
		border-top: 1px solid #FAFAFA;
	}

	table.table1 tbody th {
		padding: 5px;
		border-bottom: 1px solid #000000;
		text-align: left;
	}

	/* Specific column styles */
	table.table1 .name		{ text-align: left; }
	table.table1 .posts		{ text-align: center !important; width: 7%; }
	table.table1 .joined	{ text-align: left; width: 15%; }
	table.table1 .active	{ text-align: left; width: 15%; }
	table.table1 .mark		{ text-align: center; width: 7%; }
	table.table1 .info		{ text-align: left; width: 30%; }
	table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }

	table.table1 span.rank-img {
		float: right;
		width: auto;
	}

	table.info tbody th {
		padding: 3px;
		text-align: right;
		vertical-align: top;
		color: #000000;
		font-weight: normal;
	}

	.forumbg-table .topiclist { 
		height: 30px; 
	}

	.forumbg-table .topiclist a:hover { 
		color: #FFFFFF; 
	}

	.forumbg-table .topiclist dd { text-align: left; }
	.forumbg-table .topiclist dd.username { padding-left: 0; }
	.forumbg-table .topiclist dd.username a { padding-left: 10px; }
	.forumbg-table .topiclist dd.rank { padding-left: 13px; text-align: right; }
	.forumbg-table .topiclist dd.post { padding-left: 6px; text-align: center; }
	.forumbg-table .topiclist dd.info { padding-left: 0; }
	.forumbg-table .topiclist dd.joined { padding-left: 16px; }
	.forumbg-table .topiclist dd.active { padding-left: 6px; }

	.members #jump-box .rightside { 
		float: right; 
	}
	
	.bg1 a:hover { 
		color: #444444;
 	}


	date { 
		font-size: 10px;
	}

	.memberlist .forumbg { 
		margin-bottom: 16px;
	}

	.memberlist .forumbg .inner { 
		background: url(images/nav-bg.jpg) repeat-x 0 0 #BEC1C3;
		color: #4A4A4B;
		padding: 5px;
		padding-top: 0;
	}

	.memberlist .table1 { 
		margin: 0;
	}

	.memberlist .table1 th { 
		font-weight: bolder;
	}

	.memberlist thead th { 
		background: none;
	}

	.memberlist tbody { 
		border: 1px solid #6E7071;
	}

	.memberlist h2 img { 
		margin-left: 10px;
		margin-bottom: -10px;
	}

	.members { 
		margin-top: -16px;
		margin-bottom: 20px;
	}

	form#viewprofile .panel { 
		padding: 20px;
		margin-bottom: 20px;
	}

	form#viewprofile .panel dl.profile_view dd img { padding:5px 0 5px 32px; }
	form#viewprofile .panel dl.left-box dd img { padding:5px 0; }
	form#viewprofile .panel dl dd { color: #000000; }
	form#viewprofile .panel dl dd a strong { color: #346AB4; }
	form#viewprofile .panel dl dd a strong:hover { color: #444444; }

	#search_memberlist fieldset { margin: 20px auto; }
	#search_memberlist fieldset dd { margin: 5px 0; }
	
	#search_memberlist fieldset label { 
		display: block;
		float: left;
	}
	
	#search_memberlist fieldset.column1 label { width: 100px; }
	#search_memberlist fieldset.column2 label { width: 160px; }

	/* @end */
	
	/* @group -CP Styles */

	/* proSilver Control Panel Styles
	---------------------------------------- */
	
	/* Main CP box
	----------------------------------------*/
	
	#cp-content { 
		background: #b7babc url(images/panel-bg.jpg) repeat-x left top;
		padding-top: 10px;
	}
	
	#cp-menu {
		float: left; margin:13px 0 5px 5px;
	}
	
	#cp-main {
		float: left;
		margin-left: -24px;
		margin-bottom: 17px;
	}
	
	#cp-main .content {
		padding: 0;
	}
	
	#cp-main h3, #cp-main hr, #cp-menu hr {
		border-color: #bfbfbf;
	}
	
	#cp-main .inner {
		padding: 15px;
		color: #000;
	}
	#cp-main .panel p {
		font-size: 1.1em;
	}
	
	#cp-main .panel ol {
		margin-left: 2em;
		font-size: 1.1em;
	}
	
	#cp-main .panel li.row {
		border-bottom: 1px solid #cbcbcb;
		border-top: 1px solid #F9F9F9;
	}
	
	ul.cplist {
		margin-bottom: 5px;
		border-top: 1px solid #cbcbcb;
	}
	
	ul.cplist li dl { 
		margin-bottom: 0; 
	}	

	ul.cplist li dl input[type=radio] { 
		float: left;
		margin: -1px 10px 0 0;
	}
	
	form#ucp p { 
		padding: 10px 22px 20px; 
	}
	
	#cp-main form#ucp ol { 
		margin: 0;
	}
	
	#cp-main form#ucp ol li { 
		margin-bottom: 20px;
	}
	
	#cp-main form#ucp ol ul.topiclist dl { 
		margin: 0;
	}
	
	#cp-main form#ucp ol ul li { 
		margin-bottom: 0;
	}
	
	#cp-main .panel form#ucp .cplist .row dl dt p {
		 padding: 0 0 0 23px;
	}	

	#cp-main .panel .cplist p { 
		font-size: 11px; 
	}
	
	.cplist .row dl dt p em { 
		 font-size: 11px;
		 color: #346AB4;
	}
	
	.cplist .row dl dt.nonmember a { 
		margin-left: 20px;	
	}
	
	.cplist .row .option { 
		text-align: left; 
		padding-top: 4px;
	}
	
	ul.cplist li dl dd.mark input[type=radio], ul.cplist li dl dd.mark input[type=checkbox] { margin-left: 22px; }
	
	#cp-main .panel li.header dd, #cp-main .panel li.header dt {
		color: #000000;
		margin-bottom: 2px;
	}
	
	#cp-main .panel li.header dt{ 
		margin-top: 6px;
		text-transform: uppercase;
	}
	
	#cp-main table.table1 {
		margin-bottom: 1em;
	}
	
	#cp-main table.table1 thead th {
		color: #333333;
		font-weight: bold;
		border-bottom: 1px solid #333333;
		padding: 5px;
	}
	
	#cp-main table.table1 tbody th {
		font-style: italic;
		background-color: transparent !important;
		border-bottom: none;
	}
	
	#cp-main .pagination {
		float: right;
		width: auto;
		padding-top: 1px;
	}
	
	#cp-main .postbody p {
		font-size: 1.1em;
	}
	
	#cp-main .pm-message {
		border: 1px solid #e2e2e2;
		margin: 10px 0;
		background-color: #FFFFFF;
		width: auto;
		float: none;
	}
	
	.pm-message h2 {
		padding-bottom: 5px;
	}
	
	#cp-main .postbody h3, #cp-main .box2 h3 {
		margin-top: 0;
	}
	
	#cp-main .buttons {
		margin-left: 0;
	}
	
	#cp-main ul.linklist {
		padding-bottom: 20px;
	}
	
	/* MCP Specific tweaks */
	
	.mcp-main .postbody {
		width: 100%;
	}
	
	.mcp_ban fieldset dd, .mcp_ban fieldset dt { 
		margin-top: 5px; 
		margin-bottom: 5px;
	}
	
	.mcp_ban fieldset dt.seperation { 
		border-top: solid 1px #444444;
		padding-top: 10px;
		margin-top: 10px;
	}

	/* CP tabbed menu */

	#tabs {
		line-height: normal;
		margin: 20px 0 -1px 28px;
		min-width: 570px;
	}
	
	#tabs ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#tabs li {
		display: inline;
		margin: 0;
		padding: 0;
		font-size: 1em;
		font-weight: bold;
	}
	
	#tabs a {
		float: left;
		display: block;
		background: #babdbf;
		-khtml-border-top-left-radius: 5px;
		-khtml-border-top-right-radius: 5px;;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin: 0 3px 0 0;
		padding: 0 0 0 5px;
		text-decoration: none;
		position: relative;
		cursor: pointer;
		border-bottom: 1px solid #a4a5a5;
	}
	
	#tabs a span {
		float: left;
		display: block;
		padding: 8px 10px 6px 5px;
		color: #4a4a4b;
		white-space: nowrap; 
	}
	
	#tabs a:hover { 
		border-bottom-color: #babdbf; 
		background: url(images/tab-bg.jpg) repeat-x left bottom;
	}
	#tabs a:hover span {
		color: #4690f4;
	}
	
	#tabs .activetab a {
		border-bottom-color: #babdbf; 
		background: url(images/tab-bg.jpg) repeat-x left bottom;
	}
	
	#tabs .activetab a span {
		color: #4690f4; 
	}
	
	/* Mini tabbed menu used in MCP */

	#minitabs {
		line-height: normal;
		margin: -20px 7px 0 0;
	}
	
	#minitabs ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}	

	#minitabs li {
		display: block;
		float: right;
		padding: 0 10px 4px 10px;
		font-size: 1em;
		font-weight: bold;
		background-color: #f2f2f2;
		margin-left: 2px;
	}
	
	#minitabs a:hover {
		text-decoration: none;
	}
		
	#minitabs li.activetab {
		background-color: #F9F9F9;
	}
	
	#minitabs li.activetab a, #minitabs li.activetab a:hover {
		color: #333333;
	}

	/* UCP navigation menu */
	
	/* Container for sub-navigation list */
	
	#navigation {
		width: 100%;
		padding-top: 36px;
		margin-left: -4px;
	}
	
	#navigation ul {
		list-style: none;
		margin-right: 10px;
	}
	
	/* Default list state */
	
	#navigation li {
		margin: 1px 0;
		padding: 0;
		font-weight: bold;
		display: inline;
	}
	
	/* Link styles for the sub-section links */
	
	#navigation a {
		display: block;
		padding: 5px 5px 5px 10px;
		margin: 1px 0;
		text-decoration: none;
		font-weight: bold;
		color: #4a4a4b;
		background: #cfd8e4 none repeat-y 100% 0;
		-khtml-border-top-left-radius: 5px;
		-khtml-border-bottom-left-radius: 5px;;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px; 
		border-right: 1px solid #8b9eb8; 
	}
	
	#navigation a strong { 
		color: #4a4a4b; 
	}
	
	#navigation a:hover strong { 
		color: #4690f4; 
	}
	
	#navigation a:hover {
		text-decoration: none;
		background-color: #ecedf2;
		color: #4690f4;
		border-right: 1px solid #ecedf2;
	}
	
	#navigation #active-subsection a {
		display: block;
		color: #4690f4;
		background-color: #ecedf2;
		border-right: 1px solid #ecedf2;
	}
	
	#navigation #active-subsection a:hover {
		color: #4690f4;
	}
	
	/* Preferences pane layout */
	
	#cp-main h2 {
		border-bottom: none;
		padding: 0;
		margin-left: 10px;
		color: #000;
		text-transform: capitalize; 
	}
	
	#cp-main .panel {
		background-color: #ecedf2;
	}
	
	#cp-main .pm {
		background-color: #FFFFFF;
	}
	
	/* Friends list */
	
	.cp-mini {
		background-color: #f9f9f9;
		padding: 5px 0;
		margin: 10px 20px;
		-khtml-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	dl.mini dt {
		font-weight: bold;
		color: #4a4a4b;
		padding-left: 19px;
	}
	
	dl.mini dd {
		padding-top: 4px;
		padding-left: 10px;
		color: #346AB4;
	}
	
	.friend-online {
		font-weight: bold;
	}

	.friend-offline {
		font-style: italic;
	}

	/* PM Styles */
	
	#pm-menu {
		line-height: 2.5em;
	}
	
	/* PM Message history */

	.current {
		color: #999999;
	}

	/* Defined rules list for PM options */

	ol.def-rules {
		padding-left: 0;
	}

	ol.def-rules li {
		line-height: 180%;
		padding: 1px;
	}

	/* PM marking colours */

	.pmlist li.bg1 {
		border: solid 3px transparent;
		border-width: 0 3px;
	}

	.pmlist li.bg2 {
		border: solid 3px transparent;
		border-width: 0 3px;
	}

	.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
		border-left-color: #bcbcbc;
		border-right-color: #bcbcbc;
	}

	.pmlist li.pm_marked_colour, .pm_marked_colour {
		border: solid 3px rgb(255, 102, 0);
		border-width: 0 3px;
	}

	.pmlist li.pm_replied_colour, .pm_replied_colour {
		border: solid 3px rgb(169, 184, 194);;
		border-width: 0 3px;
	}

	.pmlist li.pm_friend_colour, .pm_friend_colour {
		border: solid 3px rgb(93, 143, 189);;
		border-width: 0 3px;
	}

	.pmlist li.pm_foe_colour, .pm_foe_colour {
		border: solid 3px #000000;
		border-width: 0 3px;
	}

	.pm-legend {
		border-left-width: 10px;
		border-left-style: solid;
		border-right-width: 0;
		margin-bottom: 3px;
		padding-left: 3px;	
	}

	/* Avatar gallery */

	#gallery label {
		position: relative;
		float: left;
		margin: 10px;
		padding: 5px;
		width: auto;
		background: #FFFFFF;
		border: 1px solid #CCC;
		text-align: center;
	}

	#gallery label:hover {
		background-color: #EEE;
	}


	/* Chrome Modifications */
	
	div#cp-main div.inner p { 
		padding-bottom: 20px; 
	}

	div#cp-main div.inner div#message-box { 
		margin-top: 0; 
		margin-bottom: 10px;
	}

	div#cp-main div.inner strong { 
		color: #346AB4; 
	}

	div#cp-main div.inner ul a:hover, div#cp-main div.inner h3 a:hover { 
		color: #4a4a4b; 
	}

	div#cp-main div.inner div.back2top a:hover { 
		color: #4690f4; 
	}

	div#cp-main div.inner strong.pagination a:hover { 
		color: #FFF; 
	}

	div#cp-main div.inner h3 { 
		padding: 0;
		margin-bottom: 5px;
		text-transform: uppercase;
		color: #4a4a4b;
	}

	div#cp-main div.inner ul.topiclist {
		margin-bottom: -15px;
	}

	div#cp-main div.inner li ul.topiclist {
		margin-bottom: 0;
	}

	div#cp-main div.inner ul.cplist {
		margin-bottom: 20px;
	}

	div#cp-content div.inner ul.cplist {
		background-color: #cfd8e4;
	}

	div#cp-content div.inner ul.topiclist li.row:hover {
		background-color: #dee7f6;
	}

	div#cp-main div.inner dl.details dd {
		margin-bottom: 10px;
	}

	#cp-main .panel { 
		margin-bottom: 10px; 
		background-color: #ecedf2;
	}

	#cp-main fieldset { 
		color: #000; 
	}

	#cp-main fieldset.display-options { 
		text-align: center;
	}

	#cp-main fieldset label { 
		color: #346AB4;
	}

	#cp-main fieldset dl dt span { 
		font-weight: normal;
	}

	#cp-main fieldset textarea { 
		width: auto;
		height: auto;
	}

	#cp-main fieldset .left { 
		margin-left: 18px;
	}

	#cp-main fieldset .right { 
		text-align: right;
		margin-right: 20px;
	}

	#cp-main .inner .g-info { 
		text-align: left;
		padding-left: 5px;
	}


	#cp-main input[type=text],
	#cp-main input[type=password] { 
		position: inherit;
		background-color: #fff;
		margin: 0;
		border-color: #BBB;
		color: #000;
		padding: 5px;
		font-weight: normal;
	}

	#cp-main .inner .pmlist dd span { 
		display: block;
		margin: 5px 0;	
	}

	#cp-main .inner .pmlist dd input { 
		margin: 0 2px;	
	}

	#cp-main .inner .column2 { 
		margin-bottom: 20px;
		padding-top: 5px;	
	}

	#cp-main .inner .column1 label { 
		display: block;
		margin-top: 11px;	
	}

	#cp-main .inner .column2 label { 
		display: block;
		margin-top: 0;
	}

	#cp-main .inner .column1 .to,
	#cp-main .inner .column1 .bcc { 
		margin-bottom: 15px;
	
	}

	#cp-main .inner li ol,
	#cp-main .inner li ul { 
		margin: inherit;
	
	}

	#cp-main .inner ol.def-rules li { 
		list-style-type: decimal;
		margin-left: 30px;
	}

	#cp-main > .inner { 
		background-color: #ecedf2;
	}

	#cp-main .pm-msg { 
		padding-bottom: 20px; 
		margin-bottom: 10px;
		margin-top: 10px;
	}

	dd.next { 
		float: right; 
	}

	pm-message-nav a:hover, dd.prev a, dd.next a, dd.prev a:hover, dd.next a:hover, #cp-main .inner .pagination span strong, #cp-main .inner .pagination span a:hover { 
		color: #FFFFFF; 
	}

	/* @end */

/* @end =pages */


/* temp style */


#advanced_search fieldset dd, #advanced_search fieldset dt { 
	margin-top: 5px;
	margin-bottom: 5px;
}

#advanced_search fieldset { color: #333; }

#advanced_search fieldset strong { color: #000; }

#advanced_search fieldset dt label, #advanced_search fieldset dd span { 
	color: #B8CCE8;
}

#advanced_search fieldset #searchterms { 
	padding-left: 10px;
}

#advanced_search fieldset .seperation { 
	border-bottom: solid 1px #333;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.search .postbody .content { color: #000; }
.search .searchresults a strong { color: #346AB4; }
.search-results .pagination { padding-top: 0; margin-top: 10px; }
.search-results .return { margin-top: 10px; }
div.search-results { margin-bottom: 30px; }

