/* @group global reset */

/* Styles used to gloabaly reset margins, paddings, borders etc. based on a combination of Yahoo and Blueprint css resets*/

@import url("960/reset.css");

/* @end */

/* Commonly used and default styles such as clears and typography */

/* @group utility */

/* basic layout utility */

@import url("960/960_24_col.css");

/* setup some descent defaults */

@import url("960/type.css");

@import url("960/forms.css");

/*my utility classes to perform most simple operations*/

@import url("960/utility.css");

/* @end */

/* Site Structure Defaults*/

/* @group =base */

/* Global styles - containes styles for common tags */

/* @group -globals */

/*  Fix up IE6 PNG Support */

img {
	behavior: url(./scripts/iepngfix.htc);
}

/* @end -globals*/

a
{
	color:#4690f4;
}

a#logo
{
	background:url("http://localhost/test/styles/test/theme/images/logo.jpg") no-repeat;
	display:block;
	height:91px;
	text-indent:-9999px;
	width:309px;
}

a.minus
{
	background:url("http://localhost/test/styles/test/theme/images/minus.jpg") no-repeat;
}

a.plus
{
	background:url("http://localhost/test/styles/test/theme/images/plus.jpg") no-repeat;
}

a.username-coloured,ul.linklist a.icon-home
{
	font-weight:700;
}

body
{
	background:#2e2f31 url("http://localhost/test/styles/test/theme/images/head-bg.jpg") repeat-x 0 top;
	color:#b8cce8;
	font-family:"Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing:.05em;
	line-height:16px;
}

dd.lastpost span
{
	display:block;
	padding-left:4px;
}

dd.posts,dd.topics,dd.views
{
	line-height:2em;
}

div#footer
{
	background:#252627 url("http://localhost/test/styles/test/theme/images/foot-bg.jpg") repeat-x center top;
	height:100%;
	padding-bottom:20px;
	position:relative;
}

div#footer div.container_24
{
	padding-top:15px;
}

div#info
{
	margin-bottom:0;
	margin-left:20px;
	margin-top:20px;
}

div#info h3
{
	color:#4a4a4b;
}

div#info h3,div#info h3 a
{
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
}

div#nav
{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#b8babd url("http://localhost/test/styles/test/theme/images/nav-bg.jpg") repeat-x left top;
	color:#000;
	float:left;
	margin-top:30px;
	padding:0;
}

div#nav #searchbox fieldset
{
	margin-left:60px;
}

div#nav div#searchbox input[type=text],div#nav div#searchbox input[type=password],div#nav div#searchbox input.text,div#nav div#searchbox input.title,div#nav textarea,div#nav div#searchbox select
{
	margin:0;
	width:300px;
}

div#nav div#searchbox input[type=text],div#nav div#searchbox input[type=password],div#nav div#searchbox input.text,div#nav div#searchbox input.title,div#nav textarea,div#nav div#searchbox select,div#nav input[type=text],div#nav input[type=password],div#nav input.text,div#nav input.title,div#nav textarea,div#nav select
{
	border-color:#252627;
}

div#nav dl.boxes dd,div. forabg dl dt,div. forabg dl dd
{
	float:left;
}

div#nav dl.checks
{
	margin:0 136px;
}

div#nav dl.checks dt
{
	margin-left:36px;
}

div#nav dl.checks dt,#nav dl.checks dd
{
	float:none;
}

div#nav fieldset
{
	float:left;
	margin:16px 0 20px 35px;
}

div#nav fieldset dl
{
	margin:0 0 5px;
}

div#nav input[type=text],div#nav input[type=password],div#nav input.text,div#nav input.title,div#nav textarea,div#nav select
{
	margin:0;
	width:130px;
}

div#nav label
{
	font-size:11px;
}

div#nav li
{
	font-size:11px;
	font-weight:700;
	padding:0 11px;
}

div#nav ul
{
	margin:0 0 0 2px;
	padding:12px;
	text-align:center;
}

div#wrap
{
	height:100%;
	width:100%;
}

div.copyright
{
	color:#555;
	margin-bottom:30px;
	padding:5px 5px 0;
	position:relative;
	text-align:center;
	top:25px;
}

div.copyright span
{
	color:#b8cce8;
}

div.forabg
{
	padding:8px 0;
	z-index:2;
}

div.forabg dl,div.forabg ul,li.row dd.topics,li.row dd.posts,li.row dd.lastpost
{
	margin:0;
}

div.inner div
{
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topright:3px;
	background:#b7babc url("http://localhost/test/styles/test/theme/images/forum-bg.jpg") repeat-x;
	margin:0;
	padding:4px;
	z-index:2;
}

div.navbar
{
	padding:9px 0 5px 4px;
}

dl.icon dt
{
	padding:4px 0;
}

dl.icon dt span
{
	background-image:url("http://localhost/test/styles/test/imageset/forum-icons.png");
	display:block;
	float:left;
	height:29px;
	margin:10px;
	width:28px;
}

dl.icon dt span.announce_read,dl.icon dt span.global_read
{
	background-position:377px 0;
}

dl.icon dt span.announce_read_locked,dl.icon dt span.global_read_locked
{
	background-position:319px 0;
}

dl.icon dt span.announce_read_locked_mine,dl.icon dt span.global_read_locked_mine
{
	background-position:289px 0;
}

dl.icon dt span.announce_read_mine,dl.icon dt span.global_read_mine
{
	background-position:347px 0;
}

dl.icon dt span.announce_unread,dl.icon dt span.global_unread
{
	background-position:377px 29px;
}

dl.icon dt span.announce_unread_locked,dl.icon dt span.global_unread_locked
{
	background-position:319px 29px;
}

dl.icon dt span.announce_unread_locked_mine,dl.icon dt span.global_unread_locked_mine
{
	background-position:289px 29px;
}

dl.icon dt span.announce_unread_mine,dl.icon dt span.global_unread_mine
{
	background-position:347px 29px;
}

dl.icon dt span.forum_link
{
	background-position:29px 0;
}

dl.icon dt span.forum_locked_read
{
	background-position:261px 0;
}

dl.icon dt span.forum_read_subforum
{
	background-position:232px 0;
}

dl.icon dt span.forum_unread
{
	background-position:203px 29px;
}

dl.icon dt span.forum_unread_locked
{
	background-position:261px 29px;
}

dl.icon dt span.forum_unread_subforum
{
	background-position:232px 29px;
}

dl.icon dt span.sticky_read
{
	background-position:493px 0;
}

dl.icon dt span.sticky_read_locked
{
	background-position:435px 0;
}

dl.icon dt span.sticky_read_locked_mine
{
	background-position:405px 0;
}

dl.icon dt span.sticky_read_mine
{
	background-position:463px 0;
}

dl.icon dt span.sticky_unread
{
	background-position:493px 29px;
}

dl.icon dt span.sticky_unread_locked
{
	background-position:435px 29px;
}

dl.icon dt span.sticky_unread_locked_mine
{
	background-position:405px 29px;
}

dl.icon dt span.sticky_unread_mine
{
	background-position:463px 29px;
}

dl.icon dt span.topic_moved
{
	background-position:29px 29px;
}

dl.icon dt span.topic_read
{
	background-position:203px 0;
}

dl.icon dt span.topic_read_hot
{
	background-position:87px 0;
}

dl.icon dt span.topic_read_hot_mine
{
	background-position:57px 0;
}

dl.icon dt span.topic_read_locked
{
	background-position:145px 0;
}

dl.icon dt span.topic_read_locked_mine
{
	background-position:115px 0;
}

dl.icon dt span.topic_read_mine
{
	background-position:173px 0;
}

dl.icon dt span.topic_unread_hot
{
	background-position:87px 29px;
}

dl.icon dt span.topic_unread_hot_mine
{
	background-position:57px 29px;
}

dl.icon dt span.topic_unread_locked
{
	background-position:145px 29px;
}

dl.icon dt span.topic_unread_locked_mine
{
	background-position:115px 29px;
}

dl.icon dt span.topic_unread_mine
{
	background-position:173px 29px;
}

fieldset dd
{
	margin-left:1em;
}

li.header dd
{
	border-left-width:0;
	display:block;
	font-size:12px;
	font-weight:700;
	margin:0;
	padding-left:12px;
	text-transform:uppercase;
	top:17px;
}

li.header dd,li.row
{
	line-height:1.1em;
}

li.header dt
{
	padding-right:17px;
	position:relative;
}

li.header dt a.expand
{
	float:left;
	height:14px;
	margin:9px 7px 9px 14px;
	text-indent:-9999px;
	width:14px;
}

li.header dt a.ftitle
{
	background:url("http://localhost/test/styles/test/theme/images/tab-right.jpg") no-repeat right top;
	color:#4a4a4b;
	display:block;
	float:left;
	font-size:12px;
	padding:10px 26px 10px 0;
	text-transform:uppercase;
}

li.header dt span
{
	-moz-border-radius-topleft:5px;
	background:url("http://localhost/test/styles/test/theme/images/tab-left.jpg") no-repeat;
	float:left;
	font-weight:700;
	left:-6px;
	overflow:hidden;
	position:relative;
	top:7px;
	z-index:999;
}

li.icon-home
{
	background:url("http://localhost/test/styles/test/theme/images/icon_home.gif") no-repeat left top;
	padding-left:20px;
}

li.rightside
{
	padding-left:15px;
	text-align:right;
}

li.row
{
	border-bottom:1px solid #acb3bc;
	border-top:1px solid #f5f6fc;
	color:#000;
	cursor:pointer;
}

li.row dd
{
	border-left:1px solid #e0e0e0;
	padding-top:8px;
}

li.row dt
{
	padding-right:10px;
}

li.row dt a
{
	font-size:14px;
	font-weight:700;
	margin-bottom:4px;
}

li.row dt a.forumtitle
{
	display:block;
	margin-bottom:4px;
}

li.row dt a.subforum
{
	font-size:12px;
	font-weight:400;
}

li.row dt,p
{
	font-weight:400;
}

li.row:hover
{
	background-color:#cfd8e4;
}

li.row:hover dd
{
	border-left-color:#999;
}

strong
{
	color:#9ea8b3;
	font-weight:900;
}

ul li.row
{
	clear:both;
	display:block;
}

ul.forums
{
	background:#ecedf2;
	border:1px solid #6e7071;
	display:block;
}

ul.linklist
{
	margin-top:10px;
}

ul.topiclist dd
{
	padding-left:5px;
	padding-right:5px;
}

ul.topiclist dd.topics,ul.topiclist dd.posts
{
	text-align:center;
}

ul.topiclist dfn
{
	display:none;
}

ul.topiclist dl
{
	height:1%;
	overflow:hidden;
}