<!-- INCLUDE overall_header.html -->
<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></head><body><ul class="linklist">
	<!-- IF S_DISPLAY_SEARCH -->

	<!-- ENDIF -->
    <!-- IF U_MCP --><li class="leftside">[&nbsp;<a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_MCP%7D">{L_MCP}</a>&nbsp;]</li><!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_MARK_FORUMS%7D" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_LOGIN_LOGOUT%7D">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &#8226; &nbsp;<a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_REGISTER%7D">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input value="stickybomb" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" type="text">  
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" type="password">
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input name="autologin" id="autologin" type="checkbox"></label>
			<!-- ENDIF -->
			<input name="login" value="{L_LOGIN}" class="button2" type="submit">
		</fieldset>
	</form>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_VIEWONLINE%7D">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br>{RECORD_USERS}<br> <br>{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->

<!-- [+] Karma MOD -->
<!-- IF KARMA_TOPLIST -->
	<h3>{L_KARMA_TOPLIST}</h3>
	<p>{L_KARMA_TOPLIST_EXPLAIN}: <strong>{KARMA_TOPLIST}</strong></p>
<!-- ENDIF -->
<!-- [-] Karma MOD -->

<!-- IF NEWEST_USER -->
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &#8226; {TOTAL_TOPICS} &#8226; {TOTAL_USERS} &#8226; {NEWEST_USER}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html --></body></html>