<!-- INCLUDE simple_header.html -->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"><script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = 'message';
// ]]>
</script>
<script type="text/javascript" src="posting_smilies_files/editor.html"></script>

</head><body><h2>{L_SMILIES}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN smiley --> 
			<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true, true); return false;"><img src="posting_smilies_files/smiley.html" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" height="{smiley.SMILEY_HEIGHT}" width="{smiley.SMILEY_WIDTH}"></a> 
		<!-- END smiley	-->
	
	<span class="corners-bottom"><span></span></span></div>
</div>
<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html --></body></html>