<!-- INCLUDE ucp_header.html -->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></head><body><h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_UCP_WELCOME}</p>

<!-- IF .topicrow -->
	<h3>{L_IMPORTANT_NEWS}</h3>

	<ul class="topiclist cplist">
	<!-- BEGIN topicrow -->
		<li class="row&lt;!-- IF topicrow.S_ROW_COUNT is odd --&gt; bg1&lt;!-- ELSE --&gt; bg2&lt;!-- ENDIF --&gt;">
			<dl class="icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt <!--="" if="" topicrow.topic_icon_img="" --="">style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->&gt;
					<!-- IF topicrow.S_UNREAD --><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Btopicrow.U_NEWEST_POST%7D">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Btopicrow.U_VIEW_TOPIC%7D" class="topictitle">{topicrow.TOPIC_TITLE}</a><br>
					<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} » {topicrow.FIRST_POST_TIME}
				</dt>
				<dd class="lastpost"><span>{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
					<a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Btopicrow.U_LAST_POST%7D">{LAST_POST_IMG}</a> <br>{topicrow.LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->

	<h3>{L_YOUR_DETAILS}</h3>

	<dl class="details">
		<dt>{L_JOINED}:</dt> <dd>{JOINED}</dd>
		<dt>{L_VISITED}:</dt> <dd>{LAST_VISIT_YOU}</dd>
		<dt>{L_TOTAL_POSTS}:</dt> <dd><!-- IF POSTS_PCT -->{POSTS} | <strong><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_SEARCH_USER%7D">{L_SEARCH_YOUR_POSTS}</a></strong><br>({POSTS_DAY} / {POSTS_PCT})<!-- ELSE -->{POSTS}<!-- ENDIF --></dd>
		<!-- IF ACTIVE_FORUM --><dt>{L_ACTIVE_IN_FORUM}:</dt> <dd><strong><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_ACTIVE_FORUM%7D">{ACTIVE_FORUM}</a></strong><br>({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})</dd><!-- ENDIF -->
		<!-- IF ACTIVE_TOPIC --><dt>{L_ACTIVE_IN_TOPIC}:</dt> <dd><strong><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7BU_ACTIVE_TOPIC%7D">{ACTIVE_TOPIC}</a></strong><br>({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})</dd><!-- ENDIF -->
		<!-- IF WARNINGS --><dt>{L_YOUR_WARNINGS}:</dt> <dd class="error">{WARNING_IMG} [{WARNINGS}]</dd><!-- ENDIF -->
	</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE ucp_footer.html --></body></html>