<!-- INCLUDE ucp_header.html -->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></head><body><form id="ucp" method="post" action="{S_UCP_ACTION}" {s_form_enctype}="">

<h2>{L_TITLE}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl>
		<dt><label for="bbcode1">{L_DEFAULT_BBCODE}:</label></dt>
		<dd>
			<label for="bbcode1"><input name="bbcode" id="bbcode1" value="1" <!--="" if="" s_bbcode="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_YES}</label> 
			<label for="bbcode0"><input name="bbcode" id="bbcode0" value="0" <!--="" if="" not="" s_bbcode="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="smilies1">{L_DEFAULT_SMILIES}:</label></dt>
		<dd>
			<label for="smilies1"><input name="smilies" id="smilies1" value="1" <!--="" if="" s_smilies="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_YES}</label> 
			<label for="smilies0"><input name="smilies" id="smilies0" value="0" <!--="" if="" not="" s_smilies="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="sig1">{L_DEFAULT_ADD_SIG}:</label></dt>
		<dd>
			<label for="sig1"><input name="sig" id="sig1" value="1" <!--="" if="" s_sig="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_YES}</label> 
			<label for="sig0"><input name="sig" id="sig0" value="0" <!--="" if="" not="" s_sig="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="notify1">{L_DEFAULT_NOTIFY}:</label></dt>
		<dd>
			<label for="notify1"><input name="notify" id="notify1" value="1" <!--="" if="" s_notify="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_YES}</label> 
			<label for="notify0"><input name="notify" id="notify0" value="0" <!--="" if="" not="" s_notify="" --="" type="radio"> checked="checked"<!-- ENDIF --> /&gt; {L_NO}</label>
		</dd>
	</dl>
	</fieldset>
	
	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input value="{L_RESET}" name="reset" class="button2" type="reset">&nbsp; 
	<input name="submit" value="{L_SUBMIT}" class="button1" type="submit">
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html --></body></html>