<!-- INCLUDE ucp_header.html -->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></head><body><form id="postform" method="post" action="{S_UCP_ACTION}" {s_form_enctype}="">

<h2>{L_TITLE}</h2>

<!-- IF SIGNATURE_PREVIEW -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_SIGNATURE_PREVIEW}</h3>
		<div class="postbody pm">
			<div class="signature" style="border-top:none; margin-top: 0; ">{SIGNATURE_PREVIEW}</div>
		</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_SIGNATURE_EXPLAIN}</p>

	<!-- DEFINE $SIG_EDIT = 1 -->
	<!-- INCLUDE posting_editor.html -->
	<h3>{L_OPTIONS}</h3>
	<fieldset>
		<!-- IF S_BBCODE_ALLOWED -->
			<div><label for="disable_bbcode"><input name="disable_bbcode" id="disable_bbcode" {s_bbcode_checked}="" type="checkbox"> {L_DISABLE_BBCODE}</label></div>
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
			<div><label for="disable_smilies"><input name="disable_smilies" id="disable_smilies" {s_smilies_checked}="" type="checkbox"> {L_DISABLE_SMILIES}</label></div>
		<!-- ENDIF -->
		<!-- IF S_LINKS_ALLOWED -->
			<div><label for="disable_magic_url"><input name="disable_magic_url" id="disable_magic_url" {s_magic_url_checked}="" type="checkbox"> {L_DISABLE_MAGIC_URL}</label></div>
		<!-- ENDIF -->
	
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
	<input name="reset" value="{L_RESET}" class="button2" type="reset">&nbsp; 
	<input name="preview" value="{L_PREVIEW}" class="button2" type="submit">&nbsp; 
	<input name="submit" value="{L_SUBMIT}" class="button1" type="submit">
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html --></body></html>