<!-- INCLUDE ucp_header.html -->
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"></head><body><form id="postform" method="post" action="{S_UCP_ACTION}" {s_form_enctype}="">

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{L_DRAFTS_EXPLAIN}</p>

<!-- IF S_EDIT_DRAFT -->

		<!-- INCLUDE posting_editor.html -->
		<span class="corners-bottom"><span></span></span></div>
	</div>

			<fieldset class="submit-buttons">
				{S_HIDDEN_FIELDS}<input value="{L_RESET}" name="reset" class="button2" type="reset">&nbsp;
				<input name="submit" value="{L_SAVE}" class="button1" type="submit">
				{S_FORM_TOKEN}
			</fieldset>

<!-- ELSE -->

	<!-- IF .draftrow -->
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_DRAFT_TITLE}</dt>
					<dd class="info"><span>{L_SAVE_DATE}</span></dd>
					<dd class="mark">{L_MARK}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist">

		<!-- BEGIN draftrow -->
			<li class="row&lt;!-- IF draftrow.S_ROW_COUNT is odd --&gt; bg1&lt;!-- ELSE --&gt; bg2&lt;!-- ENDIF --&gt;">
				<dl>
					<dt>
						<a class="topictitle" href="http://www.aobot.org/forum/styles/Exhibit/template/%7Bdraftrow.U_VIEW_EDIT%7D">{draftrow.DRAFT_SUBJECT}</a><br>
						<!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}: <a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Bdraftrow.U_VIEW%7D">{draftrow.TITLE}</a>
						<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}: <a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Bdraftrow.U_VIEW%7D">{draftrow.TITLE}</a>
						<!-- ELSEIF S_PRIVMSGS -->
						<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF -->
					</dt>
					<dd class="info"><span>{draftrow.DATE}<br><!-- IF draftrow.U_INSERT --><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Bdraftrow.U_INSERT%7D">{L_LOAD_DRAFT}</a> &#8226; <!-- ENDIF --><a href="http://www.aobot.org/forum/styles/Exhibit/template/%7Bdraftrow.U_VIEW_EDIT%7D">{L_VIEW_EDIT}</a></span></dd>
					<dd class="mark"><input name="d[{draftrow.DRAFT_ID}]" id="d{draftrow.DRAFT_ID}" type="checkbox"></dd>
				</dl>
			</li>
		<!-- END draftrow -->
		</ul>
	<!-- ELSE -->
		<p><strong>{L_NO_SAVED_DRAFTS}</strong></p>
	<!-- ENDIF -->

		<span class="corners-bottom"><span></span></span>
	

	<!-- IF .draftrow -->
		<fieldset class="display-actions">
			<input class="button2" name="delete" value="{L_DELETE_MARKED}" type="submit">
			<div><a href="#" onclick="marklist('postform', '', true); return false;">{L_MARK_ALL}</a> &#8226; <a href="#" onclick="marklist('postform', '', false); return false;">{L_UNMARK_ALL}</a></div>
			{S_FORM_TOKEN}
		</fieldset>
	<!-- ENDIF -->

<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html --></body></html>