/* 
   ==========================================================================
   Normalize - Reset v2.1.0
   ==========================================================================
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  display: block;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
object {
  display: block;
}
/* 
   ==========================================================================
   Baseline Typeography & Elements
   ==========================================================================
*/
body {
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 24px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
  display: block;
}
h1,
h2,
h3 {
  line-height: 48px;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13.6px;
}
h1 small {
  font-size: 28px;
}
h2 small {
  font-size: 20px;
}
h3 small,
h4 small {
  font-size: 16px;
}
p {
  margin: 0 0 12px;
}
small {
  font-size: 10px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 20px;
  margin: 0 0 24px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
blockquote small {
  display: block;
  line-height: 24px;
  color: #eeeeee;
}
blockquote small:before {
  content: '\2014 \00A0';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 24px;
  font-style: normal;
  line-height: 24px;
}
hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  color: #21b5e4;
}
/* - Base Lists
----------------------------------------------*/
ul,
ol {
  padding: 0;
  margin: 0 0 12px 24px;
}
ol ol,
ul ul,
dl dl {
  margin-left: 30px;
}
ul ul,
ul ol,
ul dl,
ol ol,
ol ul,
ol dl,
dl dl,
dl ol,
dl ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
li {
  line-height: 24px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 24px;
}
dt,
dd {
  line-height: 24px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 12px;
}
/* - Base Forms
----------------------------------------------*/
form {
  margin: 0 0 24px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
fieldset > article {
  margin: 10px 0 10px 20px;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 48px;
  color: #555555;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 18px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  height: 24px;
  padding: 4px 6px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input {
  width: 206px;
}
textarea {
  width: 412px;
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
.float label {
  display: inline-block;
}
.float input[type="radio"],
.float input[type="checkbox"] {
  margin-left: 20px;
  margin-right: 4px;
}
.float dl {
  margin: 0;
  padding: 0;
}
.float dl dt,
.float dl dd {
  display: inline-block;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 34px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 34px;
}
select {
  display: block;
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #555555;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 3px;
  *padding-bottom: 3px;
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button.active,
input[type="submit"].active,
input[type="reset"].active,
input[type="button"].active,
button.disabled,
input[type="submit"].disabled,
input[type="reset"].disabled,
input[type="button"].disabled,
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  color: #555555;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button.active,
input[type="submit"].active,
input[type="reset"].active,
input[type="button"].active {
  background-color: #cccccc \9;
}
button:first-child,
input[type="submit"]:first-child,
input[type="reset"]:first-child,
input[type="button"]:first-child {
  *margin-left: 0;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #555555;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button.active,
input[type="submit"].active,
input[type="reset"].active,
input[type="button"].active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
button.disabled,
input[type="submit"].disabled,
input[type="reset"].disabled,
input[type="button"].disabled,
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* - Base Tables
----------------------------------------------*/
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
}
th,
td {
  padding: 8px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
th {
  font-weight: bold;
}
thead th {
  vertical-align: bottom;
}
caption + thead tr:first-child th,
caption + tbody tr:first-child th,
caption + thead tr:first-child td,
caption + tbody tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + tbody tr:first-child th,
colgroup + thead tr:first-child td,
colgroup + tbody tr:first-child td,
thead:first-child tr:first-child th,
tbody:first-child tr:first-child th,
thead:first-child tr:first-child td,
tbody:first-child tr:first-child td {
  border-top: 0;
}
tbody + tbody {
  border-top: 2px solid #dddddd;
}
tbody > tr:nth-child(odd) > td,
tbody > tr:nth-child(odd) > th {
  background-color: #eeeeee;
}
tbody tr:hover td,
tbody tr:hover th {
  background-color: #999999;
}
/* - Base HTML5
----------------------------------------------*/
nav {
  *zoom: 1;
}
nav > ul {
  list-style: none;
}
nav > ul li {
  float: left;
  padding: 0 5px;
  color: #21b5e4;
}
nav > ul li > a {
  display: block;
}
nav > ul li.active {
  cursor: default;
}
nav > ul li.active > a {
  color: #21b5e4;
  cursor: default;
}
nav:before,
nav:after {
  display: table;
  content: "";
  line-height: 0;
}
nav:after {
  clear: both;
}
/* 
   ==========================================================================
   Responsive Grid System
   ==========================================================================
*/
.pull-right {
  float: right;
}
.mobile {
  display: none;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.container {
  margin: 0 auto;
}
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Desktop */
.container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
[class*="span"].hide {
  display: none;
}
[class*="span"].pull-right {
  float: right;
}
/* Large Screen */
@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
  }
  [class*="span"] {
    margin-left: 30px;
  }
  .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .desk {
    display: none;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
    width: auto;
  }
  .row {
    margin-left: 0;
  }
  [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .desk {
    display: none;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}
/* Mobile Portrait */
@media (max-width: 480px) {
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .mobile {
    visibility: visible;
    display: inline-block;
    width: auto;
    height: auto;
  }
}
/*
	===============================================================================
	UI Elements
	===============================================================================
*/
/* - Icons
----------------------------------------------*/
@font-face {
  font-family: 'midaym';
  src: url('../fonts/midaym.eot');
  src: url('../fonts/midaym.eot?#iefix') format('embedded-opentype'), url('../fonts/midaym.svg#icomoon') format('svg'), url('../fonts/midaym.woff') format('woff'), url('../fonts/midaym.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  *margin-right: .3em;
  font-family: 'midaym';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 4px;
}
.icon-m:before {
  content: "\4d";
}
.icon-i:before {
  content: "\49";
}
.icon-d:before {
  content: "\44";
}
.icon-a:before {
  content: "\41";
}
.icon-y:before {
  content: "\59";
}
.icon-home:before {
  content: "\24";
}
.icon-vcard:before {
  content: "\25";
}
.icon-envelope-alt:before {
  content: "\23";
}
.icon-cc:before {
  content: "\6f";
}
.icon-midaym:before {
  content: "\70";
}
.icon-flickr:before {
  content: "\76";
}
.icon-twitter:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\6e";
}
.icon-github:before {
  content: "\6d";
}
.icon-github-2:before {
  content: "\2c";
}
.icon-linkedin:before {
  content: "\2e";
}
.icon-googleplus:before {
  content: "\2f";
}
.icon-pinterest:before {
  content: "\3f";
}
.icon-export:before {
  content: "\21";
}
/* - Button
----------------------------------------------*/
button[class^="pill-"],
input[type="submit"][class^="pill-"],
input[type="reset"][class^="pill-"],
input[type="button"][class^="pill-"],
a[class^="pill-"],
[class^="pill-"] > li > a {
  font-weight: bold;
  padding: 8px 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
button[class^="pill-"],
input[type="submit"][class^="pill-"],
input[type="reset"][class^="pill-"],
input[type="button"][class^="pill-"],
a[class^="pill-"] {
  height: 24px;
  display: inline-block;
  margin: 2px 5px;
}
button[class^="pill-"],
input[type="submit"][class^="pill-"],
input[type="reset"][class^="pill-"],
input[type="button"][class^="pill-"] {
  border: none;
  height: auto;
  margin: 0;
  text-shadow: none;
  background-image: none;
  background-repeat: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
button.pill-dark,
input[type="submit"].pill-dark,
input[type="reset"].pill-dark,
input[type="button"].pill-dark,
a.pill-dark,
.pill-dark > li > a {
  background-color: #21b5e4;
  color: #ffffff;
}
button.pill-dark:hover,
input[type="submit"].pill-dark:hover,
input[type="reset"].pill-dark:hover,
input[type="button"].pill-dark:hover,
a.pill-dark.active,
.pill-dark > li.active > a,
a.pill-dark:hover,
.pill-dark > li > a:hover {
  color: #ffffff;
  background-color: #666666;
}
button.pill-light,
input[type="submit"].pill-light,
input[type="reset"].pill-light,
input[type="button"].pill-light,
a.pill-light,
.pill-light > li > a {
  background-color: #ffffff;
  color: #333333;
}
button.pill-light:hover,
input[type="submit"].pill-light:hover,
input[type="reset"].pill-light:hover,
input[type="button"].pill-light:hover,
a.pill-light.active,
.pill-light > li.active > a,
a.pill-light:hover,
.pill-light > li > a:hover {
  color: #ffffff;
  background-color: #21b5e4;
}
/* - Drop Down
----------------------------------------------*/
.drop > a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.drop:hover > ul,
.drop:focus > ul {
  display: block;
  visibility: visible;
  z-index: 99;
  top: 35px;
  right: 20px;
}
.drop > ul {
  list-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #333333;
  padding: 8px 0;
  float: none;
  display: none;
  visibility: hidden;
  position: absolute;
  top: -9999px;
  margin: 0;
  color: #666666;
}
.drop > ul > li {
  float: none;
  display: block;
  padding: 0 15px;
  color: #666666;
}
.drop > ul > li:hover,
.drop > ul > li:focus {
  background-color: #666666;
}
.drop > ul > li:hover > a,
.drop > ul > li:focus > a {
  color: #ffffff;
}
.drop > ul > li a {
  display: block;
  color: #666666;
  width: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 20px 0;
}
h1 {
  letter-spacing: -4px;
  margin-bottom: 0;
  font-size: 54px;
  line-height: 60px;
}
h1 small {
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  color: #333333;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
h2 {
  display: block;
  letter-spacing: -3px;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 6px;
  color: #ffffff;
}
h2 small {
  display: block;
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
h3 {
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 36px;
}
h4 {
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 36px;
}
h5 {
  letter-spacing: -1px;
  font-size: 18px;
  line-height: 6px;
  margin-top: 24px;
}
h6 {
  letter-spacing: -1px;
  font-size: 18px;
  line-height: 0;
  margin: 24px 0 -6px;
}
p {
  margin: 20px 0;
  font-weight: 200;
  vertical-align: baseline;
}
i {
  font-size: 36px;
}
nav a span {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
img.featured {
  width: 100%;
  height: 100%;
  margin: 72px 0 -10px 0;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border: 10px solid rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
blockquote {
  border-left: solid 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 20px;
}
blockquote blockquote {
  padding-bottom: 20px;
}
article a {
  color: #21b5e4;
  font-weight: 700;
}
article a:hover {
  color: #1794bb;
}
article tbody tr:hover td,
article tbody tr:hover th {
  background-color: #eeeeee;
}
aside ul {
  list-style: none;
}
/* Prettify CSS - its here because I hate not being able to use less vars..... */
code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #f1c5c7;
  background-color: #fbeeef;
  color: #d44950;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  padding: 3px;
}
pre.prettyprint,
code.prettyprint {
  display: block;
  padding: 10px;
  margin-left: 20px;
  background-color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #d9d9d9;
  line-height: 20px;
}
.pln {
  color: #ffffff;
}
@media screen {
  .str {
    color: #d44950;
  }
  /* string content */
  .kwd {
    color: #2f6fa1;
  }
  /* a keyword */
  .com {
    color: #999999;
  }
  /* a comment */
  .typ {
    color: #ffffff;
  }
  /* a type name */
  .lit {
    color: #d44950;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun {
    color: #4f9fd0;
  }
  .opn {
    color: #ffffff;
  }
  .clo {
    color: #ffffff;
  }
  .tag {
    color: #2f6fa1;
  }
  /* a markup tag name */
  .atn {
    color: #4f9fd0;
  }
  /* a markup attribute name */
  .atv {
    color: #d44950;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #2f6fa1;
  }
  /* a declaration; a variable name */
  .fun {
    color: #d44950;
  }
  /* a function name */
}
/* Primary Structure */
header {
  padding: 40px 0;
}
header .branding {
  display: block;
  width: 230px;
  text-transform: uppercase;
  font-family: 'midaymMain';
  margin-top: -20px;
  font-size: 48px;
  color: #333333;
  letter-spacing: -4px;
}
header .branding img {
  margin-bottom: -4px;
  padding-right: 8px;
}
header nav a.pill-dark {
  margin-top: -4px;
}
header hgroup {
  margin-top: 40px;
}
section {
  padding: 40px 0;
}
section h2 {
  margin-top: 48px;
}
.date {
  display: block;
  width: 100%;
  text-align: right;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  list-style: -3px;
  color: #fff;
  opacity: .5;
}
.odd h2,
.odd p {
  text-align: right;
}
.odd .pill-light,
.odd .pill-dark {
  float: right;
}
.odd .date {
  text-align: left;
}
.single .date {
  text-align: left;
  color: #333;
  padding-bottom: 16px;
}
footer {
  padding: 60px 0 40px;
  font-weight: 300;
}
footer i.icon-cc {
  position: relative;
}
footer .copyright {
  margin-top: -16px;
}
footer .copyright > a {
  font-family: 'midaym';
  font-size: 36px;
}
footer .social {
  list-style: none;
  margin: 0;
}
footer .social > li {
  display: inline-block;
}
footer .social > li i {
  color: #999999;
}
footer .social > li:hover i {
  color: #21b5e4;
}
/* Utility Classes */
.white,
.about,
.single {
  color: #333333;
}
.white h2,
.about h2,
.single h2,
.white h2 small,
.about h2 small,
.single h2 small,
.white h4,
.about h4,
.single h4 {
  color: #333333;
}
.white p,
.about p,
.single p {
  color: #333333;
}
.white strong,
.about strong,
.single strong {
  color: #d44950;
}
.white a.pill-light,
.about a.pill-light,
.single a.pill-light {
  color: #ffffff;
  background-color: #21b5e4;
}
.white a.pill-light:hover,
.about a.pill-light:hover,
.single a.pill-light:hover {
  color: #ffffff;
  background-color: #666666;
}
.white article a:hover,
.about article a:hover,
.single article a:hover {
  color: #1794bb;
}
.gray,
.contact {
  background-color: #cccccc;
  color: #333333;
}
.gray h2,
.contact h2,
.gray h2 small,
.contact h2 small,
.gray h4,
.contact h4 {
  color: #333333;
}
.gray p,
.contact p {
  color: #333333;
}
.gray strong,
.contact strong {
  color: #d44950;
}
.gray a.pill-light,
.contact a.pill-light {
  color: #ffffff;
  background-color: #21b5e4;
}
.gray a.pill-light:hover,
.contact a.pill-light:hover {
  color: #ffffff;
  background-color: #666666;
}
.gray article a:hover,
.contact article a:hover {
  color: #1794bb;
}
.yellow {
  background-color: #ffcd1a;
}
.red {
  background-color: #d44950;
}
.green {
  background-color: #48d470;
  color: #333333;
}
.green h2,
.green h2 small,
.green h4 {
  color: #333333;
}
.green p {
  color: #333333;
}
.green strong {
  color: #d44950;
}
.green a.pill-light {
  color: #ffffff;
  background-color: #21b5e4;
}
.green a.pill-light:hover {
  color: #ffffff;
  background-color: #666666;
}
.green article a:hover {
  color: #1794bb;
}
.blue {
  background-color: #4f9fd0;
}
.blue a.pill-light {
  color: #333333;
  background-color: #ffffff;
}
.blue a.pill-light:hover {
  color: #ffffff;
  background-color: #666666;
}
.pink {
  background-color: #d448ac;
}
.purple {
  background-color: #9e48d4;
}
.orange {
  background-color: #f98d21;
}
.black {
  background-color: #4d4d4d;
  /* a type name */

}
.black pre.prettyprint,
.black code.prettyprint {
  background-color: #f2f2f2;
}
.black .pln {
  color: #333333;
}
.black .typ {
  color: #333333;
}
.draft {
  display: none;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
  nav {
    margin: 10px 0;
  }
  nav > ul li {
    padding: 0 3px;
  }
  nav > ul li a {
    padding: 3px 10px;
  }
  section [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  aside {
    padding-top: 40px;
  }
  img.featured {
    display: none;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}
/* Mobile Landscape */
@media (max-width: 767px) {
  header nav {
    padding-top: 20px;
  }
  footer {
    text-align: center;
  }
  footer nav {
    margin: 10px 225px;
  }
  .pull-right {
    float: none;
  }
  aside {
    padding-top: 40px;
  }
  img.featured {
    display: none;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}
/* Mobile */
@media (max-width: 480px) {
  nav {
    position: relative;
    margin-left: 100px;
  }
  nav > ul {
    margin: 0;
  }
  nav > ul li {
    padding: 0;
  }
  nav > ul li a {
    padding: 3px 8px;
  }
  .branding {
    text-align: center;
    margin: -20px auto 0;
  }
  section article {
    padding-bottom: 20px;
  }
  footer {
    text-align: center;
  }
  footer nav {
    text-align: center;
    margin: 10px 24px;
  }
  footer nav li {
    padding: 0 14px;
  }
  footer nav li a {
    padding: 0;
  }
  .pull-right {
    float: none;
  }
  img.featured {
    display: none;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}
