/*------------------------------------*\
    CORE.LESS
\*------------------------------------*/
/**
 * Contains all contents from the core directory - This consists of standard layout 
 * and utility classes also atoms and core refactors of common selectors
 */
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $ATOMS
\*------------------------------------*/
/*------------------------------------*\
    $ATOM-MARGINS
\*------------------------------------*/
/**
 * Used to adjust the default spacing between components
 *
 * t = top
 * r = right
 * b = bottom
 * l = left
 * h = horizontal
 * v = vertical
 *
 */
/**
 * All
 */
.m {
  margin: 24;
}
.m-2x {
  margin: 48;
}
.m-3x {
  margin: 72;
}
.m-4x {
  margin: 96;
}
.m-5x {
  margin: 120;
}
.m-6x {
  margin: 144;
}
.m-half {
  margin: 12;
}
.m-quarter {
  margin: 6;
}
.m-eighth {
  margin: 3;
}
.p {
  padding: 24;
}
.p-2x {
  padding: 48;
}
.p-3x {
  padding: 72;
}
.p-4x {
  padding: 96;
}
.p-5x {
  padding: 120;
}
.p-6x {
  padding: 144;
}
.p-half {
  padding: 12;
}
.p-quarter {
  padding: 6;
}
.p-eighth {
  padding: 3;
}
/**
 * Top
 */
.mt {
  margin-top: 24;
}
.mt-2x {
  margin-top: 48;
}
.mt-3x {
  margin-top: 72;
}
.mt-4x {
  margin-top: 96;
}
.mt-5x {
  margin-top: 120;
}
.mt-6x {
  margin-top: 144;
}
.mt-half {
  margin-top: 12;
}
.mt-quarter {
  margin-top: 6;
}
.mt-eighth {
  margin-top: 3;
}
.pt {
  padding-top: 24;
}
.pt-2x {
  padding-top: 48;
}
.pt-3x {
  padding-top: 72;
}
.pt-4x {
  padding-top: 96;
}
.pt-5x {
  padding-top: 120;
}
.pt-6x {
  padding-top: 144;
}
.pt-half {
  padding-top: 12;
}
.pt-quarter {
  padding-top: 6;
}
.pt-eighth {
  padding-top: 3;
}
/**
 * Right
 */
.mr {
  margin-right: 24;
}
.mr-2x {
  margin-right: 48;
}
.mr-3x {
  margin-right: 72;
}
.mr-4x {
  margin-right: 96;
}
.mr-5x {
  margin-right: 120;
}
.mr-6x {
  margin-right: 144;
}
.mr-half {
  margin-right: 12;
}
.mr-quarter {
  margin-right: 6;
}
.mr-eighth {
  margin-right: 3;
}
.pr {
  padding-right: 24;
}
.pr-2x {
  padding-right: 48;
}
.pr-3x {
  padding-right: 72;
}
.pr-4x {
  padding-right: 96;
}
.pr-5x {
  padding-right: 120;
}
.pr-6x {
  padding-right: 144;
}
.pr-half {
  padding-right: 12;
}
.pr-quarter {
  padding-right: 6;
}
.pr-eighth {
  padding-right: 3;
}
/**
 * Bottom
 */
.mb {
  margin-bottom: 24;
}
.mb-2x {
  margin-bottom: 48;
}
.mb-3x {
  margin-bottom: 72;
}
.mb-4x {
  margin-bottom: 96;
}
.mb-5x {
  margin-bottom: 120;
}
.mb-6x {
  margin-bottom: 144;
}
.mb-half {
  margin-bottom: 12;
}
.mb-quarter {
  margin-bottom: 6;
}
.mb-eighth {
  margin-bottom: 3;
}
.pb {
  padding-bottom: 24;
}
.pb-2x {
  padding-bottom: 48;
}
.pb-3x {
  padding-bottom: 72;
}
.pb-4x {
  padding-bottom: 96;
}
.pb-5x {
  padding-bottom: 120;
}
.pb-6x {
  padding-bottom: 144;
}
.pb-half {
  padding-bottom: 12;
}
.pb-quarter {
  padding-bottom: 6;
}
.pb-eighth {
  padding-bottom: 3;
}
/**
 * Left
 */
.ml {
  margin-left: 24;
}
.ml-2x {
  margin-left: 48;
}
.ml-3x {
  margin-left: 72;
}
.ml-4x {
  margin-left: 96;
}
.ml-5x {
  margin-left: 120;
}
.ml-6x {
  margin-left: 144;
}
.ml-half {
  margin-left: 12;
}
.ml-quarter {
  margin-left: 6;
}
.ml-eighth {
  margin-left: 3;
}
.pl {
  padding-left: 24;
}
.pl-2x {
  padding-left: 48;
}
.pl-3x {
  padding-left: 72;
}
.pl-4x {
  padding-left: 96;
}
.pl-5x {
  padding-left: 120;
}
.pl-6x {
  padding-left: 144;
}
.pl-half {
  padding-left: 12;
}
.pl-quarter {
  padding-left: 6;
}
.pl-eighth {
  padding-left: 3;
}
/**
 * Horizontal
 */
.mh {
  margin-left: 24;
  margin-right: 24;
}
.mh-2x {
  margin-left: 48;
  margin-right: 48;
}
.mh-3x {
  margin-left: 72;
  margin-right: 72;
}
.mh-4x {
  margin-left: 96;
  margin-right: 96;
}
.mh-5x {
  margin-left: 120;
  margin-right: 120;
}
.mh-6x {
  margin-left: 144;
  margin-right: 144;
}
.mh-half {
  margin-left: 12;
  margin-right: 12;
}
.mh-quarter {
  margin-left: 6;
  margin-right: 6;
}
.mh-eighth {
  margin-left: 3;
  margin-right: 3;
}
.ph {
  padding-left: 24;
  padding-right: 24;
}
.ph-2x {
  padding-left: 48;
  padding-right: 48;
}
.ph-3x {
  padding-left: 72;
  padding-right: 72;
}
.ph-4x {
  padding-left: 96;
  padding-right: 96;
}
.ph-5x {
  padding-left: 120;
  padding-right: 120;
}
.ph-6x {
  padding-left: 144;
  padding-right: 144;
}
.ph-half {
  padding-left: 12;
  padding-right: 12;
}
.ph-quarter {
  padding-left: 6;
  padding-right: 6;
}
.ph-eighth {
  padding-left: 3;
  padding-right: 3;
}
/**
 * Vertical
 */
.mv {
  margin-top: 24;
  margin-bottom: 24;
}
.mv-2x {
  margin-top: 48;
  margin-bottom: 48;
}
.mv-3x {
  margin-top: 72;
  margin-bottom: 72;
}
.mv-4x {
  margin-top: 96;
  margin-bottom: 96;
}
.mv-5x {
  margin-top: 120;
  margin-bottom: 120;
}
.mv-6x {
  margin-top: 144;
  margin-bottom: 144;
}
.mv-half {
  margin-top: 12;
  margin-bottom: 12;
}
.mv-quarter {
  margin-top: 6;
  margin-bottom: 6;
}
.mv-eighth {
  margin-top: 3;
  margin-bottom: 3;
}
.pv {
  padding-top: 24;
  padding-bottom: 24;
}
.pv-2x {
  padding-top: 48;
  padding-bottom: 48;
}
.pv-3x {
  padding-top: 72;
  padding-bottom: 72;
}
.pv-4x {
  padding-top: 96;
  padding-bottom: 96;
}
.pv-5x {
  padding-top: 120;
  padding-bottom: 120;
}
.pv-6x {
  padding-top: 144;
  padding-bottom: 144;
}
.pv-half {
  padding-top: 12;
  padding-bottom: 12;
}
.pv-quarter {
  padding-top: 6;
  padding-bottom: 6;
}
.pv-eighth {
  padding-top: 3;
  padding-bottom: 3;
}
/*------------------------------------*\
    $ATOM-TEXT
\*------------------------------------*/
/**
 * Horizontal text alignment
 */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */
.text-truncate {
  max-width: 100%;
  /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  /* 2 */
}
/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */
.text-break {
  word-wrap: break-word !important;
}
/**
 * Bold Text
 *
 * Sometimes you need make blocks of text bold but wrapping in strong tags breaks semantics
 */
.text-bold {
  font-weight: 700;
}
/*------------------------------------*\
    $ATOM-IMAGES
\*------------------------------------*/
/**
 * Image Classes
 */
.img-rounded {
  border-radius: 6;
}
.img-circle {
  border-radius: 50%;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-thumbnail {
  line-height: 16px;
  line-height: 1rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  padding: 0.25rem;
}
/*------------------------------------*\
    $ATOM-VISABILITY
\*------------------------------------*/
/**
 * Completely remove from the flow and screen readers.
 */
.hidden {
  display: none !important;
  visibility: hidden !important;
}
/**
 * Completely undo hidden.
 */
.display {
  display: block !important;
  visibility: visible !important;
}
/**
 * Display content only for screen readers.
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/**
 * Completely remove from the flow but leave available to screen readers.
 */
.hidden-visually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
/**
 * Control visibility without affecting flow.
 */
.invisible {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
}
/**
*  IE10 in Windows (Phone) 8
*  
*  Support for responsive views via media queries is kind of borked in IE10, for
*  Surface/desktop in split view and for Windows Phone 8. This particular fix
*  must be accompanied by a snippet of JavaScript to sniff the user agent and
*  apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
*  our Getting Started page for more information on this bug.
*  
*  For more information, see the following:
*  
*  Issue: https://github.com/twbs/bootstrap/issues/10497
*  Docs: http://getbootstrap.com/getting-started/#browsers
*  Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
*/
@-ms-viewport {
  width: device-width;
}
/**
 * Responsive Visibility Classes
 */
.visible-s {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: 767px) {
  .visible-s {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .visible-s.visible-m {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .visible-s.visible-l {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 1200px) {
  .visible-s.visible-w {
    display: block !important;
    visibility: visible !important;
  }
}
.visible-m {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: 767px) {
  .visible-m.visible-s {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .visible-m {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .visible-m.visible-l {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 1200px) {
  .visible-m.visible-w {
    display: block !important;
    visibility: visible !important;
  }
}
.visible-l {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: 767px) {
  .visible-l.visible-s {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .visible-l.visible-m {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .visible-l {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 1200px) {
  .visible-l.visible-w {
    display: block !important;
    visibility: visible !important;
  }
}
.visible-w {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: 767px) {
  .visible-w.visible-s {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .visible-w.visible-m {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .visible-w.visible-l {
    display: block !important;
    visibility: visible !important;
  }
}
@media (min-width: 1200px) {
  .visible-w {
    display: block !important;
    visibility: visible !important;
  }
}
.hidden-s {
  display: block !important;
  visibility: visible !important;
}
@media (max-width: 767px) {
  .hidden-s {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .hidden-s.hidden-m {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .hidden-s.hidden-l {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 1200px) {
  .hidden-s.hidden-w {
    display: none !important;
    visibility: hidden !important;
  }
}
.hidden-m {
  display: block !important;
  visibility: visible !important;
}
@media (max-width: 767px) {
  .hidden-m.hidden-s {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .hidden-m {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .hidden-m.hidden-l {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 1200px) {
  .hidden-m.hidden-w {
    display: none !important;
    visibility: hidden !important;
  }
}
.hidden-l {
  display: block !important;
  visibility: visible !important;
}
@media (max-width: 767px) {
  .hidden-l.hidden-s {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .hidden-l.hidden-m {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .hidden-l {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 1200px) {
  .hidden-l.hidden-w {
    display: none !important;
    visibility: hidden !important;
  }
}
.hidden-w {
  display: block !important;
  visibility: visible !important;
}
@media (max-width: 767px) {
  .hidden-w.hidden-s {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .hidden-w.hidden-m {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .hidden-w.hidden-l {
    display: none !important;
    visibility: hidden !important;
  }
}
@media (min-width: 1200px) {
  .hidden-w {
    display: none !important;
    visibility: hidden !important;
  }
}
/**
 * Print Utility
 */
.visible-print {
  display: none !important;
  visibility: hidden !important;
}
@media print {
  .visible-print {
    display: block !important;
    visibility: visible !important;
  }
  .hidden-print {
    display: none !important;
    visibility: hidden !important;
  }
}
/*------------------------------------*\
    $ATOM-LAYOUT
\*------------------------------------*/
/**
 * Clearfix
 */
/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-baseline {
  vertical-align: baseline !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
/**
 * Horizontal Center Utility
 */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**
 * New block formatting context
 *
 * This affords some useful properties to the element. It won't wrap under
 * floats. Will also contain any floated children.

 * N.B. This will clip overflow. Use the alternative method below if this is
 * problematic.
 */
.nbfc {
  overflow: hidden !important;
}
/**
 * New block formatting context (alternative)
 *
 * Alternative method when overflow must not be clipped.
 *
 * 1. Create a new block formatting context (NBFC).
 * 2. Avoid shrink-wrap behaviour of table-cell.
 *
 * N.B. This breaks down in some browsers when elements within this element
 * exceed its width.
 */
.nbfcAlt {
  display: table-cell !important;
  /* 1 */
  width: 10000px !important;
  /* 2 */
}
/**
 * Floats
 */
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
/**
 * Object position helpers.
 *
 * Float an object left or right, and include some space between the object and
 * proceeding objects.
 */
.objLeft {
  float: left !important;
  margin-right: 10px;
}
.objRight {
  float: right !important;
  margin-left: 10px;
}
/**
 * 1. Remove excess space below images
 * 2. Guard against `img {max-width:100%}` hiding this utility's images in
 *    IE 8.
 */
.objLeft img,
.objRight img {
  display: block;
  /* 1 */
  max-width: none;
  /* 2 */
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*------------------------------------*\
    $ATOM-COLORS
\*------------------------------------*/
/**
 * Used for comon clour changes to text
 */
.black-pure {
  background-color: #000000;
}
.black-dark {
  background-color: #1a1a1a;
}
.black {
  background-color: #333333;
}
.black-light {
  background-color: #4d4d4d;
}
.gray-darker {
  background-color: #666666;
}
.gray-dark {
  background-color: #808080;
}
.gray {
  background-color: #999999;
}
.gray-light {
  background-color: #b3b3b3;
}
.gray-lighter {
  background-color: #cccccc;
}
.white-darkest {
  background-color: #dddddd;
}
.white-darker {
  background-color: #e6e6e6;
}
.white-dark {
  background-color: #f2f2f2;
}
.white {
  background-color: #ffffff;
}
.silver-light {
  background-color: #edf1f2;
}
.silver {
  background-color: #c8cbcc;
}
.silver-dark {
  background-color: #9da3a6;
}
.bluegray-light {
  background-color: #b8c6cc;
}
.bluegray {
  background-color: #8d9ea6;
}
.bluegray-dark {
  background-color: #667880;
}
.pink-light {
  background-color: #ff6699;
}
.pink {
  background-color: #d94c7b;
}
.pink-dark {
  background-color: #b3365f;
}
.purple-light {
  background-color: #b762d9;
}
.purple {
  background-color: #9959b3;
}
.purple-dark {
  background-color: #753f8c;
}
.blue-bright {
  background-color: #33beff;
}
.blue {
  background-color: #3698d9;
}
.blue-dark {
  background-color: #2479b3;
}
.navy-light {
  background-color: #46698c;
}
.navy {
  background-color: #384f66;
}
.navy-dark {
  background-color: #203040;
}
.blue-alt-bright {
  background-color: #3381ff;
}
.blue-alt {
  background-color: #3675d9;
}
.blue-alt-dark {
  background-color: #245ab3;
}
.teal-light {
  background-color: #17e6b9;
}
.teal {
  background-color: #1dbf9f;
}
.teal-dark {
  background-color: #0f997d;
}
.green-light {
  background-color: #30f281;
}
.green {
  background-color: #33cc73;
}
.green-dark {
  background-color: #21a658;
}
.yellow-light {
  background-color: #fff55b;
}
.yellow {
  background-color: #ffcd1a;
}
.yellow-dark {
  background-color: #f39c12;
}
.orange-light {
  background-color: #ff9233;
}
.orange {
  background-color: #e67e22;
}
.orange-dark {
  background-color: #d35400;
}
.red-light {
  background-color: #ff4733;
}
.red {
  background-color: #d94636;
}
.red-dark {
  background-color: #b33224;
}
.white,
.white-dark,
.white-darker,
.white-darkest,
.silver-light,
.silver,
.silver-dark {
  color: #333333 !important;
}
.text-black {
  color: #333333;
}
/*------------------------------------*\
    $ATOM-LISTS
\*------------------------------------*/
/**
 * List Type Classes
 */
.list-unstyled,
.list-unstyled ul,
.list-unstyled ol {
  list-style: none;
}
.list-inline {
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 6px;
  padding-left: 0.375rem;
  padding-right: 6px;
  padding-right: 0.375rem;
}
@media (min-width: 768px) {
  .list-inline {
    /**
         * Inline Description Lists
         * Defaults to being stacked without any of the below styles applied, until the
         * grid breakpoint is reached (default of ~768px).
         */
  }
  .list-inline dt {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: left;
    float: left;
    margin-top: 0;
    width: 160px;
  }
  .list-inline dd {
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
    margin-left: 180px;
  }
  .list-inline dd:before,
  .list-inline dd:after {
    content: " ";
    display: table;
  }
  .list-inline dd:after {
    clear: both;
  }
}
/*------------------------------------*\
    $ATOM-TABLES
\*------------------------------------*/
/**
 * Table Type Classes
 */
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f4fbfe;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 6px;
  padding: 0.375rem;
}
.table-bordered {
  border: 2px solid #dddddd;
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 0;
}
.table-bordered > thead > tr th,
.table-bordered > tbody > tr th,
.table-bordered > tfoot > tr th,
.table-bordered > thead > tr td,
.table-bordered > tbody > tr td,
.table-bordered > tfoot > tr td {
  border: 2px solid #dddddd;
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-bordered > thead th:first-child {
  border-top-left-radius: 0;
}
.table-bordered > thead th:last-child {
  border-top-right-radius: 0;
}
/*------------------------------------*\
    $ATOM-INLLINE-FORMS
\*------------------------------------*/
/**
 * Form Inline Class
 * 
 * Make forms appear inline(-block) by adding the `.form-inline` class. Inline
 * forms begin stacked on extra small (mobile) devices and then go inline when
 * viewports reach <768px.
 * 
 * Requires wrapping inputs and labels with `.form-group` for proper display of
 * default HTML form controls.
 */
.form-group {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .form-inline fieldset {
    padding-left: 12px;
    padding-right: 12px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .form-inline .form-group {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
  }
  .form-inline .form-group:first-child {
    margin-left: 0;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin: 0px 3px;
    margin: 0rem 0.1875rem;
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
    top: 0;
  }
}
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/**
 *  Grid ported from Bootstrap 3.0.1
 */
/**
 *  Decalre a grid
 *
 *  margin: 0 auto;
 *  .padding(0, @half-spacing-unit);
 *  .cf();
 */
.grid {
  margin: 0 auto;
  padding: 0px 6px;
  padding: 0rem 0.375rem;
}
@media (min-width: 768px) {
  .grid {
    padding: 0px 12px;
    padding: 0rem 0.75rem;
  }
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
@media (min-width: 480px) {
  .grid {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .grid {
    width: 744px;
  }
}
@media (min-width: 984px) {
  .grid {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .grid {
    width: 1164px;
  }
}
/**
 *  Declare Grid Row
 *
 *  .margin(0, (@gutter / -2));
 *  .cf();
 */
.grid-row {
  margin: 0px;
  margin: 0rem;
}
.grid-row:before,
.grid-row:after {
  content: " ";
  display: table;
}
.grid-row:after {
  clear: both;
}
/**
 *  Common styles for small and large grid columns
 *
 *  float: left;
 *  position: relative;
 *  min-height: 1px;
 *  .padding(0, (@grid-gutter-width / 2));
 */
.grid-s-1, .grid-m-1, .grid-l-1, .grid-w-1, .grid-s-2, .grid-m-2, .grid-l-2, .grid-w-2, .grid-s-3, .grid-m-3, .grid-l-3, .grid-w-3, .grid-s-4, .grid-m-4, .grid-l-4, .grid-w-4, .grid-s-5, .grid-m-5, .grid-l-5, .grid-w-5, .grid-s-6, .grid-m-6, .grid-l-6, .grid-w-6, .grid-s-7, .grid-m-7, .grid-l-7, .grid-w-7, .grid-s-8, .grid-m-8, .grid-l-8, .grid-w-8, .grid-s-9, .grid-m-9, .grid-l-9, .grid-w-9, .grid-s-10, .grid-m-10, .grid-l-10, .grid-w-10, .grid-s-11, .grid-m-11, .grid-l-11, .grid-w-11, .grid-s-12, .grid-m-12, .grid-l-12, .grid-w-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0px 6px;
  padding: 0rem 0.375rem;
}
@media (min-width: 768px) {
  .grid-s-1, .grid-m-1, .grid-l-1, .grid-w-1, .grid-s-2, .grid-m-2, .grid-l-2, .grid-w-2, .grid-s-3, .grid-m-3, .grid-l-3, .grid-w-3, .grid-s-4, .grid-m-4, .grid-l-4, .grid-w-4, .grid-s-5, .grid-m-5, .grid-l-5, .grid-w-5, .grid-s-6, .grid-m-6, .grid-l-6, .grid-w-6, .grid-s-7, .grid-m-7, .grid-l-7, .grid-w-7, .grid-s-8, .grid-m-8, .grid-l-8, .grid-w-8, .grid-s-9, .grid-m-9, .grid-l-9, .grid-w-9, .grid-s-10, .grid-m-10, .grid-l-10, .grid-w-10, .grid-s-11, .grid-m-11, .grid-l-11, .grid-w-11, .grid-s-12, .grid-m-12, .grid-l-12, .grid-w-12 {
    padding: 0px 12px;
    padding: 0rem 0.75rem;
  }
}
/**
 *  Small Grid
 *
 *  Columns, offsets, pushes, and pulls for extra small devices like
 *  smartphones.
 */
.grid-s-1 {
  width: 8.333333333333332%;
}
.grid-s-2 {
  width: 16.666666666666664%;
}
.grid-s-3 {
  width: 25%;
}
.grid-s-4 {
  width: 33.33333333333333%;
}
.grid-s-5 {
  width: 41.66666666666667%;
}
.grid-s-6 {
  width: 50%;
}
.grid-s-7 {
  width: 58.333333333333336%;
}
.grid-s-8 {
  width: 66.66666666666666%;
}
.grid-s-9 {
  width: 75%;
}
.grid-s-10 {
  width: 83.33333333333334%;
}
.grid-s-11 {
  width: 91.66666666666666%;
}
.grid-s-12 {
  width: 100%;
}
.grid-s-pull-1 {
  right: 8.333333333333332%;
}
.grid-s-pull-2 {
  right: 16.666666666666664%;
}
.grid-s-pull-3 {
  right: 25%;
}
.grid-s-pull-4 {
  right: 33.33333333333333%;
}
.grid-s-pull-5 {
  right: 41.66666666666667%;
}
.grid-s-pull-6 {
  right: 50%;
}
.grid-s-pull-7 {
  right: 58.333333333333336%;
}
.grid-s-pull-8 {
  right: 66.66666666666666%;
}
.grid-s-pull-9 {
  right: 75%;
}
.grid-s-pull-10 {
  right: 83.33333333333334%;
}
.grid-s-pull-11 {
  right: 91.66666666666666%;
}
.grid-s-pull-12 {
  right: 100%;
}
.grid-s-push-1 {
  left: 8.333333333333332%;
}
.grid-s-push-2 {
  left: 16.666666666666664%;
}
.grid-s-push-3 {
  left: 25%;
}
.grid-s-push-4 {
  left: 33.33333333333333%;
}
.grid-s-push-5 {
  left: 41.66666666666667%;
}
.grid-s-push-6 {
  left: 50%;
}
.grid-s-push-7 {
  left: 58.333333333333336%;
}
.grid-s-push-8 {
  left: 66.66666666666666%;
}
.grid-s-push-9 {
  left: 75%;
}
.grid-s-push-10 {
  left: 83.33333333333334%;
}
.grid-s-push-11 {
  left: 91.66666666666666%;
}
.grid-s-push-12 {
  left: 100%;
}
.grid-s-offset-1 {
  margin-left: 8.333333333333332%;
}
.grid-s-offset-2 {
  margin-left: 16.666666666666664%;
}
.grid-s-offset-3 {
  margin-left: 25%;
}
.grid-s-offset-4 {
  margin-left: 33.33333333333333%;
}
.grid-s-offset-5 {
  margin-left: 41.66666666666667%;
}
.grid-s-offset-6 {
  margin-left: 50%;
}
.grid-s-offset-7 {
  margin-left: 58.333333333333336%;
}
.grid-s-offset-8 {
  margin-left: 66.66666666666666%;
}
.grid-s-offset-9 {
  margin-left: 75%;
}
.grid-s-offset-10 {
  margin-left: 83.33333333333334%;
}
.grid-s-offset-11 {
  margin-left: 91.66666666666666%;
}
.grid-s-offset-12 {
  margin-left: 100%;
}
/**
 *  Medium grid
 *
 *  Columns, offsets, pushes, and pulls for the small device range, from phones
 *  to tablets.
 */
@media (min-width: 768px) {
  .grid-m-1 {
    width: 8.333333333333332%;
  }
  .grid-m-2 {
    width: 16.666666666666664%;
  }
  .grid-m-3 {
    width: 25%;
  }
  .grid-m-4 {
    width: 33.33333333333333%;
  }
  .grid-m-5 {
    width: 41.66666666666667%;
  }
  .grid-m-6 {
    width: 50%;
  }
  .grid-m-7 {
    width: 58.333333333333336%;
  }
  .grid-m-8 {
    width: 66.66666666666666%;
  }
  .grid-m-9 {
    width: 75%;
  }
  .grid-m-10 {
    width: 83.33333333333334%;
  }
  .grid-m-11 {
    width: 91.66666666666666%;
  }
  .grid-m-12 {
    width: 100%;
  }
  .grid-m-pull-1 {
    right: 8.333333333333332%;
  }
  .grid-m-pull-2 {
    right: 16.666666666666664%;
  }
  .grid-m-pull-3 {
    right: 25%;
  }
  .grid-m-pull-4 {
    right: 33.33333333333333%;
  }
  .grid-m-pull-5 {
    right: 41.66666666666667%;
  }
  .grid-m-pull-6 {
    right: 50%;
  }
  .grid-m-pull-7 {
    right: 58.333333333333336%;
  }
  .grid-m-pull-8 {
    right: 66.66666666666666%;
  }
  .grid-m-pull-9 {
    right: 75%;
  }
  .grid-m-pull-10 {
    right: 83.33333333333334%;
  }
  .grid-m-pull-11 {
    right: 91.66666666666666%;
  }
  .grid-m-pull-12 {
    right: 100%;
  }
  .grid-m-push-1 {
    left: 8.333333333333332%;
  }
  .grid-m-push-2 {
    left: 16.666666666666664%;
  }
  .grid-m-push-3 {
    left: 25%;
  }
  .grid-m-push-4 {
    left: 33.33333333333333%;
  }
  .grid-m-push-5 {
    left: 41.66666666666667%;
  }
  .grid-m-push-6 {
    left: 50%;
  }
  .grid-m-push-7 {
    left: 58.333333333333336%;
  }
  .grid-m-push-8 {
    left: 66.66666666666666%;
  }
  .grid-m-push-9 {
    left: 75%;
  }
  .grid-m-push-10 {
    left: 83.33333333333334%;
  }
  .grid-m-push-11 {
    left: 91.66666666666666%;
  }
  .grid-m-push-12 {
    left: 100%;
  }
  .grid-m-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .grid-m-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .grid-m-offset-3 {
    margin-left: 25%;
  }
  .grid-m-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .grid-m-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid-m-offset-6 {
    margin-left: 50%;
  }
  .grid-m-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid-m-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .grid-m-offset-9 {
    margin-left: 75%;
  }
  .grid-m-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid-m-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .grid-m-offset-12 {
    margin-left: 100%;
  }
}
/**
 *  Large grid
 *
 *  Columns, offsets, pushes, and pulls for the desktop device range.
 */
@media (min-width: 984px) {
  .grid-l-1 {
    width: 8.333333333333332%;
  }
  .grid-l-2 {
    width: 16.666666666666664%;
  }
  .grid-l-3 {
    width: 25%;
  }
  .grid-l-4 {
    width: 33.33333333333333%;
  }
  .grid-l-5 {
    width: 41.66666666666667%;
  }
  .grid-l-6 {
    width: 50%;
  }
  .grid-l-7 {
    width: 58.333333333333336%;
  }
  .grid-l-8 {
    width: 66.66666666666666%;
  }
  .grid-l-9 {
    width: 75%;
  }
  .grid-l-10 {
    width: 83.33333333333334%;
  }
  .grid-l-11 {
    width: 91.66666666666666%;
  }
  .grid-l-12 {
    width: 100%;
  }
  .grid-l-pull-1 {
    right: 8.333333333333332%;
  }
  .grid-l-pull-2 {
    right: 16.666666666666664%;
  }
  .grid-l-pull-3 {
    right: 25%;
  }
  .grid-l-pull-4 {
    right: 33.33333333333333%;
  }
  .grid-l-pull-5 {
    right: 41.66666666666667%;
  }
  .grid-l-pull-6 {
    right: 50%;
  }
  .grid-l-pull-7 {
    right: 58.333333333333336%;
  }
  .grid-l-pull-8 {
    right: 66.66666666666666%;
  }
  .grid-l-pull-9 {
    right: 75%;
  }
  .grid-l-pull-10 {
    right: 83.33333333333334%;
  }
  .grid-l-pull-11 {
    right: 91.66666666666666%;
  }
  .grid-l-pull-12 {
    right: 100%;
  }
  .grid-l-push-1 {
    left: 8.333333333333332%;
  }
  .grid-l-push-2 {
    left: 16.666666666666664%;
  }
  .grid-l-push-3 {
    left: 25%;
  }
  .grid-l-push-4 {
    left: 33.33333333333333%;
  }
  .grid-l-push-5 {
    left: 41.66666666666667%;
  }
  .grid-l-push-6 {
    left: 50%;
  }
  .grid-l-push-7 {
    left: 58.333333333333336%;
  }
  .grid-l-push-8 {
    left: 66.66666666666666%;
  }
  .grid-l-push-9 {
    left: 75%;
  }
  .grid-l-push-10 {
    left: 83.33333333333334%;
  }
  .grid-l-push-11 {
    left: 91.66666666666666%;
  }
  .grid-l-push-12 {
    left: 100%;
  }
  .grid-l-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .grid-l-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .grid-l-offset-3 {
    margin-left: 25%;
  }
  .grid-l-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .grid-l-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid-l-offset-6 {
    margin-left: 50%;
  }
  .grid-l-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid-l-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .grid-l-offset-9 {
    margin-left: 75%;
  }
  .grid-l-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid-l-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .grid-l-offset-12 {
    margin-left: 100%;
  }
}
/**
 *  Wide grid
 *
 *  Columns, offsets, pushes, and pulls for the large desktop device range.
 */
@media (min-width: 1200px) {
  .grid-w-1 {
    width: 8.333333333333332%;
  }
  .grid-w-2 {
    width: 16.666666666666664%;
  }
  .grid-w-3 {
    width: 25%;
  }
  .grid-w-4 {
    width: 33.33333333333333%;
  }
  .grid-w-5 {
    width: 41.66666666666667%;
  }
  .grid-w-6 {
    width: 50%;
  }
  .grid-w-7 {
    width: 58.333333333333336%;
  }
  .grid-w-8 {
    width: 66.66666666666666%;
  }
  .grid-w-9 {
    width: 75%;
  }
  .grid-w-10 {
    width: 83.33333333333334%;
  }
  .grid-w-11 {
    width: 91.66666666666666%;
  }
  .grid-w-12 {
    width: 100%;
  }
  .grid-w-pull-1 {
    right: 8.333333333333332%;
  }
  .grid-w-pull-2 {
    right: 16.666666666666664%;
  }
  .grid-w-pull-3 {
    right: 25%;
  }
  .grid-w-pull-4 {
    right: 33.33333333333333%;
  }
  .grid-w-pull-5 {
    right: 41.66666666666667%;
  }
  .grid-w-pull-6 {
    right: 50%;
  }
  .grid-w-pull-7 {
    right: 58.333333333333336%;
  }
  .grid-w-pull-8 {
    right: 66.66666666666666%;
  }
  .grid-w-pull-9 {
    right: 75%;
  }
  .grid-w-pull-10 {
    right: 83.33333333333334%;
  }
  .grid-w-pull-11 {
    right: 91.66666666666666%;
  }
  .grid-w-pull-12 {
    right: 100%;
  }
  .grid-w-push-1 {
    left: 8.333333333333332%;
  }
  .grid-w-push-2 {
    left: 16.666666666666664%;
  }
  .grid-w-push-3 {
    left: 25%;
  }
  .grid-w-push-4 {
    left: 33.33333333333333%;
  }
  .grid-w-push-5 {
    left: 41.66666666666667%;
  }
  .grid-w-push-6 {
    left: 50%;
  }
  .grid-w-push-7 {
    left: 58.333333333333336%;
  }
  .grid-w-push-8 {
    left: 66.66666666666666%;
  }
  .grid-w-push-9 {
    left: 75%;
  }
  .grid-w-push-10 {
    left: 83.33333333333334%;
  }
  .grid-w-push-11 {
    left: 91.66666666666666%;
  }
  .grid-w-push-12 {
    left: 100%;
  }
  .grid-w-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .grid-w-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .grid-w-offset-3 {
    margin-left: 25%;
  }
  .grid-w-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .grid-w-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .grid-w-offset-6 {
    margin-left: 50%;
  }
  .grid-w-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .grid-w-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .grid-w-offset-9 {
    margin-left: 75%;
  }
  .grid-w-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .grid-w-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .grid-w-offset-12 {
    margin-left: 100%;
  }
}
/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/**
 * common classes that can be usesed to control the positioning of content
 */
/**
 * grid-paint Class
 * 
 * use on grid unit to color it
 */
.grid-paint {
  /* Decoration */
  background-color: #4a8ec2;
  border-radius: 4px;
  color: #fff;
  /* Layout */
  padding: 12px 6px;
  padding: 0.75rem 0.375rem;
}
@media (min-width: 768px) {
  .grid-paint {
    padding: 12px;
    padding: 0.75rem;
  }
}
/*------------------------------------*\
    $CORE
\*------------------------------------*/
/*------------------------------------*\
    $CORE--FONTS
\*------------------------------------*/
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-black-webfont.eot');
  src: url('../fonts/Lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/lato-black-webfont.woff') format('woff'), url('../fonts/Lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/Lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-bold-webfont.eot');
  src: url('../fonts/Lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/lato-bold-webfont.woff') format('woff'), url('../fonts/Lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/Lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/Lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/Lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/Lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-italic-webfont.eot');
  src: url('../fonts/Lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/lato-italic-webfont.woff') format('woff'), url('../fonts/Lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/Lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-light-webfont.eot');
  src: url('../fonts/Lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/lato-light-webfont.woff') format('woff'), url('../fonts/Lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/Lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-regular-webfont.eot');
  src: url('../fonts/Lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato/lato-regular-webfont.woff') format('woff'), url('../fonts/Lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/Lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font-awsome';
  src: url('../fonts/font-awsome.eot');
  src: url('../fonts/font-awsome.eot?#iefix') format('embedded-opentype'), url('../fonts/font-awsome.ttf') format('truetype'), url('../fonts/font-awsome.woff') format('woff'), url('../fonts/font-awsome.svg#font-awsome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'octicons';
  src: url('../fonts/octicons.eot');
  src: url('../fonts/octicons.eot?#iefix') format('embedded-opentype'), url('../fonts/octicons.ttf') format('truetype'), url('../fonts/octicons.woff') format('woff'), url('../fonts/octicons.svg#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sugar';
  src: url('../fonts/sugar.eot');
  src: url('../fonts/sugar.eot?#iefix') format('embedded-opentype'), url('../fonts/sugar.svg') format('svg'), url('../fonts/sugar.woff') format('woff'), url('../fonts/sugar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    $CORE--TYPE
\*------------------------------------*/
/**
 * Detailing type elements
 */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
/**
 * Strong default styling
 */
strong {
  color: #333333;
}
/**
 * Better looking blockquotes
 */
blockquote {
  border-left: 3px solid #f2f2f2;
  padding: 0px 0px 0px 16px;
  padding: 0rem 0rem 0rem 1rem;
  margin: 0px 0px 27px;
  margin: 0rem 0rem 1.6875rem;
}
blockquote p {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 27px;
  line-height: 1.6875rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  font-size: 16px;
  font-size: 1rem;
  font-style: italic;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #e6e6e6;
  display: block;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  border-left: 0;
  border-right: 3px solid #f2f2f2;
  padding-right: 16px;
  padding-right: 1rem;
  padding-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
/*------------------------------------*\
    $CORE--CODE
\*------------------------------------*/
/**
 * Detailing code elements
 */
/**
 * Inline Code
 */
code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
}
/**
 * Code Blocks
 */
pre {
  background-color: #f5f5f5;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  color: #333333;
}
/**
 * Prettify
 */
pre.prettyprint,
code.prettyprint {
  background-color: #333333;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: block;
  padding: 12px;
  padding: 0.75rem;
  margin-left: 24px;
  margin-left: 1.5rem;
}
.pln {
  color: #ffffff;
}
@media screen {
  .str {
    color: #d94636;
  }
  /* string content */
  .kwd {
    color: #2479b3;
  }
  /* a keyword */
  .com {
    color: #b3b3b3;
  }
  /* a comment */
  .typ {
    color: #ffffff;
  }
  /* a type name */
  .lit {
    color: #d94636;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun {
    color: #3698d9;
  }
  .opn {
    color: #ffffff;
  }
  .clo {
    color: #ffffff;
  }
  .tag {
    color: #2479b3;
  }
  /* a markup tag name */
  .atn {
    color: #3698d9;
  }
  /* a markup attribute name */
  .atv {
    color: #d94636;
  }
  /* a markup attribute value */
  .dec,
  .var {
    color: #2479b3;
  }
  /* a declaration; a variable name */
  .fun {
    color: #d94636;
  }
  /* a function name */
}
/*------------------------------------*\
    $CORE--HEADINGS
\*------------------------------------*/
/**
 * Detailing code elements
 */
h1 {
  /* Text */
  font-size: 54px;
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 60px;
  line-height: 3.75rem;
  letter-spacing: -4px;
  /* Layout */
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 0;
}
h1 small {
  /* Text */
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 36px;
  line-height: 2.25rem;
  letter-spacing: -1px;
  /* Decoration */
  color: #333333;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* Layout */
  display: block;
}
h2,
h3,
h4 {
  font-weight: 900;
}
h2 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 48px;
  line-height: 3rem;
  letter-spacing: -3px;
  display: block;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
h2 small {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 36px;
  line-height: 2.25rem;
  letter-spacing: -1px;
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
h3,
h4,
h5,
h6 {
  list-style: -1px;
}
h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 36px;
  line-height: 2.25rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
}
h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 6px;
  line-height: 0.375rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}
h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 0;
  margin: 24px 0px -12px;
  margin: 1.5rem 0rem -0.75rem;
}
/*------------------------------------*\
    $CORE--TABLES
\*------------------------------------*/
table {
  border-radius: 4px;
}
table > thead th:first-child {
  border-top-left-radius: 4px;
}
table > thead th:last-child {
  border-top-right-radius: 4px;
}
th {
  text-align: center;
  background-color: #f2f2f2;
  color: #333333;
}
/*------------------------------------*\
    $CORE--FORMS
\*------------------------------------*/
label {
  color: #333333;
}
.form-control,
input[type="file"].form-control {
  color: #e6e6e6;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-appearance: none;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
  height: 42px;
}
.form-control[disabled],
input[type="file"].form-control[disabled],
.form-control[readonly],
input[type="file"].form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] input[type="file"].form-control {
  background-color: #b3b3b3;
  border-color: #f5f5f5;
  color: #f5f5f5;
  cursor: default;
}
textarea.form-control,
textareainput[type="file"].form-control {
  height: auto;
}
input[type="file"].form-control {
  padding-top: 9px;
  padding-top: 0.5625rem;
}
/**
 *  Checkboxes and radios
 *
 *  Indent the labels to position radios/checkboxes as hanging controls.
 */
.radio,
.checkbox {
  vertical-align: middle;
  display: block;
  min-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.radio label,
.checkbox label {
  font-weight: normal;
  cursor: pointer;
  display: inline;
  margin-bottom: 0;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
/**
 *  Radios and checkboxes on same line
 */
.radio-inline,
.checkbox-inline {
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
/**
 *  Apply same disabled cursor tweak as for inputs
 *  Note: Neither radios nor checkboxes can be readonly.
 */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
/**
 *  Help text
 *
 * Apply to any element you wish to create light text for placement immediately
 * below a form control. Use for general help, formatting, or instructional text.
 */
.help-block {
  color: #737373;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
