/*------------------------------------*\
    SUGAR.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $MODULES
\*------------------------------------*/
/*------------------------------------*\
    $ELEMENT-BUTTON
\*------------------------------------*/
/**
 * Base button element.
 *
 * 1. Make buttons inherit font styles.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Basic cosmetics for default buttons. Change or override at will.
 * 5. Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
 * 6. Force all elements using buttons to appear clickable.
 * 7. Allow us to better style box model properties.
 * 7. Normalise box model styles.
 * 8. Apply consistent spacing baed on font size.
 * 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
  /* Text */
  font-size: 100%;
  /* [1] */
  font-family: inherit;
  /* [1] */
  font-weight: normal;
  /* [1] */
  line-height: normal;
  /* [1] */
  letter-spacing: 1px;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  -webkit-font-smoothing: subpixel-antialiased;
  /* [7] */
  /* Decoration */
  background-color: #21b5e4;
  /* [4] */
  background-image: none;
  /* [5] */
  border: 0;
  /* [4] */
  border-radius: 4px;
  /* [4] */
  color: #ffffff;
  /* [4] */
  cursor: pointer;
  /* [6] */
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /* Layout */
  display: inline-block;
  /* [7] */
  margin: 0;
  /* [8] */
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
  /* [8] */
  /**
    * Button Clear
    * Inverts the button effect where it is outlined instead at first and on hover is filled in as in IOS7
    */
}
.btn:hover {
  text-decoration: none;
  /* [9] */
  background-color: #189bc4;
  color: #ffffff;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn-clear {
  background: none;
  border: 2px solid #21b5e4;
  color: #21b5e4;
  padding: 12px 24px;
  padding: 0.75rem 1.5rem;
}
.btn.btn-clear:hover,
.btn.btn-clear:focus {
  background: #21b5e4;
  color: #ffffff;
}
.btn.btn-clear:active,
.btn.btn-clear.active {
  border-color: #1c9ac2;
  background: #1c9ac2;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**
 * Button font-size modifiers.
 */
.btn-alpha {
  font-size: 54px;
  font-size: 3.375rem;
}
.btn-beta {
  font-size: 42px;
  font-size: 2.625rem;
}
.btn-gamma {
  font-size: 36px;
  font-size: 2.25rem;
}
.btn-delta {
  font-size: 24px;
  font-size: 1.5rem;
}
.btn-epsilon {
  font-size: 21px;
  font-size: 1.3125rem;
}
.btn-zeta {
  font-size: 18px;
  font-size: 1.125rem;
}
/**
 * Button Icon spacings
 */
.btn span {
  margin-left: 6px;
  margin-left: 0.375rem;
}
/**
 * Button Wide
 */
.btn-wide {
  min-width: 144;
  padding-left: 24;
  padding-right: 24;
}
/**
 * Button Colors
 */
.btn-red {
  background-color: #d94636;
  color: #ffffff;
}
.btn-red:hover {
  background-color: #b33224;
  color: #ffffff;
}
.btn-red.btn-clear {
  border: 2px solid #d94636;
  color: #d94636;
}
.btn-red.btn-clear:hover,
.btn-red.btn-clear:focus {
  background: #d94636;
  color: #ffffff;
}
.btn-red.btn-clear:active,
.btn-red.btn-clear.active {
  border-color: #b83c2e;
  background: #b83c2e;
}
.btn-pink {
  background-color: #d94c7b;
  color: #ffffff;
}
.btn-pink:hover {
  background-color: #b3365f;
  color: #ffffff;
}
.btn-pink.btn-clear {
  border: 2px solid #d94c7b;
  color: #d94c7b;
}
.btn-pink.btn-clear:hover,
.btn-pink.btn-clear:focus {
  background: #d94c7b;
  color: #ffffff;
}
.btn-pink.btn-clear:active,
.btn-pink.btn-clear.active {
  border-color: #b84169;
  background: #b84169;
}
.btn-blue {
  background-color: #3698d9;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #2479b3;
  color: #ffffff;
}
.btn-blue.btn-clear {
  border: 2px solid #3698d9;
  color: #3698d9;
}
.btn-blue.btn-clear:hover,
.btn-blue.btn-clear:focus {
  background: #3698d9;
  color: #ffffff;
}
.btn-blue.btn-clear:active,
.btn-blue.btn-clear.active {
  border-color: #2e81b8;
  background: #2e81b8;
}
.btn-green {
  background-color: #33cc73;
  color: #ffffff;
}
.btn-green:hover {
  background-color: #21a658;
  color: #ffffff;
}
.btn-green.btn-clear {
  border: 2px solid #33cc73;
  color: #33cc73;
}
.btn-green.btn-clear:hover,
.btn-green.btn-clear:focus {
  background: #33cc73;
  color: #ffffff;
}
.btn-green.btn-clear:active,
.btn-green.btn-clear.active {
  border-color: #2bad62;
  background: #2bad62;
}
.btn-yellow {
  background-color: #ffcd1a;
  color: #ffffff;
}
.btn-yellow:hover {
  background-color: #f39c12;
  color: #ffffff;
}
.btn-yellow.btn-clear {
  border: 2px solid #ffcd1a;
  color: #ffcd1a;
}
.btn-yellow.btn-clear:hover,
.btn-yellow.btn-clear:focus {
  background: #ffcd1a;
  color: #ffffff;
}
.btn-yellow.btn-clear:active,
.btn-yellow.btn-clear.active {
  border-color: #d9ae16;
  background: #d9ae16;
}
.btn-orange {
  background-color: #e67e22;
  color: #ffffff;
}
.btn-orange:hover {
  background-color: #d35400;
  color: #ffffff;
}
.btn-orange.btn-clear {
  border: 2px solid #e67e22;
  color: #e67e22;
}
.btn-orange.btn-clear:hover,
.btn-orange.btn-clear:focus {
  background: #e67e22;
  color: #ffffff;
}
.btn-orange.btn-clear:active,
.btn-orange.btn-clear.active {
  border-color: #c46b1d;
  background: #c46b1d;
}
.btn-purple {
  background-color: #9959b3;
  color: #ffffff;
}
.btn-purple:hover {
  background-color: #753f8c;
  color: #ffffff;
}
.btn-purple.btn-clear {
  border: 2px solid #9959b3;
  color: #9959b3;
}
.btn-purple.btn-clear:hover,
.btn-purple.btn-clear:focus {
  background: #9959b3;
  color: #ffffff;
}
.btn-purple.btn-clear:active,
.btn-purple.btn-clear.active {
  border-color: #824c98;
  background: #824c98;
}
.btn-pink {
  background-color: #d94c7b;
  color: #ffffff;
}
.btn-pink:hover {
  background-color: #d02c63;
  color: #ffffff;
}
.btn-pink.btn-clear {
  border: 2px solid #d94c7b;
  color: #d94c7b;
}
.btn-pink.btn-clear:hover,
.btn-pink.btn-clear:focus {
  background: #d94c7b;
  color: #ffffff;
}
.btn-pink.btn-clear:active,
.btn-pink.btn-clear.active {
  border-color: #b84169;
  background: #b84169;
}
.btn-gray {
  background-color: #999999;
  color: #333333;
}
.btn-gray:hover {
  background-color: #858585;
  color: #333333;
}
.btn-gray.btn-clear {
  border: 2px solid #999999;
  color: #999999;
}
.btn-gray.btn-clear:hover,
.btn-gray.btn-clear:focus {
  background: #999999;
  color: #333333;
}
.btn-gray.btn-clear:active,
.btn-gray.btn-clear.active {
  border-color: #828282;
  background: #828282;
}
.btn-black {
  background-color: #333333;
  color: #ffffff;
}
.btn-black:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}
.btn-black.btn-clear {
  border: 2px solid #333333;
  color: #333333;
}
.btn-black.btn-clear:hover,
.btn-black.btn-clear:focus {
  background: #333333;
  color: #ffffff;
}
.btn-black.btn-clear:active,
.btn-black.btn-clear.active {
  border-color: #2b2b2b;
  background: #2b2b2b;
}
.btn-darkblue {
  background-color: #384f66;
  color: #ffffff;
}
.btn-darkblue:hover {
  background-color: #203040;
  color: #ffffff;
}
.btn-darkblue.btn-clear {
  border: 2px solid #384f66;
  color: #384f66;
}
.btn-darkblue.btn-clear:hover,
.btn-darkblue.btn-clear:focus {
  background: #384f66;
  color: #ffffff;
}
.btn-darkblue.btn-clear:active,
.btn-darkblue.btn-clear.active {
  border-color: #304357;
  background: #304357;
}
.btn-teal {
  background-color: #1dbf9f;
  color: #ffffff;
}
.btn-teal:hover {
  background-color: #0f997d;
  color: #ffffff;
}
.btn-teal.btn-clear {
  border: 2px solid #1dbf9f;
  color: #1dbf9f;
}
.btn-teal.btn-clear:hover,
.btn-teal.btn-clear:focus {
  background: #1dbf9f;
  color: #ffffff;
}
.btn-teal.btn-clear:active,
.btn-teal.btn-clear.active {
  border-color: #19a287;
  background: #19a287;
}
.btn-silver {
  background-color: #c8cbcc;
  color: #333333;
}
.btn-silver:hover {
  background-color: #9da3a6;
  color: #333333;
}
.btn-silver.btn-clear {
  border: 2px solid #c8cbcc;
  color: #c8cbcc;
}
.btn-silver.btn-clear:hover,
.btn-silver.btn-clear:focus {
  background: #c8cbcc;
  color: #333333;
}
.btn-silver.btn-clear:active,
.btn-silver.btn-clear.active {
  border-color: #aaadad;
  background: #aaadad;
}
.btn-bluegray {
  background-color: #8d9ea6;
  color: #ffffff;
}
.btn-bluegray:hover {
  background-color: #667880;
  color: #ffffff;
}
.btn-bluegray.btn-clear {
  border: 2px solid #8d9ea6;
  color: #8d9ea6;
}
.btn-bluegray.btn-clear:hover,
.btn-bluegray.btn-clear:focus {
  background: #8d9ea6;
  color: #ffffff;
}
.btn-bluegray.btn-clear:active,
.btn-bluegray.btn-clear.active {
  border-color: #78868d;
  background: #78868d;
}
/**
 * Social Buttons
 */
.btn-delicious {
  background-color: #3399ff !important;
}
.btn-delicious:hover {
  background-color: #337ac2 !important;
}
.btn-delicious.btn-clear {
  background: none !important;
  border: 2px solid #3399ff !important;
  color: #3399ff !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-delicious.btn-clear:hover,
.btn-delicious.btn-clear:focus {
  background: #3399ff !important;
  color: #ffffff !important;
}
.btn-delicious.btn-clear:active,
.btn-delicious.btn-clear.active {
  border-color: #2b82d9 !important;
  background: #2b82d9 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-digg {
  background-color: #070707 !important;
}
.btn-digg:hover {
  background-color: #515151 !important;
}
.btn-digg.btn-clear {
  background: none !important;
  border: 2px solid #070707 !important;
  color: #070707 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-digg.btn-clear:hover,
.btn-digg.btn-clear:focus {
  background: #070707 !important;
  color: #ffffff !important;
}
.btn-digg.btn-clear:active,
.btn-digg.btn-clear.active {
  border-color: #060606 !important;
  background: #060606 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-evernote {
  background-color: #7fce2c !important;
}
.btn-evernote:hover {
  background-color: #68a02e !important;
}
.btn-evernote.btn-clear {
  background: none !important;
  border: 2px solid #7fce2c !important;
  color: #7fce2c !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-evernote.btn-clear:hover,
.btn-evernote.btn-clear:focus {
  background: #7fce2c !important;
  color: #ffffff !important;
}
.btn-evernote.btn-clear:active,
.btn-evernote.btn-clear.active {
  border-color: #6caf25 !important;
  background: #6caf25 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-facebook {
  background-color: #2f5890 !important;
}
.btn-facebook:hover {
  background-color: #6d8ab1 !important;
}
.btn-facebook.btn-clear {
  background: none !important;
  border: 2px solid #2f5890 !important;
  color: #2f5890 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-facebook.btn-clear:hover,
.btn-facebook.btn-clear:focus {
  background: #2f5890 !important;
  color: #ffffff !important;
}
.btn-facebook.btn-clear:active,
.btn-facebook.btn-clear.active {
  border-color: #284b7a !important;
  background: #284b7a !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-github {
  background-color: #333333 !important;
}
.btn-github:hover {
  background-color: #7aa8d6 !important;
}
.btn-github.btn-clear {
  background: none !important;
  border: 2px solid #4183c4 !important;
  color: #4183c4 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-github.btn-clear:hover,
.btn-github.btn-clear:focus {
  background: #4183c4 !important;
  color: #ffffff !important;
}
.btn-github.btn-clear:active,
.btn-github.btn-clear.active {
  border-color: #376fa7 !important;
  background: #376fa7 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-gmail {
  background-color: #c92527 !important;
}
.btn-gmail:hover {
  background-color: #d96668 !important;
}
.btn-gmail.btn-clear {
  background: none !important;
  border: 2px solid #c92527 !important;
  color: #c92527 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-gmail.btn-clear:hover,
.btn-gmail.btn-clear:focus {
  background: #c92527 !important;
  color: #ffffff !important;
}
.btn-gmail.btn-clear:active,
.btn-gmail.btn-clear.active {
  border-color: #ab1f21 !important;
  background: #ab1f21 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-gplus {
  background-color: #cf4b33 !important;
}
.btn-gplus:hover {
  background-color: #dd8170 !important;
}
.btn-gplus.btn-clear {
  background: none !important;
  border: 2px solid #cf4b33 !important;
  color: #cf4b33 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-gplus.btn-clear:hover,
.btn-gplus.btn-clear:focus {
  background: #cf4b33 !important;
  color: #ffffff !important;
}
.btn-gplus.btn-clear:active,
.btn-gplus.btn-clear.active {
  border-color: #b0402b !important;
  background: #b0402b !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-linkedin {
  background-color: #4897c9 !important;
}
.btn-linkedin:hover {
  background-color: #42799c !important;
}
.btn-linkedin.btn-clear {
  background: none !important;
  border: 2px solid #4897c9 !important;
  color: #4897c9 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-linkedin.btn-clear:hover,
.btn-linkedin.btn-clear:focus {
  background: #4897c9 !important;
  color: #ffffff !important;
}
.btn-linkedin.btn-clear:active,
.btn-linkedin.btn-clear.active {
  border-color: #3d80ab !important;
  background: #3d80ab !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-pinterest {
  background-color: #c92527 !important;
}
.btn-pinterest:hover {
  background-color: #d96668 !important;
}
.btn-pinterest.btn-clear {
  background: none !important;
  border: 2px solid #c92527 !important;
  color: #c92527 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-pinterest.btn-clear:hover,
.btn-pinterest.btn-clear:focus {
  background: #c92527 !important;
  color: #ffffff !important;
}
.btn-pinterest.btn-clear:active,
.btn-pinterest.btn-clear.active {
  border-color: #ab1f21 !important;
  background: #ab1f21 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-tumblr {
  background-color: #2f5070 !important;
}
.btn-tumblr:hover {
  background-color: #6d859b !important;
}
.btn-tumblr.btn-clear {
  background: none !important;
  border: 2px solid #2f5070 !important;
  color: #2f5070 !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-tumblr.btn-clear:hover,
.btn-tumblr.btn-clear:focus {
  background: #2f5070 !important;
  color: #ffffff !important;
}
.btn-tumblr.btn-clear:active,
.btn-tumblr.btn-clear.active {
  border-color: #28445f !important;
  background: #28445f !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-twitter {
  background-color: #00bdef !important;
}
.btn-twitter:hover {
  background-color: #0f94b7 !important;
}
.btn-twitter.btn-clear {
  background: none !important;
  border: 2px solid #00bdef !important;
  color: #00bdef !important;
  padding: 12px 18px;
  padding: 0.75rem 1.125rem;
}
.btn-twitter.btn-clear:hover,
.btn-twitter.btn-clear:focus {
  background: #00bdef !important;
  color: #ffffff !important;
}
.btn-twitter.btn-clear:active,
.btn-twitter.btn-clear.active {
  border-color: #00a1cb !important;
  background: #00a1cb !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-reddit {
  color: #333333 !important;
  background-color: #ff4500 !important;
}
.btn-reddit:hover {
  color: #ffffff !important;
  background-color: #c2400f !important;
}
.btn-reddit.btn-clear {
  background: none !important;
  border: 2px solid #ff4500 !important;
  color: #ff4500 !important;
}
.btn-reddit.btn-clear:hover,
.btn-reddit.btn-clear:focus {
  background: #ff4500 !important;
  color: #ffffff !important;
}
.btn-reddit.btn-clear:active,
.btn-reddit.btn-clear.active {
  border-color: #d93b00 !important;
  background: #d93b00 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
@font-face {
  font-family: 'midaym';
  src: url('../fonts/midaym.eot');
  src: url('../fonts/midaym.eot?#iefix') format('embedded-opentype'), url('../fonts/midaym.ttf') format('truetype'), url('../fonts/midaym.woff') format('woff'), url('../fonts/midaym.svg#midaym') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'midaym';
  font-style: inherit;
  font-weight: inherit;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin: 0 1px;
  position: relative;
  top: 1px;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
.icon-facebook:before {
  content: "\60";
}
/*  */
.icon-linkedin:before {
  content: "\31";
}
/* 1 */
.icon-google:before {
  content: "\32";
}
/* 2 */
.icon-flickr:before {
  content: "\33";
}
/* 3 */
.icon-twitter:before {
  content: "\34";
}
/* 4 */
.icon-github:before {
  content: "\35";
}
/* 5 */
.icon-facebook2:before {
  content: "\62";
}
/* b */
.icon-linkedin2:before {
  content: "\78";
}
/* x */
.icon-gplus2:before {
  content: "\6d";
}
/* m */
.icon-flickr2:before {
  content: "\76";
}
/* v */
.icon-twitter2:before {
  content: "\6e";
}
/* n */
.icon-github2:before {
  content: "\63";
}
/* c */
.icon-delicious2:before {
  content: "\2c";
}
/* , */
.icon-pinterest2:before {
  content: "\2e";
}
/* . */
.icon-reddit2:before {
  content: "\2f";
}
/* / */
.icon-tumblr2:before {
  content: "\3c";
}
/* < */
.icon-gmail2:before {
  content: "\3e";
}
/* > */
.icon-evernote2:before {
  content: "\3f";
}
/* ? */
.icon-cloud-download:before {
  content: "\e6";
}
/* æ */
.icon-plus-sign:before {
  content: "\e1";
}
/* á */
.icon-digg2:before {
  content: "\e7";
}
/* ç */
.icon-M:before {
  content: "\4d";
}
/* M */
.icon-I:before {
  content: "\49";
}
/* I */
.icon-D:before {
  content: "\44";
}
/* D */
.icon-A:before {
  content: "\41";
}
/* A */
.icon-Y:before {
  content: "\59";
}
/* Y */
.icon-midaym1:before {
  content: "\36";
}
/* 6 */
.icon-midaym2:before {
  content: "\37";
}
/* 7 */
.icon-heart:before {
  content: "\38";
}
/* 8 */
.icon-cloud:before {
  content: "\39";
}
/* 9 */
.icon-star:before {
  content: "\30";
}
/* 0 */
.icon-tv:before {
  content: "\2d";
}
/* - */
.icon-sound:before {
  content: "\3d";
}
/* = */
.icon-video:before {
  content: "\7e";
}
/* ~ */
.icon-trash:before {
  content: "\21";
}
/* ! */
.icon-user:before {
  content: "\40";
}
/* @ */
.icon-key:before {
  content: "\23";
}
/* # */
.icon-search:before {
  content: "\24";
}
/* $ */
.icon-settings:before {
  content: "\25";
}
/* % */
.icon-camera:before {
  content: "\5e";
}
/* ^ */
.icon-tag:before {
  content: "\26";
}
/* & */
.icon-lock:before {
  content: "\2a";
}
/* * */
.icon-bulb:before {
  content: "\28";
}
/* ( */
.icon-clock:before {
  content: "\29";
}
/* ) */
.icon-wallet:before {
  content: "\5f";
}
/* _ */
.icon-calendar:before {
  content: "\2b";
}
/* + */
.icon-note:before {
  content: "\71";
}
/* q */
.icon-photo:before {
  content: "\77";
}
/* w */
.icon-shop:before {
  content: "\65";
}
/* e */
.icon-clip:before {
  content: "\72";
}
/* r */
.icon-like:before {
  content: "\74";
}
/* t */
.icon-mail:before {
  content: "\79";
}
/* y */
.icon-fire:before {
  content: "\75";
}
/* u */
.icon-t-shirt:before {
  content: "\69";
}
/* i */
.icon-news:before {
  content: "\6f";
}
/* o */
.icon-phone:before {
  content: "\70";
}
/* p */
.icon-food:before {
  content: "\5b";
}
/* [ */
.icon-lab:before {
  content: "\5d";
}
/* ] */
.icon-cup:before {
  content: "\5c";
}
/* \ */
.icon-stack:before {
  content: "\7b";
}
/* { */
.icon-study:before {
  content: "\7d";
}
/* } */
.icon-megaphone:before {
  content: "\7c";
}
/* | */
.icon-bubble:before {
  content: "\61";
}
/* a */
.icon-music:before {
  content: "\73";
}
/* s */
.icon-eye:before {
  content: "\64";
}
/* d */
.icon-location:before {
  content: "\66";
}
/* f */
.icon-data:before {
  content: "\67";
}
/* g */
.icon-banknote:before {
  content: "\68";
}
/* h */
.icon-display:before {
  content: "\6a";
}
/* j */
.icon-diamond:before {
  content: "\6b";
}
/* k */
.icon-pen:before {
  content: "\6c";
}
/* l */
.icon-paperplane:before {
  content: "\3b";
}
/* ; */
.icon-params:before {
  content: "\27";
}
/* ' */
.icon-truck:before {
  content: "\3a";
}
/* : */
.icon-world:before {
  content: "\22";
}
/* " */
.icon-vynil:before {
  content: "\7a";
}
/* z */
/*------------------------------------*\
    $OBJECTS--NAV
\*------------------------------------*/
/**
 *  Contains all styles for the nav
 */
.nav {
  padding: 12px 0px;
  padding: 0.75rem 0rem;
}
.nav .active {
  color: #21b5e4;
}
.nav i {
  font-size: 32px;
}
.nav a {
  color: #cccccc;
}
.nav a:hover {
  color: #21b5e4;
}
.nav li {
  padding-left: 24px;
  padding-right: 24px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    $OBJECTS-INTRO
\*------------------------------------*/
/**
 * Intro module.
 */
.intro {
  padding: 24px 12px 48px;
  padding: 1.5rem 0.75rem 3rem;
}
/**
 * Intro Nav.
 */
@media (max-width: 983px) {
  .intro-nav {
    text-align: center;
  }
}
/**
 * Intro Brand.
 */
.intro-brand {
  /* Text */
  font-family: 'midaym';
  font-style: inherit;
  font-weight: inherit;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin: 0 1px;
  position: relative;
  top: 1px;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-size: 48px;
  letter-spacing: -4px;
  /* Decoration */
  color: #333333;
}
.intro-brand:hover {
  color: #333333;
}
.intro-brand img {
  margin-bottom: -4px;
  margin-right: 12px;
  margin-right: 0.75rem;
}
/**
 * Intro Lead.
 */
.intro-lead {
  /* Text */
  font-size: 54px;
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 60px;
  line-height: 3.75rem;
  letter-spacing: -4px;
  /* Layout */
  margin-top: 12px;
  margin-top: 0.75rem;
  margin-bottom: 0;
}
.intro-lead small {
  /* Text */
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 36px;
  line-height: 2.25rem;
  letter-spacing: -1px;
  /* Decoration */
  color: #333333;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* Layout */
  display: block;
}
/*------------------------------------*\
    $OBJECT--POST
\*------------------------------------*/
/**
 *  Contains all styles for posts
 */
/**
 *  Post / copy
 */
.post {
  font-weight: normal;
  line-height: 27px;
  line-height: 1.6875rem;
  padding: 0px 12px 48px;
  padding: 0rem 0.75rem 3rem;
  /**
     * Button Overides
     */
}
.post .btn {
  font-weight: 700;
}
.post .btn:hover {
  background-color: #ffffff;
  color: #333333;
}
.post h2 {
  margin: 48px 0px 12px;
  margin: 3rem 0rem 0.75rem;
}
.post table > tbody > tr > td {
  text-align: left;
}
/**
 *  Alternate styles every other post
 */
.post-even,
.post-odd {
  font-weight: 200;
}
.post-odd .post-title,
.post-odd p {
  text-align: right;
}
.post-odd .btn {
  float: right;
}
.post-odd .post-date {
  text-align: center;
  float: left;
}
/**
 *  Styles for featured section
 */
.post-featured {
  margin-top: 120px;
  margin-top: 7.5rem;
}
.post-featured img {
  border: 10px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  display: block;
  height: 300px;
  margin: -55px auto 24px;
  width: 300px;
}
/**
 *  Style the date of the post
 */
.post-date {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 18px;
  line-height: 1.125rem;
  color: #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: inline-block;
  float: right;
  margin: 48px 0px 0px;
  margin: 3rem 0rem 0rem;
}
.post-day {
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: block;
  float: left;
  padding: 6px 0px;
  padding: 0.375rem 0rem;
  width: 50px;
}
/**
 *  Style the Title of the post
 */
.post-title {
  color: #ffffff;
  margin-top: 96px;
  margin-top: 6rem;
}
.post-title small {
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: block;
}
/**
 *  Style the post list on archives page
 */
.post-list {
  padding: 0;
  margin-left: -1px;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
.post-list li {
  border-bottom: 1px solid #e6e6e6;
  padding: 6px 0px;
  padding: 0.375rem 0rem;
}
.post-list li:first-child {
  border-top: 1px solid #e6e6e6;
}
.post-list li:hover {
  background-color: #f2f2f2;
}
.post-list a:before,
.post-list a:after {
  content: " ";
  display: table;
}
.post-list a:after {
  clear: both;
}
.post-list .post-title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 30px;
  line-height: 1.875rem;
  letter-spacing: -1px;
  color: #333333;
  display: block;
  padding-left: 0;
  margin: 0;
}
.post-list .post-title small {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  letter-spacing: -1px;
  color: #333333;
  display: block;
}
.post-list .post-day {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #21b5e4;
  border-radius: 50%;
  color: #21b5e4;
  display: block;
  float: none;
  margin: auto;
  width: 50px;
}
/**
 * BG Color Overides
 */
.blue .btn {
  background-color: #ffffff;
  color: #333333;
}
.blue .btn:hover {
  background-color: #333333;
  color: #ffffff;
}
.white .btn:hover {
  background-color: #333333;
  color: #ffffff;
}
.black {
  color: #ffffff;
}
.white .post-day,
.gray .post-day {
  border-color: rgba(0, 0, 0, 0.8);
  color: #333333;
}
.white .post-year,
.gray .post-year {
  color: #333333;
}
.white .post-title,
.gray .post-title {
  color: #333333;
}
.white .post-title small,
.gray .post-title small {
  color: #333333;
}
/**
 * Completely remove from the flow and screen readers.
 */
/*------------------------------------*\
    $OBJECT--SINGLE
\*------------------------------------*/
/**
 *  Contains all styles for Single
 */
/**
 * Single Styles
 */
.single strong {
  color: #d94636;
}
.single hgroup {
  display: none;
}
.single .btn:hover {
  background-color: #333333;
  color: #ffffff;
}
.single-date {
  float: right;
  margin-top: -132px;
  margin-top: -8.25rem;
  padding: 0;
}
.single-date .post-date {
  margin: -3px 0px 0px 12px;
  margin: -0.1875rem 0rem 0rem 0.75rem;
}
.single-date .btn {
  float: right;
}
@media (max-width: 767px) {
  .single-date {
    float: left;
    margin-top: -24px;
    margin-top: -1.5rem;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
  }
  .single-date .post-date {
    float: left;
    margin: -3px 12px 0px 0px;
    margin: -0.1875rem 0.75rem 0rem 0rem;
  }
  .single-date .btn {
    float: left;
  }
}
/*------------------------------------*\
    $OBJECTS-BOTTOM
\*------------------------------------*/
/**
 * Bottom module.
 */
.bottom {
  padding: 24px 0px;
  padding: 1.5rem 0rem;
  margin: 0;
}
.bottom-social {
  text-align: left;
  margin: 12px 0px 24px;
  margin: 0.75rem 0rem 1.5rem;
}
.bottom-social li {
  padding: 0px 3px;
  padding: 0rem 0.1875rem;
}
.bottom-social i {
  font-size: 32px;
}
.bottom-social a {
  color: #cccccc;
}
.bottom-social a:hover {
  color: #21b5e4;
}
.bottom-menu {
  text-align: right;
  margin: 0px 0px 24px;
  margin: 0rem 0rem 1.5rem;
}
.bottom-menu li {
  text-align: center;
  color: #1482a4;
  padding: 0px 6px;
  padding: 0rem 0.375rem;
}
.bottom-logo {
  text-align: right;
  margin: -6px 0px 0px;
  margin: -0.375rem 0rem 0rem;
}
.bottom-logo i {
  font-size: 32px;
}
.bottom-logo a {
  color: #f2f2f2;
}
.bottom-logo a:hover {
  color: #cccccc;
}
@media (max-width: 983px) {
  .bottom-copyright,
  .bottom-social,
  .bottom-menu,
  .bottom-logo {
    text-align: center;
  }
}
/*------------------------------------*\
    $OBJECTS--SOCIAL
\*------------------------------------*/
/**
 *  Contains all styles for the nav
 */
/**
 * Post Social Styles
 */
.social {
  padding: 24px 0px;
  padding: 1.5rem 0rem;
}
.social .btn:hover {
  background-color: #333333;
  color: #ffffff;
}
.social li {
  padding: 12px 6px;
  padding: 0.75rem 0.375rem;
}
.social-logo {
  color: #9da3a6;
  margin: 12px 0px;
  margin: 0.75rem 0rem;
}
.social-logo i {
  font-size: 36px;
  font-size: 2.25rem;
}
.social-logo span {
  font-size: 36px;
  font-size: 2.25rem;
  display: inline-block;
  margin-top: 8px;
  padding-left: 54px;
  padding-left: 3.375rem;
}
.social-menu {
  border-left: 3px solid #9da3a6;
  margin: 0;
  padding-left: 48px;
  padding-left: 3rem;
  padding-right: 12px;
  padding-right: 0.75rem;
}
@media (max-width: 767px) {
  .social-menu {
    border-left: none;
  }
}
@media (max-width: 767px) {
  .social-menu {
    padding: 0;
  }
}
.social-menu li {
  padding: 6px;
  padding: 0.375rem;
}
@media (max-width: 983px) {
  .social-menu {
    padding: 6px 6px;
    padding: 0.375rem 0.375rem;
  }
}
