/* proSilver WP Content Styles
---------------------------------------- */

body {
	background-image:url(images/header-bg.jpg);
	background-repeat:repeat-x;
}

a#wp-logo {
	background:url(images/decoration.png) no-repeat left -396px;
	display:block;
	float:left;
	height:58px;
	text-indent:-9999px;
	width:195px;
}

/* Navagation styles - contains the styles that make up the primary navigation: useually contained within the header */
/* @group -navagation */

ul#wp-nav {
	float:right;
	margin-top:13px;
}

ul#wp-nav li {
	margin:0 6px;
}

ul#wp-nav li a {
	color:#000;
	display:block;
	font-weight:700;
	margin-left:10px;
	padding:10px 10px 10px 0;
	text-shadow:rgba(0, 0, 0, 0.5) 1px 1px 2px;
	text-transform:uppercase;
	font-family:"Lucida Grande", Lucida, Verdana, Helvetica, sans-serif;
	font-weight:700;
}

ul#wp-nav li:hover a, ul#nav li.current_page_item a, div#newsheader ul#nav li.page-item-141 a {
	background:url(images/decoration.png) no-repeat right -32px;
	color:#FFF;
}

ul#wp-nav li:hover, ul#nav li.current_page_item, div#newsheader ul#nav li.page-item-141  {
	background:url(images/decoration.png) no-repeat left top;
}

/* @end -navigation */