/*------------------------------------*\
    THEME.LESS
\*------------------------------------*/
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
.forum-search .input-group {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 *  Override content-box in Normalize (* isn't specific enough)
 */
.input-search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 *  Placeholder text gets special styles because when browsers invalidate entire lines it doesn't understand a selector
 */
select:focus,
textarea:focus,
input:focus {
  border-color: #0a8ed0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
select:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  color: #BC2A4D;
}
select:focus::-moz-placeholder,
textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  color: #BC2A4D;
}
select:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  color: #BC2A4D;
}
select:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: #BC2A4D;
}
select:-moz-placeholder,
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #b3b3b3;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #b3b3b3;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #b3b3b3;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #b3b3b3;
}
a {
  color: #105289;
  text-decoration: none;
}
a:hover {
  color: #D31141;
  text-decoration: none;
}
a .fa:after {
  padding-right: 3px;
}
.wrapper {
  margin: 20px;
}
.action-bar:before,
.action-bar:after {
  content: " ";
  display: table;
}
.action-bar:after {
  clear: both;
}
.button-section {
  margin-top: 135px;
}
.dropdown {
  position: relative;
}
/**
 * Navbar Nav Sub
 *
 * standard sub mebu styles
 */
.dropdown-menu {
  background-color: #ffffff;
  list-style: none;
  display: block;
  float: left;
  left: 1;
  position: absolute;
  z-index: 1020;
  margin: 1px 0 0;
  padding: 0;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  width: 224px;
}
.dropdown-menu > li > a {
  display: block;
  clear: both;
  padding: 6px 15px;
  white-space: nowrap;
}
.dropdown-menu > li > a .icon,
.dropdown-menu > li > a .octicons {
  padding-right: 6px;
}
.button {
  /* Text */
  font-size: 14px;
  font-family: 'Open Sans', 'Droid Sans', sans-serif, Verdana, Arial, Helvetica;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Decoration */
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e9e9e9, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0);
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
  box-shadow: 0 0 0 1px #ffffff inset;
  color: #BC2A4D;
  cursor: pointer;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /* Layout */
  display: inline-block;
  margin: 0;
  padding: 5px 8px;
}
.button:hover {
  text-decoration: none;
  border-color: #0a8ed0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e9e9e9), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e9e9e9, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #e9e9e9 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#ffffff', GradientType=0);
  color: #BC2A4D;
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px -1px 0 rgba(188, 42, 77, 0.2);
}
.button span {
  font-size: 14px;
  font-weight: 600;
  padding-right: 3px;
}
.button .fa {
  color: #C7C3BF;
  padding: 0;
}
.button strong {
  color: #0a8ed0;
}
.button:active,
.button:focus {
  outline: none;
}
.button:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button:hover .fa {
  color: #0a8ed0;
}
@media (max-width: 45em) {
  .button .text {
    display: none;
  }
  .button .fa {
    color: #BC2A4D;
  }
  .input-group .button .fa {
    color: #C7C3BF;
  }
}
.input {
  /* Text */
  font-size: 14px;
  font-family: 'Open Sans', 'Droid Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.462;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Decoration */
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
  color: #BC2A4D;
  cursor: pointer;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-appearence: none;
  /* Layout */
  display: inline-block;
  height: 26px;
  margin: 0;
  padding: 5px 8px;
}
.input-group button {
  background-color: #ffffff;
  background-image: none;
  border: 0;
  margin-left: -36px;
}
.input-group button:hover {
  background-color: #ffffff;
  background-image: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  border-color: #b3b3b3;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
  box-shadow: 0 0 0 1px #ffffff inset;
  color: #C7C3BF;
  text-shadow: none;
}
.list-inline,
.list-inline ul,
.list-inline ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-inline > li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}
.forum-search,
.pagination {
  display: inline-block;
}
.action-left {
  float: left;
  width: auto;
}
.action-right {
  text-align: right;
  vertical-align: middle;
  float: right;
  width: auto;
}
.pagination li {
  padding: 0;
}
.pagination li a,
.pagination li.active span {
  /* Text */
  font-size: 14px;
  font-family: 'Open Sans', 'Droid Sans', sans-serif, Verdana, Arial, Helvetica;
  font-weight: normal;
  line-height: normal;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Decoration */
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e9e9e9, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e9e9e9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0);
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
  box-shadow: 0 0 0 1px #ffffff inset;
  color: #BC2A4D;
  cursor: pointer;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /* Layout */
  padding: 2px 3px;
  margin: 0;
}
.pagination li a:hover,
.pagination li.active span {
  text-decoration: none;
  background-color: #0a8ed0;
  background-image: none;
  border-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}
@media (max-width: 45em) {
  .pagination {
    display: none;
  }
  .pagination-mobile {
    display: inline-block;
  }
}
@media (min-width: 45em) {
  .pagination-mobile {
    display: none;
  }
}
section {
  padding: 20px 0;
}
section:before,
section:after {
  content: " ";
  display: table;
}
section:after {
  clear: both;
}
.icon-display {
  list-style-type: none;
  font-size: 24px;
}
.icon-display li {
  padding: 3px 0;
}
.fa-hot {
  color: #f1c40f;
}
.fa-locked {
  color: #e74c3c;
}
/**
 * This is the icon next to the forum title
 */
.mine {
  vertical-align: middle;
  background-color: #3498db;
  border: 1px solid #44677e;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-top: -3px;
  position: relative;
  width: 8px;
}
