/*------------------------------------*\
    $MODULE-BUTTON
\*------------------------------------*/
/**
 * Base button element.
 *
 * 1. Make buttons inherit font styles.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Basic cosmetics for default buttons. Change or override at will.
 * 5. Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
 * 6. Force all elements using buttons to appear clickable.
 * 7. Allow us to better style box model properties.
 * 7. Normalise box model styles.
 * 8. Apply consistent spacing based on font size.
 * 9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
  /* Text */
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 1px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Decoration */
  background-color: #f4726d;
  background-image: none;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /* Layout */
  display: inline-block;
  padding: 12px 18px;
}
.btn:hover {
  text-decoration: none;
  background-color: #f14d47;
  color: #ffffff;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn span {
  margin-left: 6px;
}
/**
 * Button Clear
 *
 * Inverts the button effect where it is outlined instead at first and on hover
 * is filled in as in IOS7
 */
.btn.clear {
  background: none;
  border: 2px solid #f4726d;
  color: #f4726d;
  padding: 10px 16px;
}
.btn.clear:hover,
.btn.clear:focus {
  background: #f4726d;
  color: #ffffff;
}
.btn.clear:active,
.btn.clear.active {
  border-color: #cf615d;
  background: #cf615d;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**
 * Button font-size modifiers.
 */
.btn-alpha {
  font-size: 54px;
  font-size: 3.375em;
}
.btn-beta {
  font-size: 42px;
  font-size: 2.625em;
}
.btn-gamma {
  font-size: 36px;
  font-size: 2.25em;
}
.btn-delta {
  font-size: 24px;
  font-size: 1.5em;
}
.btn-epsilon {
  font-size: 21px;
  font-size: 1.3125em;
}
.btn-zeta {
  font-size: 18px;
  font-size: 1.125em;
}
/**
 * Button Wide
 */
.btn-wide {
  min-width: 144;
  padding-left: 24;
  padding-right: 24;
}
/**
 * Social Buttons
 */
.btn-delicious {
  background-color: #3399ff !important;
}
.btn-delicious:hover {
  background-color: #337ac2 !important;
}
.btn-delicious.btn-clear {
  background: none !important;
  border: 2px solid #3399ff !important;
  color: #3399ff !important;
  padding: 12px 18px;
}
.btn-delicious.btn-clear:hover,
.btn-delicious.btn-clear:focus {
  background: #3399ff !important;
  color: #ffffff !important;
}
.btn-delicious.btn-clear:active,
.btn-delicious.btn-clear.active {
  border-color: #2b82d9 !important;
  background: #2b82d9 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-digg {
  background-color: #070707 !important;
}
.btn-digg:hover {
  background-color: #515151 !important;
}
.btn-digg.btn-clear {
  background: none !important;
  border: 2px solid #070707 !important;
  color: #070707 !important;
  padding: 12px 18px;
}
.btn-digg.btn-clear:hover,
.btn-digg.btn-clear:focus {
  background: #070707 !important;
  color: #ffffff !important;
}
.btn-digg.btn-clear:active,
.btn-digg.btn-clear.active {
  border-color: #060606 !important;
  background: #060606 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-evernote {
  background-color: #7fce2c !important;
}
.btn-evernote:hover {
  background-color: #68a02e !important;
}
.btn-evernote.btn-clear {
  background: none !important;
  border: 2px solid #7fce2c !important;
  color: #7fce2c !important;
  padding: 12px 18px;
}
.btn-evernote.btn-clear:hover,
.btn-evernote.btn-clear:focus {
  background: #7fce2c !important;
  color: #ffffff !important;
}
.btn-evernote.btn-clear:active,
.btn-evernote.btn-clear.active {
  border-color: #6caf25 !important;
  background: #6caf25 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-facebook {
  background-color: #2f5890 !important;
}
.btn-facebook:hover {
  background-color: #6d8ab1 !important;
}
.btn-facebook.btn-clear {
  background: none !important;
  border: 2px solid #2f5890 !important;
  color: #2f5890 !important;
  padding: 12px 18px;
}
.btn-facebook.btn-clear:hover,
.btn-facebook.btn-clear:focus {
  background: #2f5890 !important;
  color: #ffffff !important;
}
.btn-facebook.btn-clear:active,
.btn-facebook.btn-clear.active {
  border-color: #284b7a !important;
  background: #284b7a !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-github {
  background-color: #333333 !important;
}
.btn-github:hover {
  background-color: #7aa8d6 !important;
}
.btn-github.btn-clear {
  background: none !important;
  border: 2px solid #4183c4 !important;
  color: #4183c4 !important;
  padding: 12px 18px;
}
.btn-github.btn-clear:hover,
.btn-github.btn-clear:focus {
  background: #4183c4 !important;
  color: #ffffff !important;
}
.btn-github.btn-clear:active,
.btn-github.btn-clear.active {
  border-color: #376fa7 !important;
  background: #376fa7 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-gmail {
  background-color: #c92527 !important;
}
.btn-gmail:hover {
  background-color: #d96668 !important;
}
.btn-gmail.btn-clear {
  background: none !important;
  border: 2px solid #c92527 !important;
  color: #c92527 !important;
  padding: 12px 18px;
}
.btn-gmail.btn-clear:hover,
.btn-gmail.btn-clear:focus {
  background: #c92527 !important;
  color: #ffffff !important;
}
.btn-gmail.btn-clear:active,
.btn-gmail.btn-clear.active {
  border-color: #ab1f21 !important;
  background: #ab1f21 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-gplus {
  background-color: #cf4b33 !important;
}
.btn-gplus:hover {
  background-color: #dd8170 !important;
}
.btn-gplus.btn-clear {
  background: none !important;
  border: 2px solid #cf4b33 !important;
  color: #cf4b33 !important;
  padding: 12px 18px;
}
.btn-gplus.btn-clear:hover,
.btn-gplus.btn-clear:focus {
  background: #cf4b33 !important;
  color: #ffffff !important;
}
.btn-gplus.btn-clear:active,
.btn-gplus.btn-clear.active {
  border-color: #b0402b !important;
  background: #b0402b !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-linkedin {
  background-color: #4897c9 !important;
}
.btn-linkedin:hover {
  background-color: #42799c !important;
}
.btn-linkedin.btn-clear {
  background: none !important;
  border: 2px solid #4897c9 !important;
  color: #4897c9 !important;
  padding: 12px 18px;
}
.btn-linkedin.btn-clear:hover,
.btn-linkedin.btn-clear:focus {
  background: #4897c9 !important;
  color: #ffffff !important;
}
.btn-linkedin.btn-clear:active,
.btn-linkedin.btn-clear.active {
  border-color: #3d80ab !important;
  background: #3d80ab !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-pinterest {
  background-color: #c92527 !important;
}
.btn-pinterest:hover {
  background-color: #d96668 !important;
}
.btn-pinterest.btn-clear {
  background: none !important;
  border: 2px solid #c92527 !important;
  color: #c92527 !important;
  padding: 12px 18px;
}
.btn-pinterest.btn-clear:hover,
.btn-pinterest.btn-clear:focus {
  background: #c92527 !important;
  color: #ffffff !important;
}
.btn-pinterest.btn-clear:active,
.btn-pinterest.btn-clear.active {
  border-color: #ab1f21 !important;
  background: #ab1f21 !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-tumblr {
  background-color: #2f5070 !important;
}
.btn-tumblr:hover {
  background-color: #6d859b !important;
}
.btn-tumblr.btn-clear {
  background: none !important;
  border: 2px solid #2f5070 !important;
  color: #2f5070 !important;
  padding: 12px 18px;
}
.btn-tumblr.btn-clear:hover,
.btn-tumblr.btn-clear:focus {
  background: #2f5070 !important;
  color: #ffffff !important;
}
.btn-tumblr.btn-clear:active,
.btn-tumblr.btn-clear.active {
  border-color: #28445f !important;
  background: #28445f !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-twitter {
  background-color: #00bdef !important;
}
.btn-twitter:hover {
  background-color: #0f94b7 !important;
}
.btn-twitter.btn-clear {
  background: none !important;
  border: 2px solid #00bdef !important;
  color: #00bdef !important;
  padding: 12px 18px;
}
.btn-twitter.btn-clear:hover,
.btn-twitter.btn-clear:focus {
  background: #00bdef !important;
  color: #ffffff !important;
}
.btn-twitter.btn-clear:active,
.btn-twitter.btn-clear.active {
  border-color: #00a1cb !important;
  background: #00a1cb !important;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-reddit {
  color: #333333 !important;
  background-color: #ff4500 !important;
}
.btn-reddit:hover {
  color: #ffffff !important;
  background-color: #c2400f !important;
}
