<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        
        <meta name="keywords" content="keywords">
        <meta name="description" content="description">
        <meta name="author" content="author">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->
        <link rel="stylesheet" href="assets/css/style.css">
                
        <link rel="shortcut icon" href="favicon.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="wrapper">
        <header class="header intro">
            <section class="intro-nav grid">
                <!-- Mobile Nav -->
                <nav class="grid nav visible-s">
                    <ul class="list-inline grid-row">
                        <li class="grid-s-4 text-center"><a href="archives.html" title="archives"><i class="icon icon-cloud"></i></a></li>
                        <li class="grid-s-4 text-center"><a href="about.html" title="about"><i class="icon icon-user"></i></a></li>
                        <li class="grid-s-4 text-center"><a href="contact.html" title="contact"><i class="icon icon-mail"></i></a></li>
                    </ul>
                </nav>
                <!-- Brand -->
                <a class="intro-brand" href="index.html"><img src="assets/img/branding.png" width="48px" height="48px">MIDAYM</a>
                <!-- Normal Nav -->
                <nav class="nav pull-right hidden-s">
                    <ul class="list-inline">
                        <li><a href="archives.html" title="archives"><i class="icon icon-cloud"></i></a></li>
                        <li><a href="about.html" title="about"><i class="icon icon-user"></i></a></li>
                        <li><a href="contact.html" title="contact"><i class="icon icon-mail"></i></a></li>
                    </ul>
                </nav>
            </section>
            <hgroup class="grid">
                <h1 class="intro-lead">
                    The Playground
                    <small>
                        My name is Mike Miday <br /> Designer, Developer & Front-End Creative Master
                    </small>
                </h1>
            </hgroup>
        </header>

        <div class="posts">
            <section class="yellow">
                <div class="grid">
                    <div class="row">
                        <article class="post post-odd grid-s-12 grid-m-12 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn"><i class="icon icon-cloud-download"></i> <span>Finish Reading!</span></a>
                        </article>
                        <aside class="post-featured hidden-s grid-m-12 grid-l-push-1 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                    </div>
                </div>
            </section>

            <section class="blue">
                <div class="grid">
                    <div class="row">
                        <aside class="post-featured hidden-s hidden-m grid-m-12 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                        <article class="post post-even grid-s-12 grid-m-12 grid-l-push-1 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                            <aside class="post-featured visible-m grid-m-12">
                                <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                            </aside>
                        </article>
                    </div>
                </div>
            </section>

            <section class="red">
                <div class="grid">
                    <div class="row">
                        <article class="post post-odd grid-s-12 grid-m-12 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                        </article>
                        <aside class="post-featured hidden-s grid-m-12 grid-l-push-1 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                    </div>
                </div>
            </section>

            <section class="white">
                <div class="grid">
                    <div class="row">
                        <aside class="post-featured hidden-s hidden-m grid-m-12 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                        <article class="post post-even grid-s-12 grid-m-12 grid-l-push-1 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                            <aside class="post-featured visible-m grid-m-12">
                                <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                            </aside>
                        </article>
                    </div>
                </div>
            </section>

            <section class="green">
                <div class="grid">
                    <div class="row">
                        <article class="post post-odd grid-s-12 grid-m-12 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                        </article>
                        <aside class="post-featured hidden-s grid-m-12 grid-l-push-1 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                    </div>
                </div>
            </section>

            <section class="black">
                <div class="grid">
                    <div class="row">
                        <aside class="post-featured hidden-s hidden-m grid-m-12 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                        <article class="post post-even grid-s-12 grid-m-12 grid-l-push-1 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                            <aside class="post-featured visible-m grid-m-12">
                                <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                            </aside>
                        </article>
                    </div>
                </div>
            </section>

            <section class="orange">
                <div class="grid">
                    <div class="row">
                        <article class="post post-odd grid-s-12 grid-m-12 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                        </article>
                        <aside class="post-featured hidden-s grid-m-12 grid-l-push-1 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                    </div>
                </div>
            </section>

            <section class="gray">
                <div class="grid">
                    <div class="row">
                        <aside class="post-featured hidden-s hidden-m grid-m-12 grid-l-4">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                        <article class="post post-even grid-s-12 grid-m-12 grid-l-push-1 grid-l-7">
                            <p class="post-date">
                                <span class="post-day">Jul<br />24</span>
                            </p>
                            <h2 class="post-title">
                                Frameing Mino
                                <small>
                                    Responsive, SMACSS, Bare-Bone, Bootstrap 3.0
                                </small>
                            </h2>
                            <p>
                                When coming up with the best solution for working with the front-end devlopment of a major web application, there are alot of factors to take into account. By establishing the requirments for both devlopment and releaseability. We can then begin to determine what is needed out of a front-end workflow. Once we establish the workflow we can determine what best way to utilize a framework. Can we use one of the existing ones? Do we need to build our own fully tailor framework? Can we customize an existing one to fit our needs. These are the major questions that I wayed when determining the best approach to utilizing a framework.
                            </p>
                            <a href="post.html" class="btn">Finish Reading!</a>
                        </article>
                        <aside class="post-featured visible-m grid-m-12">
                            <img class="featured" src="assets/img/post-img-default.jpg" alt="title" />
                        </aside>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <section class="grid">
                <article class="bottom grid-row">
                    <div class="bottom-copyright grid-s-12 grid-m-7">
                        &copy; Copyright 2013 MIDAYM. All Right Reserved.</span>
                        <ul class="bottom-social list-inline">
                            <li><a href="http://www.flickr.com/photos/midaym/" title="Flickr"><i class="icon icon-flickr"></i></a></li>
                            <li><a href="https://twitter.com/midaym" title="Twitter"><i class="icon icon-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/Midaymcom" title="Facebook"><i class="icon icon-facebook"></i></a></li>
                            <li><a href="https://github.com/hanakin" title="Github"><i class="icon icon-github"></i></a></li>
                            <li><a href="http://www.linkedin.com/pub/mike-miday/16/694/4ba" title="Linked In"><i class="icon icon-linkedin"></i></a></li>
                            <li><a href="https://plus.google.com/105826784814723673348" title="Google+"><i class="icon icon-google"></i></a></li>                                        
                        </ul>
                    </div>
                    
                    <ul class="bottom-menu grid-s-12 grid-m-4 list-inline">
                        <li><a href="archives.html" title="archives">Archives</a></li>
                        <li><a href="about.html" title="about">About</a></li>
                        <li><a href="contact.html" title="contact">Contact</a></li>                                     
                    </ul>
                    <p class="bottom-logo grid-s-12 grid-m-1"><a href="index.html" title="Midaym"><i class="icon icon-midaym1"></i></a></p>
                </article>
            </section>
        </footer>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> 
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script> -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <?php echo stripslashes($tracking_code) ?> -->
    </div>
    </body>
</html>


